등록일원부 자동생성 - 수업종료/workflow.json
{
  "updatedAt": "2026-03-15T04:44:11.528Z",
  "createdAt": "2026-03-05T11:42:54.670Z",
  "id": "BrZ88oo3KRKccX0g",
  "name": "등록일원부 자동생성 - 수업종료",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-01",
      "name": "Notion Trigger - Student_Study 변경 감지",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        300
      ],
      "parameters": {
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "2d0c6a06e17e81188ce1dd2f76406aa1",
          "mode": "id"
        },
        "simple": false
      }
    },
    {
      "id": "code-01",
      "name": "Code - 종료 체크 및 데이터 추출",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        300
      ],
      "parameters": {
        "jsCode": "const page = $input.first().json;\nconst props = page.properties || {};\n\nconst isEnded = props['수업완료']?.checkbox === true;\nif (!isEnded) return [];\n\nconst sessionItems = props['수업회차']?.multi_select || [];\nconst sessionItem = sessionItems.find(s => /\\d/.test(s.name));\nconst sessionCount = sessionItem ? parseInt(sessionItem.name) : null;\n\nconst bunArr = props['수업구분']?.rollup?.array || [];\nconst bunName = bunArr[0]?.select?.name || '';\nconst classCount = parseInt(bunName.replace(/[^0-9]/g, '')) || null;\n\nif (sessionCount === null || classCount === null) return [];\nif (sessionCount !== classCount) return [];\n\nconst studentPageId = props['Students']?.relation?.[0]?.id || '';\nif (!studentPageId) return [];\nconst classPageId = props['Class']?.relation?.[0]?.id || '';\nif (!classPageId) return [];\n\nconst rollupArr = props['다음수업일']?.rollup?.array || [];\nconst dateStr = rollupArr[0]?.formula?.string || '';\nlet isoDate = new Date().toISOString().split('T')[0];\nif (dateStr) {\n  const m = dateStr.match(/(\\d{4})년\\s*(\\d{1,2})월\\s*(\\d{1,2})일/);\n  if (m) isoDate = `${m[1]}-${String(m[2]).padStart(2,'0')}-${String(m[3]).padStart(2,'0')}`;\n}\n\nconst year = String(new Date().getFullYear()).slice(2);\nreturn [{ json: { studentPageId, classPageId, isoDate, year } }];"
      }
    },
    {
      "id": "notion-01",
      "name": "Notion - Class 수업료 조회",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -80,
        300
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.classPageId }}",
          "mode": "id"
        },
        "simple": false,
        "options": {}
      }
    },
    {
      "id": "code-02",
      "name": "Code - 수업료 추출",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        300
      ],
      "parameters": {
        "jsCode": "const classData = $json;\nconst prev = $('Code - 종료 체크 및 데이터 추출').item.json;\nconst fee = classData.properties?.['수업료']?.number || 0;\nreturn [{ json: { ...prev, fee } }];"
      }
    },
    {
      "id": "notion-01b",
      "name": "Notion - Students 이름 조회",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        440,
        300
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.studentPageId }}",
          "mode": "id"
        },
        "simple": false,
        "options": {}
      }
    },
    {
      "id": "code-02b",
      "name": "Code - 이름 병합",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "jsCode": "const studentData = $json;\nconst prev = $('Code - 수업료 추출').item.json;\nconst studentName = studentData.properties?.['이름']?.title?.[0]?.plain_text || '';\nreturn [{ json: { ...prev, studentName } }];"
      }
    },
    {
      "id": "http-01",
      "name": "HTTP - 납부회차 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/55aac51e739c4f8e870903cb1eb252b6/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"property\": \"Students\",\n    \"relation\": {\n      \"contains\": \"{{ $json.studentPageId }}\"\n    }\n  }\n}",
        "options": {}
      }
    },
    {
      "id": "code-03",
      "name": "Code - 납부회차 계산",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        300
      ],
      "parameters": {
        "jsCode": "const prev = $('Code - 이름 병합').item.json;\nconst { studentName, studentPageId, isoDate, year, fee } = prev;\nconst pages = $input.first().json.results || [];\n\nconst records = pages.filter(p => (p.properties?.['납부회차']?.select?.name || '').startsWith(year));\nconst nums = records.map(p => parseInt((p.properties?.['납부회차']?.select?.name || '').slice(2), 10) || 0);\nconst maxSeq = nums.length > 0 ? Math.max(...nums) : -1;\nconst seq = String(maxSeq + 1).padStart(2, '0');\nconst paySeq = year + seq;\nconst recordName = `${studentName} | ${paySeq}`;\n\nreturn [{ json: { studentPageId, fee, isoDate, paySeq, recordName } }];"
      }
    },
    {
      "id": "http-02",
      "name": "HTTP - 등록일원부 레코드 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": { \"database_id\": \"55aac51e-739c-4f8e-8709-03cb1eb252b6\" },\n  \"properties\": {\n    \"이름\": {\n      \"title\": [{ \"text\": { \"content\": \"{{ $json.recordName }}\" } }]\n    },\n    \"Students\": {\n      \"relation\": [{ \"id\": \"{{ $json.studentPageId }}\" }]\n    },\n    \"납부회차\": {\n      \"select\": { \"name\": \"{{ $json.paySeq }}\" }\n    },\n    \"수업료\": {\n      \"number\": {{ $json.fee }}\n    },\n    \"등록일\": {\n      \"date\": { \"start\": \"{{ $json.isoDate }}\" }\n    }\n  }\n}",
        "options": {}
      }
    },
    {
      "id": "status-success",
      "name": "✅ 상태 업데이트 (성공)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1700,
        300
      ],
      "parameters": {
        "workflowId": "eOopB5bbEEO9rjrg",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "workflowId": "BrZ88oo3KRKccX0g",
            "workflowName": "등록일원부 자동생성 - 수업종료",
            "notionPageId": "323c6a06e17e81b6b0a5d91342537f5c",
            "status": "✅ 정상"
          }
        }
      }
    },
    {
      "id": "error-trigger",
      "name": "❌ 에러 감지",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        700,
        500
      ],
      "parameters": {}
    },
    {
      "id": "status-error",
      "name": "❌ 상태 업데이트 (에러)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        920,
        500
      ],
      "parameters": {
        "workflowId": "eOopB5bbEEO9rjrg",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "workflowId": "BrZ88oo3KRKccX0g",
            "workflowName": "등록일원부 자동생성 - 수업종료",
            "notionPageId": "323c6a06e17e81b6b0a5d91342537f5c",
            "status": "❌ 에러",
            "errorMessage": "={{ $json.error.message }}"
          }
        }
      }
    },
    {
      "id": "manual-note",
      "name": "📋 워크플로우 메뉴얼",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -840,
        160
      ],
      "parameters": {
        "content": "## 📋 등록일원부 자동생성 메뉴얼\n\n### 🔗 노션 메뉴얼\nhttps://www.notion.so/323c6a06e17e81b6b0a5d91342537f5c\n\n---\n\n### ⚙️ 개요\n- **트리거**: Notion Trigger (Student_Study 변경)\n- **목적**: 수업 종료 시 등록일원부 자동 생성\n\n### 🔧 주요 수정 포인트\n1. 수업료 조회 조건 → `Notion - Class 수업료 조회`\n2. 납부회차 계산 → `Code - 납부회차 계산`\n3. DB ID → `HTTP - 등록일원부 레코드 생성`",
        "height": 280,
        "width": 340,
        "color": 4
      }
    }
  ],
  "connections": {
    "Notion Trigger - Student_Study 변경 감지": {
      "main": [
        [
          {
            "node": "Code - 종료 체크 및 데이터 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - 종료 체크 및 데이터 추출": {
      "main": [
        [
          {
            "node": "Notion - Class 수업료 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - Class 수업료 조회": {
      "main": [
        [
          {
            "node": "Code - 수업료 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - 수업료 추출": {
      "main": [
        [
          {
            "node": "Notion - Students 이름 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - Students 이름 조회": {
      "main": [
        [
          {
            "node": "Code - 이름 병합",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - 이름 병합": {
      "main": [
        [
          {
            "node": "HTTP - 납부회차 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - 납부회차 조회": {
      "main": [
        [
          {
            "node": "Code - 납부회차 계산",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - 납부회차 계산": {
      "main": [
        [
          {
            "node": "HTTP - 등록일원부 레코드 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - 등록일원부 레코드 생성": {
      "main": [
        [
          {
            "node": "✅ 상태 업데이트 (성공)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ 에러 감지": {
      "main": [
        [
          {
            "node": "❌ 상태 업데이트 (에러)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Notion Trigger - Student_Study 변경 감지": {
      "lastTimeChecked": "2026-03-15T12:28:00.000Z",
      "possibleDuplicates": [
        "317c6a06-e17e-812b-91ed-d0101e0d5571"
      ]
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "04fde1f6-9e5e-4b87-a474-1fcbfc290931",
  "activeVersionId": "04fde1f6-9e5e-4b87-a474-1fcbfc290931",
  "versionCounter": 158,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-07T11:22:50.977Z",
      "createdAt": "2026-03-07T11:22:50.977Z",
      "role": "workflow:owner",
      "workflowId": "BrZ88oo3KRKccX0g",
      "projectId": "8znYa8Ca7GWeBy0m",
      "project": {
        "updatedAt": "2025-11-29T23:05:56.637Z",
        "createdAt": "2025-11-29T23:04:07.777Z",
        "id": "8znYa8Ca7GWeBy0m",
        "name": "Seung Hyeon Kim <khai01@naver.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-15T04:44:11.530Z",
    "createdAt": "2026-03-15T04:44:11.530Z",
    "versionId": "04fde1f6-9e5e-4b87-a474-1fcbfc290931",
    "workflowId": "BrZ88oo3KRKccX0g",
    "nodes": [
      {
        "id": "trigger-01",
        "name": "Notion Trigger - Student_Study 변경 감지",
        "type": "n8n-nodes-base.notionTrigger",
        "typeVersion": 1,
        "position": [
          -600,
          300
        ],
        "parameters": {
          "event": "pagedUpdatedInDatabase",
          "databaseId": {
            "__rl": true,
            "value": "2d0c6a06e17e81188ce1dd2f76406aa1",
            "mode": "id"
          },
          "simple": false
        },
        "credentials": {
          "notionApi": {
            "id": "MAYBu1lbKiMiquHV",
            "name": "n8n-Math4U"
          }
        }
      },
      {
        "id": "code-01",
        "name": "Code - 종료 체크 및 데이터 추출",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -340,
          300
        ],
        "parameters": {
          "jsCode": "const page = $input.first().json;\nconst props = page.properties || {};\n\nconst isEnded = props['수업완료']?.checkbox === true;\nif (!isEnded) return [];\n\nconst sessionItems = props['수업회차']?.multi_select || [];\nconst sessionItem = sessionItems.find(s => /\\d/.test(s.name));\nconst sessionCount = sessionItem ? parseInt(sessionItem.name) : null;\n\nconst bunArr = props['수업구분']?.rollup?.array || [];\nconst bunName = bunArr[0]?.select?.name || '';\nconst classCount = parseInt(bunName.replace(/[^0-9]/g, '')) || null;\n\nif (sessionCount === null || classCount === null) return [];\nif (sessionCount !== classCount) return [];\n\nconst studentPageId = props['Students']?.relation?.[0]?.id || '';\nif (!studentPageId) return [];\nconst classPageId = props['Class']?.relation?.[0]?.id || '';\nif (!classPageId) return [];\n\nconst rollupArr = props['다음수업일']?.rollup?.array || [];\nconst dateStr = rollupArr[0]?.formula?.string || '';\nlet isoDate = new Date().toISOString().split('T')[0];\nif (dateStr) {\n  const m = dateStr.match(/(\\d{4})년\\s*(\\d{1,2})월\\s*(\\d{1,2})일/);\n  if (m) isoDate = `${m[1]}-${String(m[2]).padStart(2,'0')}-${String(m[3]).padStart(2,'0')}`;\n}\n\nconst year = String(new Date().getFullYear()).slice(2);\nreturn [{ json: { studentPageId, classPageId, isoDate, year } }];"
        }
      },
      {
        "id": "notion-01",
        "name": "Notion - Class 수업료 조회",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          -80,
          300
        ],
        "parameters": {
          "resource": "databasePage",
          "operation": "get",
          "pageId": {
            "__rl": true,
            "value": "={{ $json.classPageId }}",
            "mode": "id"
          },
          "simple": false,
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "MAYBu1lbKiMiquHV",
            "name": "n8n-Math4U"
          }
        }
      },
      {
        "id": "code-02",
        "name": "Code - 수업료 추출",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          180,
          300
        ],
        "parameters": {
          "jsCode": "const classData = $json;\nconst prev = $('Code - 종료 체크 및 데이터 추출').item.json;\nconst fee = classData.properties?.['수업료']?.number || 0;\nreturn [{ json: { ...prev, fee } }];"
        }
      },
      {
        "id": "notion-01b",
        "name": "Notion - Students 이름 조회",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          440,
          300
        ],
        "parameters": {
          "resource": "databasePage",
          "operation": "get",
          "pageId": {
            "__rl": true,
            "value": "={{ $json.studentPageId }}",
            "mode": "id"
          },
          "simple": false,
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "MAYBu1lbKiMiquHV",
            "name": "n8n-Math4U"
          }
        }
      },
      {
        "id": "code-02b",
        "name": "Code - 이름 병합",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          700,
          300
        ],
        "parameters": {
          "jsCode": "const studentData = $json;\nconst prev = $('Code - 수업료 추출').item.json;\nconst studentName = studentData.properties?.['이름']?.title?.[0]?.plain_text || '';\nreturn [{ json: { ...prev, studentName } }];"
        }
      },
      {
        "id": "http-01",
        "name": "HTTP - 납부회차 조회",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          960,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.notion.com/v1/databases/55aac51e739c4f8e870903cb1eb252b6/query",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "notionApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"filter\": {\n    \"property\": \"Students\",\n    \"relation\": {\n      \"contains\": \"{{ $json.studentPageId }}\"\n    }\n  }\n}",
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "MAYBu1lbKiMiquHV",
            "name": "n8n-Math4U"
          }
        }
      },
      {
        "id": "code-03",
        "name": "Code - 납부회차 계산",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1220,
          300
        ],
        "parameters": {
          "jsCode": "const prev = $('Code - 이름 병합').item.json;\nconst { studentName, studentPageId, isoDate, year, fee } = prev;\nconst pages = $input.first().json.results || [];\n\nconst records = pages.filter(p => (p.properties?.['납부회차']?.select?.name || '').startsWith(year));\nconst nums = records.map(p => parseInt((p.properties?.['납부회차']?.select?.name || '').slice(2), 10) || 0);\nconst maxSeq = nums.length > 0 ? Math.max(...nums) : -1;\nconst seq = String(maxSeq + 1).padStart(2, '0');\nconst paySeq = year + seq;\nconst recordName = `${studentName} | ${paySeq}`;\n\nreturn [{ json: { studentPageId, fee, isoDate, paySeq, recordName } }];"
        }
      },
      {
        "id": "http-02",
        "name": "HTTP - 등록일원부 레코드 생성",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1480,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.notion.com/v1/pages",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "notionApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"parent\": { \"database_id\": \"55aac51e-739c-4f8e-8709-03cb1eb252b6\" },\n  \"properties\": {\n    \"이름\": {\n      \"title\": [{ \"text\": { \"content\": \"{{ $json.recordName }}\" } }]\n    },\n    \"Students\": {\n      \"relation\": [{ \"id\": \"{{ $json.studentPageId }}\" }]\n    },\n    \"납부회차\": {\n      \"select\": { \"name\": \"{{ $json.paySeq }}\" }\n    },\n    \"수업료\": {\n      \"number\": {{ $json.fee }}\n    },\n    \"등록일\": {\n      \"date\": { \"start\": \"{{ $json.isoDate }}\" }\n    }\n  }\n}",
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "MAYBu1lbKiMiquHV",
            "name": "n8n-Math4U"
          }
        }
      },
      {
        "id": "status-success",
        "name": "✅ 상태 업데이트 (성공)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          1700,
          300
        ],
        "parameters": {
          "workflowId": "eOopB5bbEEO9rjrg",
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "workflowId": "BrZ88oo3KRKccX0g",
              "workflowName": "등록일원부 자동생성 - 수업종료",
              "notionPageId": "323c6a06e17e81b6b0a5d91342537f5c",
              "status": "✅ 정상"
            }
          }
        }
      },
      {
        "id": "error-trigger",
        "name": "❌ 에러 감지",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          700,
          500
        ],
        "parameters": {}
      },
      {
        "id": "status-error",
        "name": "❌ 상태 업데이트 (에러)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          920,
          500
        ],
        "parameters": {
          "workflowId": "eOopB5bbEEO9rjrg",
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "workflowId": "BrZ88oo3KRKccX0g",
              "workflowName": "등록일원부 자동생성 - 수업종료",
              "notionPageId": "323c6a06e17e81b6b0a5d91342537f5c",
              "status": "❌ 에러",
              "errorMessage": "={{ $json.error.message }}"
            }
          }
        }
      },
      {
        "id": "manual-note",
        "name": "📋 워크플로우 메뉴얼",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -840,
          160
        ],
        "parameters": {
          "content": "## 📋 등록일원부 자동생성 메뉴얼\n\n### 🔗 노션 메뉴얼\nhttps://www.notion.so/323c6a06e17e81b6b0a5d91342537f5c\n\n---\n\n### ⚙️ 개요\n- **트리거**: Notion Trigger (Student_Study 변경)\n- **목적**: 수업 종료 시 등록일원부 자동 생성\n\n### 🔧 주요 수정 포인트\n1. 수업료 조회 조건 → `Notion - Class 수업료 조회`\n2. 납부회차 계산 → `Code - 납부회차 계산`\n3. DB ID → `HTTP - 등록일원부 레코드 생성`",
          "height": 280,
          "width": 340,
          "color": 4
        }
      }
    ],
    "connections": {
      "Notion Trigger - Student_Study 변경 감지": {
        "main": [
          [
            {
              "node": "Code - 종료 체크 및 데이터 추출",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - 종료 체크 및 데이터 추출": {
        "main": [
          [
            {
              "node": "Notion - Class 수업료 조회",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notion - Class 수업료 조회": {
        "main": [
          [
            {
              "node": "Code - 수업료 추출",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - 수업료 추출": {
        "main": [
          [
            {
              "node": "Notion - Students 이름 조회",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notion - Students 이름 조회": {
        "main": [
          [
            {
              "node": "Code - 이름 병합",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - 이름 병합": {
        "main": [
          [
            {
              "node": "HTTP - 납부회차 조회",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP - 납부회차 조회": {
        "main": [
          [
            {
              "node": "Code - 납부회차 계산",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - 납부회차 계산": {
        "main": [
          [
            {
              "node": "HTTP - 등록일원부 레코드 생성",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP - 등록일원부 레코드 생성": {
        "main": [
          [
            {
              "node": "✅ 상태 업데이트 (성공)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "❌ 에러 감지": {
        "main": [
          [
            {
              "node": "❌ 상태 업데이트 (에러)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Seung Hyeon Kim",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-15T04:44:12.196Z",
        "id": 285,
        "workflowId": "BrZ88oo3KRKccX0g",
        "versionId": "04fde1f6-9e5e-4b87-a474-1fcbfc290931",
        "event": "activated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      },
      {
        "createdAt": "2026-03-15T04:44:11.660Z",
        "id": 284,
        "workflowId": "BrZ88oo3KRKccX0g",
        "versionId": "04fde1f6-9e5e-4b87-a474-1fcbfc290931",
        "event": "deactivated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      }
    ]
  }
}