Biz-mecca 납품사례 블로그 자동작성 260310/workflow.json
{
  "updatedAt": "2026-03-16T00:14:11.364Z",
  "createdAt": "2026-03-10T08:47:40.555Z",
  "id": "ruLfwzGZtsmLSD3k",
  "name": "Biz-mecca 납품사례 블로그 자동작성 260310",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "node-form",
      "name": "납품사례 폼 입력",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        300
      ],
      "webhookId": "5dd918cc-ffb9-40e8-ad46-2605573159a8",
      "parameters": {
        "formTitle": "🏷️ 납품사례 블로그 자동작성",
        "formDescription": "납품 정보를 입력하면 네이버 블로그 초안을 자동으로 작성해드립니다.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "제품명",
              "placeholder": "예: 보온 텀블러, 판촉물 가방, 볼펜 세트",
              "requiredField": true
            },
            {
              "fieldLabel": "제품 특징/설명",
              "fieldType": "textarea",
              "placeholder": "예: 스테인리스 보온텀블러 500ml, 로고 인쇄 가능, 색상 3종",
              "requiredField": true
            },
            {
              "fieldLabel": "거래처명",
              "placeholder": "예: OO초등학교, OO기업",
              "requiredField": true
            },
            {
              "fieldLabel": "납품처 유형",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "학교/교육기관"
                  },
                  {
                    "option": "기업/관공서"
                  },
                  {
                    "option": "병원/의료기관"
                  },
                  {
                    "option": "카페/음식점"
                  },
                  {
                    "option": "기타"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "납품 수량",
              "placeholder": "예: 100개, 50세트"
            },
            {
              "fieldLabel": "제품 URL (비즈메카 링크)",
              "placeholder": "http://biz-mecca.com/product_w/..."
            },
            {
              "fieldLabel": "납품 특이사항 / 추가 메모",
              "fieldType": "textarea",
              "placeholder": "예: 로고 인쇄 요청, 빠른 납기 대응 등"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "node-set-inputs",
      "name": "입력값 정리",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0",
              "name": "product_name",
              "value": "={{ $json['제품명'] }}",
              "type": "string"
            },
            {
              "id": "a1",
              "name": "product_desc",
              "value": "={{ $json['제품 특징/설명'] }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "client_name",
              "value": "={{ $json['거래처명'] }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "client_type",
              "value": "={{ $json['납품처 유형'] }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "quantity",
              "value": "={{ $json['납품 수량'] || '미기재' }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "product_url",
              "value": "={{ $json['제품 URL (비즈메카 링크)'] || '' }}",
              "type": "string"
            },
            {
              "id": "a6",
              "name": "memo",
              "value": "={{ $json['납품 특이사항 / 추가 메모'] || '없음' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-jina",
      "name": "제품 URL 크롤링",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ],
      "parameters": {
        "url": "={{ $json.product_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "ko-KR,ko;q=0.9"
            }
          ]
        },
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "disabled": true
    },
    {
      "id": "node-parse-product",
      "name": "제품 정보 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "parameters": {
        "jsCode": "const prev = $('입력값 정리').first().json;\n\n// HTTP Response에서 raw binary data 가져오기\nconst response = $input.first();\nlet rawText = '';\n\n// n8n httpRequest는 바이너리 or 텍스트로 올 수 있음\nif (response.json && response.json.data) {\n  rawText = response.json.data;\n} else if (response.json && response.json.body) {\n  rawText = response.json.body;\n} else {\n  rawText = JSON.stringify(response.json);\n}\n\n// EUC-KR 깨진 문자 패턴 감지 (\\uFFFD 또는 ? 연속)\nconst isBroken = (rawText.match(/\\uFFFD/g) || []).length > 10 || \n                 (rawText.match(/[\\x80-\\xFF]{3,}/g) || []).length > 5;\n\nlet cleanText = rawText;\n\nif (isBroken) {\n  // 깨진 문자 제거 후 HTML 태그 파싱\n  cleanText = rawText\n    .replace(/[\\uFFFD\\u00B7\\u00B8-\\u00BF]/g, '')  // 깨진 유니코드\n    .replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F\\x7F]/g, ''); // 제어문자\n}\n\n// HTML → 텍스트 변환\nconst text = cleanText\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n  .replace(/&quot;/g, '\"').replace(/&#[0-9]+;/g, '')\n  .replace(/\\s{2,}/g, ' ').trim();\n\n// 의미있는 한글/영문 텍스트만 추출 (깨진 문자 최소화)\nconst lines = text.split(' ');\nconst meaningfulWords = lines.filter(word => {\n  // 한글, 영문, 숫자, 일반 특수문자만 허용\n  return /[가-힣a-zA-Z0-9]/.test(word);\n});\n\nconst productInfo = meaningfulWords.join(' ').slice(0, 2000);\n\nreturn [{\n  json: {\n    product_url: prev.product_url,\n    client_name: prev.client_name,\n    client_type: prev.client_type,\n    quantity: prev.quantity,\n    memo: prev.memo,\n    product_info: productInfo || '(제품 정보 파싱 실패 - 납품 정보 기반으로 작성)'\n  }\n}];"
      },
      "disabled": true
    },
    {
      "id": "node-extract-blog",
      "name": "블로그 글 추출",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\n// HTTP Request 노드 응답 구조: candidates[0].content.parts[0].text\n// Code 노드 응답 구조: gemini_raw (이전 방식)\nlet raw = '';\nif (d.candidates && d.candidates[0]) {\n  raw = d.candidates[0]?.content?.parts?.[0]?.text || '';\n} else if (d.gemini_raw) {\n  raw = d.gemini_raw;\n}\n\nraw = raw.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n\nlet title = '', body = '', hashtags = '';\ntry {\n  const parsed = JSON.parse(raw);\n  title = parsed.title || '';\n  body = parsed.body || '';\n  hashtags = parsed.hashtags || '';\n} catch(e) {\n  const prev = $('Gemini 프롬프트 조립').first().json;\n  title = '[' + (prev.product_name || '납품사례') + '] - 수동편집 필요';\n  body = raw;\n  hashtags = '#판촉물 #납품사례 #홍보물제작';\n}\n\nconst prev = $('Gemini 프롬프트 조립').first().json;\nconst today = new Date().toISOString().slice(0, 10);\n\nreturn [{ json: {\n  title, body, hashtags,\n  client_name: prev.client_name,\n  client_type: prev.client_type,\n  product_name: prev.product_name,\n  product_url: prev.product_url || '',\n  quantity: prev.quantity,\n  memo: prev.memo,\n  date: today\n} }];"
      }
    },
    {
      "id": "node-notion",
      "name": "노션에 초안 저장",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": { \"database_id\": \"5b2cee2d230040c88dcc2d0cf16e1e26\" },\n  \"properties\": {\n    \"제목\": { \"title\": [{ \"text\": { \"content\": {{ JSON.stringify($json.title) }} } }] },\n    \"거래처\": { \"rich_text\": [{ \"text\": { \"content\": {{ JSON.stringify($json.client_name + ' (' + $json.client_type + ')') }} } }] },\n    \"제품URL\": { \"url\": {{ JSON.stringify($json.product_url || 'https://biz-mecca.com') }} },\n    \"납품수량\": { \"rich_text\": [{ \"text\": { \"content\": {{ JSON.stringify($json.quantity) }} } }] },\n    \"작성일\": { \"date\": { \"start\": {{ JSON.stringify($json.date) }} } },\n    \"상태\": { \"select\": { \"name\": \"초안\" } },\n    \"해시태그\": { \"rich_text\": [{ \"text\": { \"content\": {{ JSON.stringify($json.hashtags) }} } }] },\n    \"메모\": { \"rich_text\": [{ \"text\": { \"content\": {{ JSON.stringify($json.memo) }} } }] }\n  },\n  \"children\": [\n    { \"object\": \"block\", \"type\": \"heading_2\", \"heading_2\": { \"rich_text\": [{ \"type\": \"text\", \"text\": { \"content\": \"📝 블로그 본문\" } }] } },\n    { \"object\": \"block\", \"type\": \"paragraph\", \"paragraph\": { \"rich_text\": [{ \"type\": \"text\", \"text\": { \"content\": {{ JSON.stringify($json.body) }} } }] } },\n    { \"object\": \"block\", \"type\": \"heading_2\", \"heading_2\": { \"rich_text\": [{ \"type\": \"text\", \"text\": { \"content\": \"🏷️ 해시태그\" } }] } },\n    { \"object\": \"block\", \"type\": \"paragraph\", \"paragraph\": { \"rich_text\": [{ \"type\": \"text\", \"text\": { \"content\": {{ JSON.stringify($json.hashtags) }} } }] } },\n    { \"object\": \"block\", \"type\": \"heading_2\", \"heading_2\": { \"rich_text\": [{ \"type\": \"text\", \"text\": { \"content\": \"📦 납품 정보\" } }] } },\n    { \"object\": \"block\", \"type\": \"paragraph\", \"paragraph\": { \"rich_text\": [{ \"type\": \"text\", \"text\": { \"content\": {{ JSON.stringify('거래처: ' + $json.client_name + '\\n유형: ' + $json.client_type + '\\n수량: ' + $json.quantity + '\\n메모: ' + $json.memo) }} } }] } }\n  ]\n}",
        "options": {}
      }
    },
    {
      "id": "node-complete",
      "name": "완료 메시지",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2880,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r2",
              "name": "result",
              "value": "={{ '🎉 [' + $json.title_enhanced + '] 심화 작성 완료! 노션에 저장됐어요.' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-build-prompt",
      "name": "Gemini 프롬프트 조립",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        300
      ],
      "parameters": {
        "jsCode": "const d = $('입력값 정리').first().json;\n\nconst lines = [\n  '너는 판촉물·홍보물 전문 납품업체 DCT컴퍼니의 블로그 마케터야.',\n  '아래 납품 정보를 바탕으로 네이버 블로그용 납품사례 포스팅을 작성해줘.',\n  '',\n  '## 납품 정보',\n  '제품명: ' + d.product_name,\n  '제품특징: ' + d.product_desc,\n  '거래처: ' + d.client_name + ' (' + d.client_type + ')',\n  '납품수량: ' + d.quantity,\n  '특이사항: ' + d.memo,\n  '',\n  '## 작성 규칙',\n  '1. 제목: SEO 최적화 제목 (예: [납품사례] OO학교 텔팅블러 납품 완료!)',\n  '2. 본문: 500~700자, 친근한 톤',\n  '3. 구성: 인사말 → 제품소개 → 납품스토리 → 특장점 → 마무리',\n  '4. 해시태그: 10~15개',\n  '5. 아래 JSON 형식으로만 응답 (백틱없이):',\n  '{\"title\":\"...\",\"body\":\"...\",\"hashtags\":\"...\"}'\n];\n\nconst prompt = lines.join('\\n');\n\n// gemini_body를 JSON 문자열로 조립\nconst requestBody = {\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: { temperature: 0.7, maxOutputTokens: 2000 }\n};\n\nreturn [{ json: { ...d, gemini_body: JSON.stringify(requestBody) } }];"
      }
    },
    {
      "id": "node-gemini-http",
      "name": "Gemini API 호출",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-lite-preview:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.gemini_body }}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "node-build-prompt2",
      "name": "심화 프롬프트 조립",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        300
      ],
      "parameters": {
        "jsCode": "const d = $('블로그 글 추출').first().json;\nconst lines = [\n  '너는 판촉물·홍보물 전문 납품업체 DCT컴퍼니의 시니어 블로그 마케터야.',\n  '아래 초안 블로그 글을 바탕으로 훨씬 풍성하고 완성도 높은 네이버 블로그 포스팅으로 업그레이드해줘.',\n  '',\n  '## 초안 제목', d.title,\n  '',\n  '## 초안 본문', d.body,\n  '',\n  '## 납품 정보',\n  '제품명: ' + d.product_name,\n  '거래처: ' + d.client_name + ' (' + d.client_type + ')',\n  '납품수량: ' + d.quantity,\n  '특이사항: ' + d.memo,\n  '',\n  '## 업그레이드 규칙',\n  '1. 제목: 더 매력적이고 클릭을 유도하는 SEO 최적화 제목으로 개선',\n  '2. 본문: 1200~1500자로 확장',\n  '3. 소제목 구조: ## 로 3~4개 나눠서 단락 구성 (예: ## 어떤 제품인가요? / ## 납품 스토리 / ## 이런 분께 추천해요 / ## 마무리)',\n  '4. SEO 키워드: 제품명, 납품처 유형, 지역(동탄/수원/경기), 용도 키워드를 자연스럽게 3~5회 삽입',\n  '5. 이미지 설명: 본문 중간중간에 [이미지: 설명] 형식으로 3~5개 삽입',\n  '6. 해시태그: 15~20개로 확장, SEO 키워드 포함',\n  '7. JSON으로만 응답 (백틱없이): {\"title\":\"...\",\"body\":\"...\",\"hashtags\":\"...\"}'\n];\nconst requestBody = { contents: [{ parts: [{ text: lines.join('\\n') }] }], generationConfig: { temperature: 0.8, maxOutputTokens: 3000 } };\nreturn [{ json: { ...d, gemini_body2: JSON.stringify(requestBody) } }];"
      }
    },
    {
      "id": "node-gemini-http2",
      "name": "Gemini 2차 호출",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-lite-preview:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.gemini_body2 }}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "node-extract-blog2",
      "name": "심화 블로그 추출",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        300
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst prev = $('심화 프롬프트 조립').first().json;\nlet raw = '';\nif (d.candidates && d.candidates[0]) raw = d.candidates[0]?.content?.parts?.[0]?.text || '';\nraw = raw.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\nlet title = prev.title, body = raw, hashtags = prev.hashtags;\ntry { const p = JSON.parse(raw); title = p.title || prev.title; body = p.body || raw; hashtags = p.hashtags || prev.hashtags; } catch(e) {}\nreturn [{ json: { ...prev, title_enhanced: title, body_enhanced: body, hashtags_enhanced: hashtags } }];"
      }
    },
    {
      "id": "node-notion-update",
      "name": "노션 심화본문 업데이트",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        300
      ],
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('노션에 초안 저장').first().json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ properties: { '제목': { title: [{ text: { content: $json.title_enhanced } }] }, '해시태그': { rich_text: [{ text: { content: $json.hashtags_enhanced } }] }, '상태': { select: { name: '수정중' } } } }) }}",
        "options": {}
      }
    },
    {
      "id": "node-append-blocks",
      "name": "심화본문 블록 추가",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        300
      ],
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/blocks/{{ $('노션에 초안 저장').first().json.id }}/children",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ children: [ { object: 'block', type: 'divider', divider: {} }, { object: 'block', type: 'heading_2', heading_2: { rich_text: [{ type: 'text', text: { content: '✨ 심화 블로그 본문' } }] } }, { object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: $('심화 블로그 추출').first().json.body_enhanced || '' } }] } }, { object: 'block', type: 'heading_2', heading_2: { rich_text: [{ type: 'text', text: { content: '🏷️ 심화 해시태그' } }] } }, { object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: $('심화 블로그 추출').first().json.hashtags_enhanced || '' } }] } } ] }) }}",
        "options": {}
      }
    },
    {
      "id": "status-success",
      "name": "✅ 상태 업데이트 (성공)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3100,
        300
      ],
      "parameters": {
        "workflowId": "eOopB5bbEEO9rjrg",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "workflowId": "ruLfwzGZtsmLSD3k",
            "workflowName": "Biz-mecca 납품사례 블로그 자동작성 260310",
            "notionPageId": "323c6a06e17e8101b97ac00492a67ddd",
            "status": "✅ 정상"
          }
        }
      }
    },
    {
      "id": "error-trigger",
      "name": "❌ 에러 감지",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        1200,
        500
      ],
      "parameters": {}
    },
    {
      "id": "status-error",
      "name": "❌ 상태 업데이트 (에러)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1440,
        500
      ],
      "parameters": {
        "workflowId": "eOopB5bbEEO9rjrg",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "workflowId": "ruLfwzGZtsmLSD3k",
            "workflowName": "Biz-mecca 납품사례 블로그 자동작성 260310",
            "notionPageId": "323c6a06e17e8101b97ac00492a67ddd",
            "status": "❌ 에러",
            "errorMessage": "={{ $json.error.message }}"
          }
        }
      }
    },
    {
      "id": "manual-note",
      "name": "📋 워크플로우 메뉴얼",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        160
      ],
      "parameters": {
        "content": "## 📋 Biz-mecca 납품사례 블로그 메뉴얼\n\n### 🔗 노션 메뉴얼\nhttps://www.notion.so/323c6a06e17e8101b97ac00492a67ddd\n\n---\n\n- **트리거**: Form Trigger\n- **목적**: 납품사례 블로그 자동 작성\n\n### 🔧 주요 수정 포인트\n1. Gemini 프롬프트 → `Gemini 프롬프트 조립`\n2. 노션 DB ID → `노션에 초안 저장`\n3. URL 크롤링 활성화 → 비활성 노드 2개",
        "height": 240,
        "width": 320,
        "color": 4
      }
    }
  ],
  "connections": {
    "납품사례 폼 입력": {
      "main": [
        [
          {
            "node": "입력값 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "입력값 정리": {
      "main": [
        [
          {
            "node": "제품 URL 크롤링",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gemini 프롬프트 조립",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "제품 URL 크롤링": {
      "main": [
        [
          {
            "node": "제품 정보 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "제품 정보 파싱": {
      "main": [
        [
          {
            "node": "Gemini 프롬프트 조립",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "블로그 글 추출": {
      "main": [
        [
          {
            "node": "노션에 초안 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 프롬프트 조립": {
      "main": [
        [
          {
            "node": "Gemini API 호출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini API 호출": {
      "main": [
        [
          {
            "node": "블로그 글 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "노션에 초안 저장": {
      "main": [
        [
          {
            "node": "심화 프롬프트 조립",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "심화 프롬프트 조립": {
      "main": [
        [
          {
            "node": "Gemini 2차 호출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2차 호출": {
      "main": [
        [
          {
            "node": "심화 블로그 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "심화 블로그 추출": {
      "main": [
        [
          {
            "node": "노션 심화본문 업데이트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "노션 심화본문 업데이트": {
      "main": [
        [
          {
            "node": "심화본문 블록 추가",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "심화본문 블록 추가": {
      "main": [
        [
          {
            "node": "완료 메시지",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "완료 메시지": {
      "main": [
        [
          {
            "node": "✅ 상태 업데이트 (성공)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ 에러 감지": {
      "main": [
        [
          {
            "node": "❌ 상태 업데이트 (에러)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "4c35f3a1-cb0a-4b22-90fc-40762e9f2d92",
  "activeVersionId": "4c35f3a1-cb0a-4b22-90fc-40762e9f2d92",
  "versionCounter": 125,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-10T08:47:40.561Z",
      "createdAt": "2026-03-10T08:47:40.561Z",
      "role": "workflow:owner",
      "workflowId": "ruLfwzGZtsmLSD3k",
      "projectId": "8znYa8Ca7GWeBy0m",
      "project": {
        "updatedAt": "2025-11-29T23:05:56.637Z",
        "createdAt": "2025-11-29T23:04:07.777Z",
        "id": "8znYa8Ca7GWeBy0m",
        "name": "Seung Hyeon Kim <khai01@naver.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-15T04:44:50.029Z",
    "createdAt": "2026-03-15T04:44:50.029Z",
    "versionId": "4c35f3a1-cb0a-4b22-90fc-40762e9f2d92",
    "workflowId": "ruLfwzGZtsmLSD3k",
    "nodes": [
      {
        "id": "node-form",
        "name": "납품사례 폼 입력",
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.2,
        "position": [
          0,
          300
        ],
        "webhookId": "5dd918cc-ffb9-40e8-ad46-2605573159a8",
        "parameters": {
          "formTitle": "🏷️ 납품사례 블로그 자동작성",
          "formDescription": "납품 정보를 입력하면 네이버 블로그 초안을 자동으로 작성해드립니다.",
          "formFields": {
            "values": [
              {
                "fieldLabel": "제품명",
                "placeholder": "예: 보온 텀블러, 판촉물 가방, 볼펜 세트",
                "requiredField": true
              },
              {
                "fieldLabel": "제품 특징/설명",
                "fieldType": "textarea",
                "placeholder": "예: 스테인리스 보온텀블러 500ml, 로고 인쇄 가능, 색상 3종",
                "requiredField": true
              },
              {
                "fieldLabel": "거래처명",
                "placeholder": "예: OO초등학교, OO기업",
                "requiredField": true
              },
              {
                "fieldLabel": "납품처 유형",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "학교/교육기관"
                    },
                    {
                      "option": "기업/관공서"
                    },
                    {
                      "option": "병원/의료기관"
                    },
                    {
                      "option": "카페/음식점"
                    },
                    {
                      "option": "기타"
                    }
                  ]
                },
                "requiredField": true
              },
              {
                "fieldLabel": "납품 수량",
                "placeholder": "예: 100개, 50세트"
              },
              {
                "fieldLabel": "제품 URL (비즈메카 링크)",
                "placeholder": "http://biz-mecca.com/product_w/..."
              },
              {
                "fieldLabel": "납품 특이사항 / 추가 메모",
                "fieldType": "textarea",
                "placeholder": "예: 로고 인쇄 요청, 빠른 납기 대응 등"
              }
            ]
          },
          "responseMode": "lastNode",
          "options": {}
        }
      },
      {
        "id": "node-set-inputs",
        "name": "입력값 정리",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          240,
          300
        ],
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a0",
                "name": "product_name",
                "value": "={{ $json['제품명'] }}",
                "type": "string"
              },
              {
                "id": "a1",
                "name": "product_desc",
                "value": "={{ $json['제품 특징/설명'] }}",
                "type": "string"
              },
              {
                "id": "a2",
                "name": "client_name",
                "value": "={{ $json['거래처명'] }}",
                "type": "string"
              },
              {
                "id": "a3",
                "name": "client_type",
                "value": "={{ $json['납품처 유형'] }}",
                "type": "string"
              },
              {
                "id": "a4",
                "name": "quantity",
                "value": "={{ $json['납품 수량'] || '미기재' }}",
                "type": "string"
              },
              {
                "id": "a5",
                "name": "product_url",
                "value": "={{ $json['제품 URL (비즈메카 링크)'] || '' }}",
                "type": "string"
              },
              {
                "id": "a6",
                "name": "memo",
                "value": "={{ $json['납품 특이사항 / 추가 메모'] || '없음' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "node-jina",
        "name": "제품 URL 크롤링",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          480,
          300
        ],
        "parameters": {
          "url": "={{ $json.product_url }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/120.0.0.0 Safari/537.36"
              },
              {
                "name": "Accept",
                "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
              },
              {
                "name": "Accept-Language",
                "value": "ko-KR,ko;q=0.9"
              }
            ]
          },
          "options": {
            "timeout": 15000,
            "response": {
              "response": {
                "responseFormat": "text"
              }
            }
          }
        },
        "disabled": true
      },
      {
        "id": "node-parse-product",
        "name": "제품 정보 파싱",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          720,
          300
        ],
        "parameters": {
          "jsCode": "const prev = $('입력값 정리').first().json;\n\n// HTTP Response에서 raw binary data 가져오기\nconst response = $input.first();\nlet rawText = '';\n\n// n8n httpRequest는 바이너리 or 텍스트로 올 수 있음\nif (response.json && response.json.data) {\n  rawText = response.json.data;\n} else if (response.json && response.json.body) {\n  rawText = response.json.body;\n} else {\n  rawText = JSON.stringify(response.json);\n}\n\n// EUC-KR 깨진 문자 패턴 감지 (\\uFFFD 또는 ? 연속)\nconst isBroken = (rawText.match(/\\uFFFD/g) || []).length > 10 || \n                 (rawText.match(/[\\x80-\\xFF]{3,}/g) || []).length > 5;\n\nlet cleanText = rawText;\n\nif (isBroken) {\n  // 깨진 문자 제거 후 HTML 태그 파싱\n  cleanText = rawText\n    .replace(/[\\uFFFD\\u00B7\\u00B8-\\u00BF]/g, '')  // 깨진 유니코드\n    .replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F\\x7F]/g, ''); // 제어문자\n}\n\n// HTML → 텍스트 변환\nconst text = cleanText\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n  .replace(/&quot;/g, '\"').replace(/&#[0-9]+;/g, '')\n  .replace(/\\s{2,}/g, ' ').trim();\n\n// 의미있는 한글/영문 텍스트만 추출 (깨진 문자 최소화)\nconst lines = text.split(' ');\nconst meaningfulWords = lines.filter(word => {\n  // 한글, 영문, 숫자, 일반 특수문자만 허용\n  return /[가-힣a-zA-Z0-9]/.test(word);\n});\n\nconst productInfo = meaningfulWords.join(' ').slice(0, 2000);\n\nreturn [{\n  json: {\n    product_url: prev.product_url,\n    client_name: prev.client_name,\n    client_type: prev.client_type,\n    quantity: prev.quantity,\n    memo: prev.memo,\n    product_info: productInfo || '(제품 정보 파싱 실패 - 납품 정보 기반으로 작성)'\n  }\n}];"
        },
        "disabled": true
      },
      {
        "id": "node-extract-blog",
        "name": "블로그 글 추출",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          300
        ],
        "parameters": {
          "jsCode": "const d = $input.first().json;\n\n// HTTP Request 노드 응답 구조: candidates[0].content.parts[0].text\n// Code 노드 응답 구조: gemini_raw (이전 방식)\nlet raw = '';\nif (d.candidates && d.candidates[0]) {\n  raw = d.candidates[0]?.content?.parts?.[0]?.text || '';\n} else if (d.gemini_raw) {\n  raw = d.gemini_raw;\n}\n\nraw = raw.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n\nlet title = '', body = '', hashtags = '';\ntry {\n  const parsed = JSON.parse(raw);\n  title = parsed.title || '';\n  body = parsed.body || '';\n  hashtags = parsed.hashtags || '';\n} catch(e) {\n  const prev = $('Gemini 프롬프트 조립').first().json;\n  title = '[' + (prev.product_name || '납품사례') + '] - 수동편집 필요';\n  body = raw;\n  hashtags = '#판촉물 #납품사례 #홍보물제작';\n}\n\nconst prev = $('Gemini 프롬프트 조립').first().json;\nconst today = new Date().toISOString().slice(0, 10);\n\nreturn [{ json: {\n  title, body, hashtags,\n  client_name: prev.client_name,\n  client_type: prev.client_type,\n  product_name: prev.product_name,\n  product_url: prev.product_url || '',\n  quantity: prev.quantity,\n  memo: prev.memo,\n  date: today\n} }];"
        }
      },
      {
        "id": "node-notion",
        "name": "노션에 초안 저장",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1440,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.notion.com/v1/pages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 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"
              },
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"parent\": { \"database_id\": \"5b2cee2d230040c88dcc2d0cf16e1e26\" },\n  \"properties\": {\n    \"제목\": { \"title\": [{ \"text\": { \"content\": {{ JSON.stringify($json.title) }} } }] },\n    \"거래처\": { \"rich_text\": [{ \"text\": { \"content\": {{ JSON.stringify($json.client_name + ' (' + $json.client_type + ')') }} } }] },\n    \"제품URL\": { \"url\": {{ JSON.stringify($json.product_url || 'https://biz-mecca.com') }} },\n    \"납품수량\": { \"rich_text\": [{ \"text\": { \"content\": {{ JSON.stringify($json.quantity) }} } }] },\n    \"작성일\": { \"date\": { \"start\": {{ JSON.stringify($json.date) }} } },\n    \"상태\": { \"select\": { \"name\": \"초안\" } },\n    \"해시태그\": { \"rich_text\": [{ \"text\": { \"content\": {{ JSON.stringify($json.hashtags) }} } }] },\n    \"메모\": { \"rich_text\": [{ \"text\": { \"content\": {{ JSON.stringify($json.memo) }} } }] }\n  },\n  \"children\": [\n    { \"object\": \"block\", \"type\": \"heading_2\", \"heading_2\": { \"rich_text\": [{ \"type\": \"text\", \"text\": { \"content\": \"📝 블로그 본문\" } }] } },\n    { \"object\": \"block\", \"type\": \"paragraph\", \"paragraph\": { \"rich_text\": [{ \"type\": \"text\", \"text\": { \"content\": {{ JSON.stringify($json.body) }} } }] } },\n    { \"object\": \"block\", \"type\": \"heading_2\", \"heading_2\": { \"rich_text\": [{ \"type\": \"text\", \"text\": { \"content\": \"🏷️ 해시태그\" } }] } },\n    { \"object\": \"block\", \"type\": \"paragraph\", \"paragraph\": { \"rich_text\": [{ \"type\": \"text\", \"text\": { \"content\": {{ JSON.stringify($json.hashtags) }} } }] } },\n    { \"object\": \"block\", \"type\": \"heading_2\", \"heading_2\": { \"rich_text\": [{ \"type\": \"text\", \"text\": { \"content\": \"📦 납품 정보\" } }] } },\n    { \"object\": \"block\", \"type\": \"paragraph\", \"paragraph\": { \"rich_text\": [{ \"type\": \"text\", \"text\": { \"content\": {{ JSON.stringify('거래처: ' + $json.client_name + '\\n유형: ' + $json.client_type + '\\n수량: ' + $json.quantity + '\\n메모: ' + $json.memo) }} } }] } }\n  ]\n}",
          "options": {}
        }
      },
      {
        "id": "node-complete",
        "name": "완료 메시지",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2880,
          300
        ],
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "r2",
                "name": "result",
                "value": "={{ '🎉 [' + $json.title_enhanced + '] 심화 작성 완료! 노션에 저장됐어요.' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "node-build-prompt",
        "name": "Gemini 프롬프트 조립",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          840,
          300
        ],
        "parameters": {
          "jsCode": "const d = $('입력값 정리').first().json;\n\nconst lines = [\n  '너는 판촉물·홍보물 전문 납품업체 DCT컴퍼니의 블로그 마케터야.',\n  '아래 납품 정보를 바탕으로 네이버 블로그용 납품사례 포스팅을 작성해줘.',\n  '',\n  '## 납품 정보',\n  '제품명: ' + d.product_name,\n  '제품특징: ' + d.product_desc,\n  '거래처: ' + d.client_name + ' (' + d.client_type + ')',\n  '납품수량: ' + d.quantity,\n  '특이사항: ' + d.memo,\n  '',\n  '## 작성 규칙',\n  '1. 제목: SEO 최적화 제목 (예: [납품사례] OO학교 텔팅블러 납품 완료!)',\n  '2. 본문: 500~700자, 친근한 톤',\n  '3. 구성: 인사말 → 제품소개 → 납품스토리 → 특장점 → 마무리',\n  '4. 해시태그: 10~15개',\n  '5. 아래 JSON 형식으로만 응답 (백틱없이):',\n  '{\"title\":\"...\",\"body\":\"...\",\"hashtags\":\"...\"}'\n];\n\nconst prompt = lines.join('\\n');\n\n// gemini_body를 JSON 문자열로 조립\nconst requestBody = {\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: { temperature: 0.7, maxOutputTokens: 2000 }\n};\n\nreturn [{ json: { ...d, gemini_body: JSON.stringify(requestBody) } }];"
        }
      },
      {
        "id": "node-gemini-http",
        "name": "Gemini API 호출",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1080,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-lite-preview:generateContent?key={{ $env.GEMINI_API_KEY }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $json.gemini_body }}",
          "options": {
            "timeout": 30000
          }
        }
      },
      {
        "id": "node-build-prompt2",
        "name": "심화 프롬프트 조립",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1680,
          300
        ],
        "parameters": {
          "jsCode": "const d = $('블로그 글 추출').first().json;\nconst lines = [\n  '너는 판촉물·홍보물 전문 납품업체 DCT컴퍼니의 시니어 블로그 마케터야.',\n  '아래 초안 블로그 글을 바탕으로 훨씬 풍성하고 완성도 높은 네이버 블로그 포스팅으로 업그레이드해줘.',\n  '',\n  '## 초안 제목', d.title,\n  '',\n  '## 초안 본문', d.body,\n  '',\n  '## 납품 정보',\n  '제품명: ' + d.product_name,\n  '거래처: ' + d.client_name + ' (' + d.client_type + ')',\n  '납품수량: ' + d.quantity,\n  '특이사항: ' + d.memo,\n  '',\n  '## 업그레이드 규칙',\n  '1. 제목: 더 매력적이고 클릭을 유도하는 SEO 최적화 제목으로 개선',\n  '2. 본문: 1200~1500자로 확장',\n  '3. 소제목 구조: ## 로 3~4개 나눠서 단락 구성 (예: ## 어떤 제품인가요? / ## 납품 스토리 / ## 이런 분께 추천해요 / ## 마무리)',\n  '4. SEO 키워드: 제품명, 납품처 유형, 지역(동탄/수원/경기), 용도 키워드를 자연스럽게 3~5회 삽입',\n  '5. 이미지 설명: 본문 중간중간에 [이미지: 설명] 형식으로 3~5개 삽입',\n  '6. 해시태그: 15~20개로 확장, SEO 키워드 포함',\n  '7. JSON으로만 응답 (백틱없이): {\"title\":\"...\",\"body\":\"...\",\"hashtags\":\"...\"}'\n];\nconst requestBody = { contents: [{ parts: [{ text: lines.join('\\n') }] }], generationConfig: { temperature: 0.8, maxOutputTokens: 3000 } };\nreturn [{ json: { ...d, gemini_body2: JSON.stringify(requestBody) } }];"
        }
      },
      {
        "id": "node-gemini-http2",
        "name": "Gemini 2차 호출",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1920,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-lite-preview:generateContent?key={{ $env.GEMINI_API_KEY }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $json.gemini_body2 }}",
          "options": {
            "timeout": 60000
          }
        }
      },
      {
        "id": "node-extract-blog2",
        "name": "심화 블로그 추출",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2160,
          300
        ],
        "parameters": {
          "jsCode": "const d = $input.first().json;\nconst prev = $('심화 프롬프트 조립').first().json;\nlet raw = '';\nif (d.candidates && d.candidates[0]) raw = d.candidates[0]?.content?.parts?.[0]?.text || '';\nraw = raw.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\nlet title = prev.title, body = raw, hashtags = prev.hashtags;\ntry { const p = JSON.parse(raw); title = p.title || prev.title; body = p.body || raw; hashtags = p.hashtags || prev.hashtags; } catch(e) {}\nreturn [{ json: { ...prev, title_enhanced: title, body_enhanced: body, hashtags_enhanced: hashtags } }];"
        }
      },
      {
        "id": "node-notion-update",
        "name": "노션 심화본문 업데이트",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2400,
          300
        ],
        "parameters": {
          "method": "PATCH",
          "url": "=https://api.notion.com/v1/pages/{{ $('노션에 초안 저장').first().json.id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 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"
              },
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ properties: { '제목': { title: [{ text: { content: $json.title_enhanced } }] }, '해시태그': { rich_text: [{ text: { content: $json.hashtags_enhanced } }] }, '상태': { select: { name: '수정중' } } } }) }}",
          "options": {}
        }
      },
      {
        "id": "node-append-blocks",
        "name": "심화본문 블록 추가",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2640,
          300
        ],
        "parameters": {
          "method": "PATCH",
          "url": "=https://api.notion.com/v1/blocks/{{ $('노션에 초안 저장').first().json.id }}/children",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 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"
              },
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ children: [ { object: 'block', type: 'divider', divider: {} }, { object: 'block', type: 'heading_2', heading_2: { rich_text: [{ type: 'text', text: { content: '✨ 심화 블로그 본문' } }] } }, { object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: $('심화 블로그 추출').first().json.body_enhanced || '' } }] } }, { object: 'block', type: 'heading_2', heading_2: { rich_text: [{ type: 'text', text: { content: '🏷️ 심화 해시태그' } }] } }, { object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: $('심화 블로그 추출').first().json.hashtags_enhanced || '' } }] } } ] }) }}",
          "options": {}
        }
      },
      {
        "id": "status-success",
        "name": "✅ 상태 업데이트 (성공)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          3100,
          300
        ],
        "parameters": {
          "workflowId": "eOopB5bbEEO9rjrg",
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "workflowId": "ruLfwzGZtsmLSD3k",
              "workflowName": "Biz-mecca 납품사례 블로그 자동작성 260310",
              "notionPageId": "323c6a06e17e8101b97ac00492a67ddd",
              "status": "✅ 정상"
            }
          }
        }
      },
      {
        "id": "error-trigger",
        "name": "❌ 에러 감지",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          1200,
          500
        ],
        "parameters": {}
      },
      {
        "id": "status-error",
        "name": "❌ 상태 업데이트 (에러)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          1440,
          500
        ],
        "parameters": {
          "workflowId": "eOopB5bbEEO9rjrg",
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "workflowId": "ruLfwzGZtsmLSD3k",
              "workflowName": "Biz-mecca 납품사례 블로그 자동작성 260310",
              "notionPageId": "323c6a06e17e8101b97ac00492a67ddd",
              "status": "❌ 에러",
              "errorMessage": "={{ $json.error.message }}"
            }
          }
        }
      },
      {
        "id": "manual-note",
        "name": "📋 워크플로우 메뉴얼",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -240,
          160
        ],
        "parameters": {
          "content": "## 📋 Biz-mecca 납품사례 블로그 메뉴얼\n\n### 🔗 노션 메뉴얼\nhttps://www.notion.so/323c6a06e17e8101b97ac00492a67ddd\n\n---\n\n- **트리거**: Form Trigger\n- **목적**: 납품사례 블로그 자동 작성\n\n### 🔧 주요 수정 포인트\n1. Gemini 프롬프트 → `Gemini 프롬프트 조립`\n2. 노션 DB ID → `노션에 초안 저장`\n3. URL 크롤링 활성화 → 비활성 노드 2개",
          "height": 240,
          "width": 320,
          "color": 4
        }
      }
    ],
    "connections": {
      "납품사례 폼 입력": {
        "main": [
          [
            {
              "node": "입력값 정리",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "입력값 정리": {
        "main": [
          [
            {
              "node": "제품 URL 크롤링",
              "type": "main",
              "index": 0
            },
            {
              "node": "Gemini 프롬프트 조립",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "제품 URL 크롤링": {
        "main": [
          [
            {
              "node": "제품 정보 파싱",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "제품 정보 파싱": {
        "main": [
          [
            {
              "node": "Gemini 프롬프트 조립",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "블로그 글 추출": {
        "main": [
          [
            {
              "node": "노션에 초안 저장",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini 프롬프트 조립": {
        "main": [
          [
            {
              "node": "Gemini API 호출",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini API 호출": {
        "main": [
          [
            {
              "node": "블로그 글 추출",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "노션에 초안 저장": {
        "main": [
          [
            {
              "node": "심화 프롬프트 조립",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "심화 프롬프트 조립": {
        "main": [
          [
            {
              "node": "Gemini 2차 호출",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini 2차 호출": {
        "main": [
          [
            {
              "node": "심화 블로그 추출",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "심화 블로그 추출": {
        "main": [
          [
            {
              "node": "노션 심화본문 업데이트",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "노션 심화본문 업데이트": {
        "main": [
          [
            {
              "node": "심화본문 블록 추가",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "심화본문 블록 추가": {
        "main": [
          [
            {
              "node": "완료 메시지",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "완료 메시지": {
        "main": [
          [
            {
              "node": "✅ 상태 업데이트 (성공)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "❌ 에러 감지": {
        "main": [
          [
            {
              "node": "❌ 상태 업데이트 (에러)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Seung Hyeon Kim",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-15T04:44:50.324Z",
        "id": 293,
        "workflowId": "ruLfwzGZtsmLSD3k",
        "versionId": "4c35f3a1-cb0a-4b22-90fc-40762e9f2d92",
        "event": "activated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      },
      {
        "createdAt": "2026-03-16T00:00:52.090Z",
        "id": 305,
        "workflowId": "ruLfwzGZtsmLSD3k",
        "versionId": "4c35f3a1-cb0a-4b22-90fc-40762e9f2d92",
        "event": "activated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      },
      {
        "createdAt": "2026-03-16T00:14:11.619Z",
        "id": 311,
        "workflowId": "ruLfwzGZtsmLSD3k",
        "versionId": "4c35f3a1-cb0a-4b22-90fc-40762e9f2d92",
        "event": "activated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      },
      {
        "createdAt": "2026-03-15T04:44:50.166Z",
        "id": 292,
        "workflowId": "ruLfwzGZtsmLSD3k",
        "versionId": "4c35f3a1-cb0a-4b22-90fc-40762e9f2d92",
        "event": "deactivated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      },
      {
        "createdAt": "2026-03-16T00:00:51.982Z",
        "id": 304,
        "workflowId": "ruLfwzGZtsmLSD3k",
        "versionId": "4c35f3a1-cb0a-4b22-90fc-40762e9f2d92",
        "event": "deactivated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      },
      {
        "createdAt": "2026-03-16T00:14:11.487Z",
        "id": 310,
        "workflowId": "ruLfwzGZtsmLSD3k",
        "versionId": "4c35f3a1-cb0a-4b22-90fc-40762e9f2d92",
        "event": "deactivated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      }
    ]
  }
}