Alimtalk Sangdam 251201.json
{"updatedAt":"2025-12-01T00:30:16.000Z","createdAt":"2025-11-29T23:12:37.874Z","id":"S1ObqqNJYt6Weh0b","name":"Alimtalk Sangdam 251201","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-448,-16],"id":"074adda7-3fdf-4ec8-8d31-53abd0f62bc8","name":"Schedule Trigger"},{"parameters":{"content":"## Notion Read\nNotion DB에 등록된 새로운 상담신청을 읽어온다\n","height":360,"width":220},"type":"n8n-nodes-base.stickyNote","position":[-256,-160],"typeVersion":1,"id":"e362b2f6-7550-4e15-9dba-8200bc492f57","name":"Sticky Note"},{"parameters":{"content":"## Schedule \n매시간 해당 워크플로우가 발동되도록 설정","height":360,"width":220},"type":"n8n-nodes-base.stickyNote","position":[-512,-160],"typeVersion":1,"id":"61d114a0-d4dc-490e-a18a-f828e9b2e1a8","name":"Sticky Note1"},{"parameters":{"content":"## 알림톡 발송 요청\nNHN Cloud에서 미리 설정한  템플릿을 이용해 상담 신청 학부모에게 알림톡 발송","height":360,"width":220},"type":"n8n-nodes-base.stickyNote","position":[-16,-160],"typeVersion":1,"id":"b700216c-299b-450b-b6f6-7dd2187cb38e","name":"Sticky Note2"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"229c6a06-e17e-8083-bf21-ec602b6a3033","mode":"list","cachedResultName":"Potential","cachedResultUrl":"https://www.notion.so/229c6a06e17e8083bf21ec602b6a3033"},"returnAll":true,"simple":false,"filterType":"manual","filters":{"conditions":[{"key":"알림톡 발송|checkbox","condition":"equals"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-192,-16],"id":"64c8efe7-c1e6-4b12-9e57-bd579f2261dd","name":"Notion 신규상담신청 확인","credentials":{"notionApi":{"id":"ixRZwqmrU1Xxju0A","name":"Notion account 2"}}},{"parameters":{"content":"## 나에게 알림\nSlack으로 나에게 상담접수를 알리는 알림 전송.","height":360,"width":220},"type":"n8n-nodes-base.stickyNote","position":[224,-160],"typeVersion":1,"id":"b8ff3e4b-e346-41b8-80dc-ea71bed0d3b6","name":"Sticky Note3"},{"parameters":{"method":"POST","url":"https://api-alimtalk.cloud.toast.com/alimtalk/v2.0/appkeys/YuIB1lEDj8vuqME2/messages","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json;charset=UTF-8"},{"name":"X-Secret-Key","value":"BqbvtCkwuidB28H7cuoYGheQ8SyEWOWw"},{"name":"X-App-Key","value":"YuIB1lEDj8vuqME2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"senderKey\": \"7780249050d98477b04a1b589e4794c8ac1f7a78\",\n    \"templateCode\":\"Math4U-edu-2025001\",\n    \"recipientList\":[\n        {\n            \"recipientNo\":\"{{ $json.properties['상담연락처S'].formula.string }}\"\n        }\n    ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[48,-16],"id":"dfb54c69-c391-4a2f-8d9b-97bbaf0d7880","name":"Alimtalk Setting","credentials":{"httpCustomAuth":{"id":"7IkET7kvzmFP3Vr7","name":"Custom Auth account"}}},{"parameters":{"content":"## 알림톡 발송 체크\n알림톡 발송을 완료한 경우 Notion DB의 알림톡 발송란에 체크를 한다.","height":360,"width":220},"type":"n8n-nodes-base.stickyNote","position":[464,-160],"typeVersion":1,"id":"5dff2cc5-be94-49de-ab0f-4e47c563326e","name":"Sticky Note4"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Notion 신규상담신청 확인').item.json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"알림톡 발송|checkbox","checkboxValue":true}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[528,-16],"id":"eb3c5c33-7336-4912-82b9-3aa7d10c6b20","name":"Notion Update","credentials":{"notionApi":{"id":"pzHB4HuYpZevxyT5","name":"Notion account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"=#상담신청","mode":"id"},"text":"=카이야 🔔신규 상담이 도착했어!\n\n신청일시: {{ $('Notion 신규상담신청 확인').item.json.properties['생성일'].formula.string }}\n연락처: {{ $('Notion 신규상담신청 확인').item.json.properties['상담연락처'].phone_number }}\n상담희망시간: {{ $('Notion 신규상담신청 확인').item.json.properties['상담 희망시간'].multi_select[0].name }}\n학생이름: {{ $('Notion 신규상담신청 확인').item.json.properties['학생이름'].title[0].plain_text }}\n학교: {{ $('Notion 신규상담신청 확인').item.json.properties['학교'].rich_text[0].plain_text }}\n학년: {{ $('Notion 신규상담신청 확인').item.json.properties['학년'].select.name }}\n상담내용: {{ $('Notion 신규상담신청 확인').item.json.properties['상담 내용'].rich_text[0].plain_text }}\n\n✨ Notion에서 자세한 정보를 확인하고 상담전화 진행할 것.\n","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[288,-16],"id":"4219a07b-3070-4883-b597-6ee7448c76bc","name":"Send a message","webhookId":"805f268b-e5f2-4f6c-a77a-0eda2144d5a9","credentials":{"slackApi":{"id":"I1bk0oby0BsUZ87n","name":"Slack account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Notion 신규상담신청 확인","type":"main","index":0}]]},"Notion 신규상담신청 확인":{"main":[[{"node":"Alimtalk Setting","type":"main","index":0}]]},"Alimtalk Setting":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Notion Update","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2aca8c8d-7e8a-410c-a0c5-aed7ee596c45","activeVersionId":"2aca8c8d-7e8a-410c-a0c5-aed7ee596c45","triggerCount":1,"shared":[{"updatedAt":"2025-11-29T23:12:37.879Z","createdAt":"2025-11-29T23:12:37.879Z","role":"workflow:owner","workflowId":"S1ObqqNJYt6Weh0b","projectId":"8znYa8Ca7GWeBy0m"}],"activeVersion":{"updatedAt":"2025-12-01T00:30:16.795Z","createdAt":"2025-12-01T00:30:16.795Z","versionId":"2aca8c8d-7e8a-410c-a0c5-aed7ee596c45","workflowId":"S1ObqqNJYt6Weh0b","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-448,-16],"id":"074adda7-3fdf-4ec8-8d31-53abd0f62bc8","name":"Schedule Trigger"},{"parameters":{"content":"## Notion Read\nNotion DB에 등록된 새로운 상담신청을 읽어온다\n","height":360,"width":220},"type":"n8n-nodes-base.stickyNote","position":[-256,-160],"typeVersion":1,"id":"e362b2f6-7550-4e15-9dba-8200bc492f57","name":"Sticky Note"},{"parameters":{"content":"## Schedule \n매시간 해당 워크플로우가 발동되도록 설정","height":360,"width":220},"type":"n8n-nodes-base.stickyNote","position":[-512,-160],"typeVersion":1,"id":"61d114a0-d4dc-490e-a18a-f828e9b2e1a8","name":"Sticky Note1"},{"parameters":{"content":"## 알림톡 발송 요청\nNHN Cloud에서 미리 설정한  템플릿을 이용해 상담 신청 학부모에게 알림톡 발송","height":360,"width":220},"type":"n8n-nodes-base.stickyNote","position":[-16,-160],"typeVersion":1,"id":"b700216c-299b-450b-b6f6-7dd2187cb38e","name":"Sticky Note2"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"229c6a06-e17e-8083-bf21-ec602b6a3033","mode":"list","cachedResultName":"Potential","cachedResultUrl":"https://www.notion.so/229c6a06e17e8083bf21ec602b6a3033"},"returnAll":true,"simple":false,"filterType":"manual","filters":{"conditions":[{"key":"알림톡 발송|checkbox","condition":"equals"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-192,-16],"id":"64c8efe7-c1e6-4b12-9e57-bd579f2261dd","name":"Notion 신규상담신청 확인","credentials":{"notionApi":{"id":"ixRZwqmrU1Xxju0A","name":"Notion account 2"}}},{"parameters":{"content":"## 나에게 알림\nSlack으로 나에게 상담접수를 알리는 알림 전송.","height":360,"width":220},"type":"n8n-nodes-base.stickyNote","position":[224,-160],"typeVersion":1,"id":"b8ff3e4b-e346-41b8-80dc-ea71bed0d3b6","name":"Sticky Note3"},{"parameters":{"method":"POST","url":"https://api-alimtalk.cloud.toast.com/alimtalk/v2.0/appkeys/YuIB1lEDj8vuqME2/messages","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json;charset=UTF-8"},{"name":"X-Secret-Key","value":"BqbvtCkwuidB28H7cuoYGheQ8SyEWOWw"},{"name":"X-App-Key","value":"YuIB1lEDj8vuqME2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"senderKey\": \"7780249050d98477b04a1b589e4794c8ac1f7a78\",\n    \"templateCode\":\"Math4U-edu-2025001\",\n    \"recipientList\":[\n        {\n            \"recipientNo\":\"{{ $json.properties['상담연락처S'].formula.string }}\"\n        }\n    ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[48,-16],"id":"dfb54c69-c391-4a2f-8d9b-97bbaf0d7880","name":"Alimtalk Setting","credentials":{"httpCustomAuth":{"id":"7IkET7kvzmFP3Vr7","name":"Custom Auth account"}}},{"parameters":{"content":"## 알림톡 발송 체크\n알림톡 발송을 완료한 경우 Notion DB의 알림톡 발송란에 체크를 한다.","height":360,"width":220},"type":"n8n-nodes-base.stickyNote","position":[464,-160],"typeVersion":1,"id":"5dff2cc5-be94-49de-ab0f-4e47c563326e","name":"Sticky Note4"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Notion 신규상담신청 확인').item.json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"알림톡 발송|checkbox","checkboxValue":true}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[528,-16],"id":"eb3c5c33-7336-4912-82b9-3aa7d10c6b20","name":"Notion Update","credentials":{"notionApi":{"id":"pzHB4HuYpZevxyT5","name":"Notion account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"=#상담신청","mode":"id"},"text":"=카이야 🔔신규 상담이 도착했어!\n\n신청일시: {{ $('Notion 신규상담신청 확인').item.json.properties['생성일'].formula.string }}\n연락처: {{ $('Notion 신규상담신청 확인').item.json.properties['상담연락처'].phone_number }}\n상담희망시간: {{ $('Notion 신규상담신청 확인').item.json.properties['상담 희망시간'].multi_select[0].name }}\n학생이름: {{ $('Notion 신규상담신청 확인').item.json.properties['학생이름'].title[0].plain_text }}\n학교: {{ $('Notion 신규상담신청 확인').item.json.properties['학교'].rich_text[0].plain_text }}\n학년: {{ $('Notion 신규상담신청 확인').item.json.properties['학년'].select.name }}\n상담내용: {{ $('Notion 신규상담신청 확인').item.json.properties['상담 내용'].rich_text[0].plain_text }}\n\n✨ Notion에서 자세한 정보를 확인하고 상담전화 진행할 것.\n","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[288,-16],"id":"4219a07b-3070-4883-b597-6ee7448c76bc","name":"Send a message","webhookId":"805f268b-e5f2-4f6c-a77a-0eda2144d5a9","credentials":{"slackApi":{"id":"I1bk0oby0BsUZ87n","name":"Slack account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Notion 신규상담신청 확인","type":"main","index":0}]]},"Notion 신규상담신청 확인":{"main":[[{"node":"Alimtalk Setting","type":"main","index":0}]]},"Alimtalk Setting":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Notion Update","type":"main","index":0}]]}},"authors":"Seung Hyeon Kim","name":null,"description":null},"tags":[]}