alimtalk sangdam01.json
{"createdAt":"2025-07-14T18:55:25.423Z","updatedAt":"2025-08-23T17:33:39.000Z","id":"zOHMA2kCMNO3GB3Z","name":"alimtalk sangdam01","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"77ee0f71-31d7-41e7-a499-3fb5012bcdf8","name":"Schedule Trigger"},{"parameters":{"content":"## Notion Read\nNotion DB에 등록된 새로운 상담신청을 읽어온다\n","height":360,"width":220},"type":"n8n-nodes-base.stickyNote","position":[192,-144],"typeVersion":1,"id":"b9ee56c1-8bd3-453a-adbd-ca73e027ae0e","name":"Sticky Note"},{"parameters":{"content":"## Schedule \n매시간 해당 워크플로우가 발동되도록 설정","height":360,"width":220},"type":"n8n-nodes-base.stickyNote","position":[-64,-144],"typeVersion":1,"id":"053b88e4-ccb8-4ab8-9473-990cf41a3388","name":"Sticky Note1"},{"parameters":{"content":"## 알림톡 발송 요청\nNHN Cloud에서 미리 설정한  템플릿을 이용해 상담을 신청한 학부모에게 알림톡을 발송한다.","height":360,"width":220},"type":"n8n-nodes-base.stickyNote","position":[432,-144],"typeVersion":1,"id":"eae6ce0b-b016-46de-909a-eb71ad633e61","name":"Sticky Note2"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"229c6a06-e17e-8083-bf21-ec602b6a3033","mode":"list","cachedResultName":"Potential","cachedResultUrl":"https://www.notion.so/229c6a06e17e8083bf21ec602b6a3033"},"returnAll":true,"simple":false,"filterType":"manual","filters":{"conditions":[{"key":"알림톡 발송|checkbox","condition":"equals"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[256,0],"id":"e396c333-55e8-4b17-bc75-a0a5fa61eb84","name":"Notion 신규상담신청 확인","credentials":{"notionApi":{"id":"vNOlWRb0jvDyOtj3","name":"n8n Notion"}}},{"parameters":{"content":"## 나에게 알림 톡\n카카오 디벨로퍼스에서 설정한 내용으로 나에게 상담접수를 알리는 알림톡을 발송한다.","height":360,"width":220},"type":"n8n-nodes-base.stickyNote","position":[672,-144],"typeVersion":1,"id":"b3046dfa-b906-477e-9152-6240719c517f","name":"Sticky Note3"},{"parameters":{"method":"POST","url":"https://api-alimtalk.cloud.toast.com/alimtalk/v2.0/appkeys/YuIB1lEDj8vuqME2/messages","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json;charset=UTF-8"},{"name":"X-Secret-Key","value":"BqbvtCkwuidB28H7cuoYGheQ8SyEWOWw"},{"name":"X-App-Key","value":"YuIB1lEDj8vuqME2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"senderKey\": \"7780249050d98477b04a1b589e4794c8ac1f7a78\",\n    \"templateCode\":\"Math4U-edu-2025001\",\n    \"recipientList\":[\n        {\n            \"recipientNo\":\"{{ $json.properties['상담연락처S'].formula.string }}\"\n        }\n    ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[496,0],"id":"d7c1056d-49dc-4c3b-b8bf-ead12efe3630","name":"Alimtalk Setting","credentials":{"httpCustomAuth":{"id":"N1prE7oSxK6c35hJ","name":"Custom Auth account"}}},{"parameters":{"method":"POST","url":"https://kapi.kakao.com/v2/api/talk/memo/default/send","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/x-www-form-urlencoded;charset=utf-8"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"template_object","value":"={\n  \"object_type\": \"text\",     \n  \"text\": \"{{ $('Notion 신규상담신청 확인').item.json.properties['생성일'].formula.string }}에 📞{{ $('Notion 신규상담신청 확인').item.json.properties['상담연락처'].phone_number }} 번호로 간편상담신청서가 접수되었습니다.\n\n발신번호는 아래 기재되어 있는 카이 김승현 원장의 연락처 번호입니다.\n \n대치Math4U의 수업에 관심을 가져 주셔서 감사합니다.💖\",\n  \"link\": {\n        \"web_url\": \"{{ $('Notion 신규상담신청 확인').item.json.public_url }}\"\n    }\n}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[736,0],"id":"83b76103-782f-4ac3-8969-e5d30aabf860","name":"Send me1","credentials":{"oAuth2Api":{"id":"dMqlgfWvn0yn4Ckz","name":"Unnamed credential"}}},{"parameters":{"content":"## 알림톡 발송 체크\n알림톡 발송을 완료한 경우 Notion DB의 알림톡 발송란에 체크를 한다.","height":360,"width":220},"type":"n8n-nodes-base.stickyNote","position":[912,-144],"typeVersion":1,"id":"128a99af-4bd5-4835-bb9d-f51b08aa6403","name":"Sticky Note4"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Notion 신규상담신청 확인').item.json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"알림톡 발송|checkbox","checkboxValue":true}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[976,0],"id":"d8b9fb25-6dec-499e-876d-8cb136d3f49d","name":"Notion Update","credentials":{"notionApi":{"id":"vNOlWRb0jvDyOtj3","name":"n8n Notion"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Notion 신규상담신청 확인","type":"main","index":0}]]},"Notion 신규상담신청 확인":{"main":[[{"node":"Alimtalk Setting","type":"main","index":0}]]},"Alimtalk Setting":{"main":[[{"node":"Send me1","type":"main","index":0}]]},"Send me1":{"main":[[{"node":"Notion Update","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d473a847-ab3c-4a91-b066-7d805aa56fd4","triggerCount":1,"shared":[{"createdAt":"2025-07-14T18:55:25.429Z","updatedAt":"2025-07-14T18:55:25.429Z","role":"workflow:owner","workflowId":"zOHMA2kCMNO3GB3Z","projectId":"UsCP8Ce854KMNiOS"}],"tags":[]}