Class___Student_____.json
{
  "name": "Class → Student 자동생성",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cf437762-9463-459c-b1a6-8b27f48b0381",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -140,
        -160
      ],
      "id": "c465fd8c-74be-4423-ab33-157987f88718",
      "name": "Webhook",
      "webhookId": "cf437762-9463-459c-b1a6-8b27f48b0381"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.body.data.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        120,
        -160
      ],
      "id": "d3ce05d1-e98b-4c8b-abfd-8844e7203074",
      "name": "Class_Study Get",
      "credentials": {
        "notionApi": {
          "id": "vNOlWRb0jvDyOtj3",
          "name": "n8n Notion"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "148c6a06-e17e-80c0-ae95-f20b36cd0b9d",
          "mode": "list",
          "cachedResultName": "Student_Study",
          "cachedResultUrl": "https://www.notion.so/148c6a06e17e80c0ae95f20b36cd0b9d"
        },
        "title": "={{ $json.property_students[0] }}",
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "예정수업일|date",
              "date": "={{ $('Webhook').item.json.body.data.properties['수업일정'].date.start }}"
            },
            {
              "key": "수업일시|date",
              "date": "={{ $('Webhook').item.json.body.data.properties['수업일정'].date.start }}"
            },
            {
              "key": "Students|relation",
              "relationValue": [
                "={{ $('Student ID').item.json.id }}"
              ]
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        920,
        -160
      ],
      "id": "9b9346a9-b4cb-4b5f-9734-54034ab6490f",
      "name": "Create Page Student_Study",
      "credentials": {
        "notionApi": {
          "id": "vNOlWRb0jvDyOtj3",
          "name": "n8n Notion"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.property_students }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        520,
        -160
      ],
      "id": "e8020e54-bf39-4281-9197-4dacf6b3f8dc",
      "name": "Student ID",
      "credentials": {
        "notionApi": {
          "id": "vNOlWRb0jvDyOtj3",
          "name": "n8n Notion"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb4b9ece-cf64-407c-8537-7121c1806049",
              "name": "property_students[0]",
              "value": "={{ $json.name }} | {{ $('Class_Study Get').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        -160
      ],
      "id": "46e7811d-67b0-401e-b149-37a7f27a10b6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "property_students",
        "include": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        320,
        -160
      ],
      "id": "85e51ead-09a1-4af2-bc2f-de5b3d4e8378",
      "name": "Split Out - Student ID Split"
    },
    {
      "parameters": {
        "content": "## Student_Study DB에 새 페이지 생성 \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 440,
        "width": 1020
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        60,
        -300
      ],
      "typeVersion": 1,
      "id": "fa96cc16-2c72-48dc-a1d5-d321ee60d473",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Class_Study Get').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "배정확인|checkbox",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1120,
        -160
      ],
      "id": "70bb026a-300b-464e-aaeb-27eeb16e24e0",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "vNOlWRb0jvDyOtj3",
          "name": "n8n Notion"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Class_Study Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Class_Study Get": {
      "main": [
        [
          {
            "node": "Split Out - Student ID Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Student ID": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create Page Student_Study",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out - Student ID Split": {
      "main": [
        [
          {
            "node": "Student ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Page Student_Study": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e6b0b296-a38c-4e9e-b6c5-50387f994410",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "781228dfd3ecece79bbdd51317e7cd02f237520d4b711e93c983f2fc54f47234"
  },
  "id": "uFHXKcyUWalyC5W9",
  "tags": []
}