Class → Student 자동생성.json
{"updatedAt":"2025-12-01T00:29:22.000Z","createdAt":"2025-11-29T23:09:25.703Z","id":"PNn3uKuzuOyjgFbu","name":"Class → Student 자동생성","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"cf437762-9463-459c-b1a6-8b27f48b0381","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-336,240],"id":"9851ca9f-4b66-4bcf-97c7-eb288b1d080a","name":"Webhook","webhookId":"cf437762-9463-459c-b1a6-8b27f48b0381"},{"parameters":{"resource":"databasePage","operation":"get","pageId":{"__rl":true,"value":"={{ $json.body.data.id }}","mode":"id"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-112,240],"id":"ab9cbf0b-acc4-48bd-b549-ad28a3100ba7","name":"Class_Study Get","credentials":{"notionApi":{"id":"pzHB4HuYpZevxyT5","name":"Notion account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"148c6a06-e17e-80c0-ae95-f20b36cd0b9d","mode":"list","cachedResultName":"Student_Study","cachedResultUrl":"https://www.notion.so/148c6a06e17e80c0ae95f20b36cd0b9d"},"title":"={{ $json.property_students[0] }}","simple":false,"propertiesUi":{"propertyValues":[{"key":"예정수업일|date","date":"={{ $('Webhook').item.json.body.data.properties['수업일정'].date.start }}"},{"key":"수업일시|date","date":"={{ $('Webhook').item.json.body.data.properties['수업일정'].date.start }}"},{"key":"Students|relation","relationValue":["={{ $('Student ID').item.json.id }}"]},{"key":"Class|relation","relationValue":["={{ $('Class_Study Get').item.json.property_class[0] }}"]},{"key":"Class_Study|relation","relationValue":["={{ $('Class_Study Get').item.json.id }}"]}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[688,240],"id":"4763be7f-5c3b-41f2-a831-4a0336ab9bbd","name":"Create Page Student_Study","credentials":{"notionApi":{"id":"ixRZwqmrU1Xxju0A","name":"Notion account 2"}}},{"parameters":{"resource":"databasePage","operation":"get","pageId":{"__rl":true,"value":"={{ $json.property_students }}","mode":"id"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[288,240],"id":"c5f73c77-e83a-49b5-a1e1-ca305a481237","name":"Student ID","credentials":{"notionApi":{"id":"ixRZwqmrU1Xxju0A","name":"Notion account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"bb4b9ece-cf64-407c-8537-7121c1806049","name":"property_students[0]","value":"={{ $json.name }} | {{ $('Class_Study Get').item.json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,240],"id":"c4a16a2d-7f49-40a4-b574-c8321611a946","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"property_students","include":"=","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[96,240],"id":"5a0c00e2-2295-4ac9-8df6-4944056f904e","name":"Split Out - Student ID Split"},{"parameters":{"content":"## Student_Study DB에 새 페이지 생성 \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":440,"width":1020},"type":"n8n-nodes-base.stickyNote","position":[-176,96],"typeVersion":1,"id":"c1717ca7-09ea-456a-95e4-b1ecda3dffc6","name":"Sticky Note"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Class_Study Get').item.json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"배정확인|checkbox","checkboxValue":true}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[928,240],"id":"20515355-10f6-4300-a792-8474b56fe319","name":"Notion","credentials":{"notionApi":{"id":"ixRZwqmrU1Xxju0A","name":"Notion account 2"}}}],"connections":{"Webhook":{"main":[[{"node":"Class_Study Get","type":"main","index":0}]]},"Class_Study Get":{"main":[[{"node":"Split Out - Student ID Split","type":"main","index":0}]]},"Student ID":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Create Page Student_Study","type":"main","index":0}]]},"Split Out - Student ID Split":{"main":[[{"node":"Student ID","type":"main","index":0}]]},"Create Page Student_Study":{"main":[[{"node":"Notion","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d6172af7-6fb9-4732-9ff2-5f55e14226ab","activeVersionId":"d6172af7-6fb9-4732-9ff2-5f55e14226ab","triggerCount":1,"shared":[{"updatedAt":"2025-11-29T23:09:25.709Z","createdAt":"2025-11-29T23:09:25.709Z","role":"workflow:owner","workflowId":"PNn3uKuzuOyjgFbu","projectId":"8znYa8Ca7GWeBy0m"}],"activeVersion":{"updatedAt":"2025-11-30T08:34:19.496Z","createdAt":"2025-11-30T08:34:19.496Z","versionId":"d6172af7-6fb9-4732-9ff2-5f55e14226ab","workflowId":"PNn3uKuzuOyjgFbu","nodes":[{"parameters":{"httpMethod":"POST","path":"cf437762-9463-459c-b1a6-8b27f48b0381","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-336,240],"id":"9851ca9f-4b66-4bcf-97c7-eb288b1d080a","name":"Webhook","webhookId":"cf437762-9463-459c-b1a6-8b27f48b0381"},{"parameters":{"resource":"databasePage","operation":"get","pageId":{"__rl":true,"value":"={{ $json.body.data.id }}","mode":"id"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-112,240],"id":"ab9cbf0b-acc4-48bd-b549-ad28a3100ba7","name":"Class_Study Get","credentials":{"notionApi":{"id":"pzHB4HuYpZevxyT5","name":"Notion account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"148c6a06-e17e-80c0-ae95-f20b36cd0b9d","mode":"list","cachedResultName":"Student_Study","cachedResultUrl":"https://www.notion.so/148c6a06e17e80c0ae95f20b36cd0b9d"},"title":"={{ $json.property_students[0] }}","simple":false,"propertiesUi":{"propertyValues":[{"key":"예정수업일|date","date":"={{ $('Webhook').item.json.body.data.properties['수업일정'].date.start }}"},{"key":"수업일시|date","date":"={{ $('Webhook').item.json.body.data.properties['수업일정'].date.start }}"},{"key":"Students|relation","relationValue":["={{ $('Student ID').item.json.id }}"]},{"key":"Class|relation","relationValue":["={{ $('Class_Study Get').item.json.property_class[0] }}"]},{"key":"Class_Study|relation","relationValue":["={{ $('Class_Study Get').item.json.id }}"]}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[688,240],"id":"4763be7f-5c3b-41f2-a831-4a0336ab9bbd","name":"Create Page Student_Study","credentials":{"notionApi":{"id":"ixRZwqmrU1Xxju0A","name":"Notion account 2"}}},{"parameters":{"resource":"databasePage","operation":"get","pageId":{"__rl":true,"value":"={{ $json.property_students }}","mode":"id"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[288,240],"id":"c5f73c77-e83a-49b5-a1e1-ca305a481237","name":"Student ID","credentials":{"notionApi":{"id":"ixRZwqmrU1Xxju0A","name":"Notion account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"bb4b9ece-cf64-407c-8537-7121c1806049","name":"property_students[0]","value":"={{ $json.name }} | {{ $('Class_Study Get').item.json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,240],"id":"c4a16a2d-7f49-40a4-b574-c8321611a946","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"property_students","include":"=","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[96,240],"id":"5a0c00e2-2295-4ac9-8df6-4944056f904e","name":"Split Out - Student ID Split"},{"parameters":{"content":"## Student_Study DB에 새 페이지 생성 \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":440,"width":1020},"type":"n8n-nodes-base.stickyNote","position":[-176,96],"typeVersion":1,"id":"c1717ca7-09ea-456a-95e4-b1ecda3dffc6","name":"Sticky Note"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Class_Study Get').item.json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"배정확인|checkbox","checkboxValue":true}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[928,240],"id":"20515355-10f6-4300-a792-8474b56fe319","name":"Notion","credentials":{"notionApi":{"id":"ixRZwqmrU1Xxju0A","name":"Notion account 2"}}}],"connections":{"Webhook":{"main":[[{"node":"Class_Study Get","type":"main","index":0}]]},"Class_Study Get":{"main":[[{"node":"Split Out - Student ID Split","type":"main","index":0}]]},"Student ID":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Create Page Student_Study","type":"main","index":0}]]},"Split Out - Student ID Split":{"main":[[{"node":"Student ID","type":"main","index":0}]]},"Create Page Student_Study":{"main":[[{"node":"Notion","type":"main","index":0}]]}},"authors":"Seung Hyeon Kim","name":null,"description":null},"tags":[]}