Daily Report 01.json
{"updatedAt":"2025-11-29T23:11:41.584Z","createdAt":"2025-11-29T23:11:41.584Z","id":"zQOKALD9EOnl3qhd","name":"Daily Report 01","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"037ed99a-21d5-40c0-b285-a8362db2ffcc","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"fca3618c-f99b-4452-848e-7d386a00c8b7","name":"Webhook1","webhookId":"037ed99a-21d5-40c0-b285-a8362db2ffcc"},{"parameters":{"method":"POST","url":"https://api-alimtalk.cloud.toast.com/alimtalk/v2.0/appkeys/YuIB1lEDj8vuqME2/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json;charset=UTF-8"},{"name":"X-Secret-Key","value":"BqbvtCkwuidB28H7cuoYGheQ8SyEWOWw"},{"name":"X-App-Key","value":"YuIB1lEDj8vuqME2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"senderKey\": \"7780249050d98477b04a1b589e4794c8ac1f7a78\",\n    \"templateCode\": \"Math4U-edu-2025002\",\n    \"recipientList\": [\n        {\n            \"recipientNo\":\"{{ $json.body.data.properties['학부모연락처 1(S)'].formula.string }}\",\n            \"templateParameter\": {\n                \"url_day\":\"{{$json.body.data.id}}\",\n                \"학생이름\":\"{{$json.body.data.properties['학생이름(S)'].formula.string}}\",\n                \"수업날짜\":\"{{$json.body.data.properties['수업일시(S)'].formula.string}}\",\n                \"요일\":\"{{$json.body.data.properties['요일'].formula.string}}\",\n                \"수업회차\":\"{{$json.body.data.properties['수업회차(S)'].formula.string}}\",\n                \"과정\":\"{{$json.body.data.properties['과정(S)'].formula.string}}\",\n                \"수업내용\":\"{{$json.body.data.properties['진도/수업 내용'].rollup.array[0].rich_text[0].plain_text}}\"\n            }\n        }\n    ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,0],"id":"fa0aeb86-4da4-483b-86bf-f5a0a743aa05","name":"HTTP Request1"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Webhook1').item.json.body.data.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"보고서 발송|checkbox","checkboxValue":true}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[480,0],"id":"518a5e3e-397a-475f-a244-502d671ea53d","name":"Notion1"}],"connections":{"Webhook1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Notion1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"29b99a4a-5bcb-4d08-bf7e-89014fa545dc","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-29T23:11:41.587Z","createdAt":"2025-11-29T23:11:41.587Z","role":"workflow:owner","workflowId":"zQOKALD9EOnl3qhd","projectId":"8znYa8Ca7GWeBy0m"}],"activeVersion":null,"tags":[]}