Daily Report.json
{"createdAt":"2025-07-12T19:49:00.095Z","updatedAt":"2025-08-29T17:55:58.000Z","id":"V3f1JLOA1JAdqA1Q","name":"Daily Report","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"037ed99a-21d5-40c0-b285-a8362db2ffcc","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,0],"id":"a070f5a7-329b-4cfb-a6d7-f3ad22cea43e","name":"Webhook","webhookId":"037ed99a-21d5-40c0-b285-a8362db2ffcc"},{"parameters":{"method":"POST","url":"https://api-alimtalk.cloud.toast.com/alimtalk/v2.0/appkeys/YuIB1lEDj8vuqME2/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json;charset=UTF-8"},{"name":"X-Secret-Key","value":"BqbvtCkwuidB28H7cuoYGheQ8SyEWOWw"},{"name":"X-App-Key","value":"YuIB1lEDj8vuqME2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"senderKey","value":"\"7780249050d98477b04a1b589e4794c8ac1f7a78\""},{"name":"templateCode","value":"\"Math4U-edu-2025002\""},{"name":"recipientList","value":"={{ $json.finalJson }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,0],"id":"df6a74e8-fc9e-4147-97ba-2eb7be943d88","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"QAxOCDbJyucwHmL0","name":"Header Auth account"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.data.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"보고서 발송|checkbox","checkboxValue":true}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[816,0],"id":"9cd81ea2-18b6-440a-9eca-0a39a0f12f59","name":"Notion","credentials":{"notionApi":{"id":"vNOlWRb0jvDyOtj3","name":"n8n Notion"}}},{"parameters":{"content":"## NHN Cloud API 연결 \n**Double click** to edit me.\n카카오 알림톡 템플릿\nmath4u-edu-2025002\n\n\n\n\n\n\n\n\n[Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":420,"width":220},"type":"n8n-nodes-base.stickyNote","position":[272,-144],"typeVersion":1,"id":"18dcf3d0-f352-4553-9e7c-93623f9ac25b","name":"Sticky Note"},{"parameters":{"content":"## Webhook \nNotion에서 학습리포트 발송버튼을 클릭하면 Webhook 발동. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":420,"width":220},"type":"n8n-nodes-base.stickyNote","position":[-464,-144],"typeVersion":1,"id":"50e677a3-fba7-4c5d-a2d5-dc97cf135464","name":"Sticky Note1"},{"parameters":{"height":560,"width":220},"type":"n8n-nodes-base.stickyNote","position":[800,-288],"typeVersion":1,"id":"8e255968-e328-41b0-98b6-8b0ac4419dc7","name":"Sticky Note2"},{"parameters":{"jsCode":"const data = $json.body.data.properties;\n\n// 📌 공통 파라미터\nconst commonParams = {\n  url_day: $json.body.data.id,\n  학생이름: data[\"학생이름(S)\"].formula.string,\n  수업날짜: data[\"수업일시(S)\"].formula.string,\n  요일: data[\"요일\"].formula.string,\n  수업회차: data[\"수업회차(S)\"].formula.string,\n  과정: data[\"과정(S)\"].formula.string,\n  수업내용: data[\"진도/수업 내용\"].rollup.array[0]?.rich_text[0]?.plain_text || \"\"\n};\n\n// 📌 수신자 배열\nconst list = [];\n\n// 연락처1 (필수)\nif (data[\"학부모연락처 1(S)\"].formula.string) {\n  list.push({\n    recipientNo: data[\"학부모연락처 1(S)\"].formula.string,\n    templateParameter: commonParams\n  });\n}\n\n// 연락처2 (있으면 추가)\nif (data[\"학부모연락처 2(S)\"].formula.string) {\n  list.push({\n    recipientNo: data[\"학부모연락처 2(S)\"].formula.string,\n    templateParameter: commonParams\n  });\n}\n\n// 📌 숫자만 추출하는 함수\nfunction extractNumber(str) {\n  const match = (str || \"\").match(/\\d+/);\n  return match ? parseInt(match[0], 10) : null;\n}\n\n// 수업회차(S) 숫자\nconst numFromSession = extractNumber(data[\"수업회차(S)\"].formula.string);\n// 과정(S) 숫자\nconst numFromCourse = extractNumber(data[\"과정(S)\"].formula.string);\n\n// 비교 결과\nlet sendPaymentNotice = false;\nif (numFromSession !== null && numFromCourse !== null && numFromSession === numFromCourse) {\n  sendPaymentNotice = true;\n}\n\n// 최종 결과 리턴\nreturn [{\n  json: {\n    recipientList: list,\n    sendPaymentNotice\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,0],"id":"7a9eb92a-babe-4434-9c29-d6ace42ef7fa","name":"Code","alwaysOutputData":false},{"parameters":{"height":420,"width":220},"type":"n8n-nodes-base.stickyNote","position":[-208,-144],"typeVersion":1,"id":"53c2f6c8-9345-4904-9ebf-0706b10c4366","name":"Sticky Note3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d236c18-3c4d-4037-ba27-d4b21d4dfa4f","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,0],"id":"18816ae2-96ab-4654-bc55-fbc03a5b19b8","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"fde62cf0-988f-4e3c-9b37-a458a8fc29fc","name":"finalJson","value":"={{\n  {\n  \"recipientList\": $json.recipientList,\n  \"sendPaymentNotice\": $json.sendPaymentNotice\n  }\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,0],"id":"7f3baad6-0cc6-44e7-bbeb-0ef4d4601428","name":"Edit Fields"}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"If":{"main":[[{"node":"Notion","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"34322233-a2b0-4545-8198-08181a7825db","triggerCount":1,"shared":[{"createdAt":"2025-07-12T19:49:00.108Z","updatedAt":"2025-07-12T19:49:00.108Z","role":"workflow:owner","workflowId":"V3f1JLOA1JAdqA1Q","projectId":"UsCP8Ce854KMNiOS"}],"tags":[]}