Daily Report 01.json
{"createdAt":"2025-08-29T17:32:34.383Z","updatedAt":"2025-08-29T17:32:34.383Z","id":"9HzwCpZfESwTgHRb","name":"Daily Report 01","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"037ed99a-21d5-40c0-b285-a8362db2ffcc","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-464,-80],"id":"19d3054b-be36-47b5-a026-7b1707348c76","name":"Webhook1","webhookId":"037ed99a-21d5-40c0-b285-a8362db2ffcc"},{"parameters":{"method":"POST","url":"https://api-alimtalk.cloud.toast.com/alimtalk/v2.0/appkeys/YuIB1lEDj8vuqME2/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json;charset=UTF-8"},{"name":"X-Secret-Key","value":"BqbvtCkwuidB28H7cuoYGheQ8SyEWOWw"},{"name":"X-App-Key","value":"YuIB1lEDj8vuqME2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"senderKey\": \"7780249050d98477b04a1b589e4794c8ac1f7a78\",\n    \"templateCode\": \"Math4U-edu-2025002\",\n    \"recipientList\": [\n        {\n            \"recipientNo\":\"{{ $json.body.data.properties['학부모연락처 1(S)'].formula.string }}\",\n            \"templateParameter\": {\n                \"url_day\":\"{{$json.body.data.id}}\",\n                \"학생이름\":\"{{$json.body.data.properties['학생이름(S)'].formula.string}}\",\n                \"수업날짜\":\"{{$json.body.data.properties['수업일시(S)'].formula.string}}\",\n                \"요일\":\"{{$json.body.data.properties['요일'].formula.string}}\",\n                \"수업회차\":\"{{$json.body.data.properties['수업회차(S)'].formula.string}}\",\n                \"과정\":\"{{$json.body.data.properties['과정(S)'].formula.string}}\",\n                \"수업내용\":\"{{$json.body.data.properties['진도/수업 내용'].rollup.array[0].rich_text[0].plain_text}}\"\n            }\n        }\n    ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-224,-80],"id":"4e56f3b0-3a6d-4313-88c4-67960e48668a","name":"HTTP Request1","credentials":{"httpHeaderAuth":{"id":"QAxOCDbJyucwHmL0","name":"Header Auth account"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Webhook1').item.json.body.data.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"보고서 발송|checkbox","checkboxValue":true}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[16,-80],"id":"f90f56b6-8188-4463-aff3-8881e5baf797","name":"Notion1","credentials":{"notionApi":{"id":"vNOlWRb0jvDyOtj3","name":"n8n Notion"}}}],"connections":{"Webhook1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Notion1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"cffa063b-8598-405f-8506-4e115f13b57c","triggerCount":0,"shared":[{"createdAt":"2025-08-29T17:32:34.390Z","updatedAt":"2025-08-29T17:32:34.390Z","role":"workflow:owner","workflowId":"9HzwCpZfESwTgHRb","projectId":"UsCP8Ce854KMNiOS"}],"tags":[]}