GitHub Auto Upload.json
{"createdAt":"2025-08-26T21:16:57.373Z","updatedAt":"2025-08-29T17:31:20.000Z","id":"mQacEVekk6dj6bcJ","name":"GitHub Auto Upload","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"7cabf15c-be77-4206-b8cf-da54fdf2d445","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://n8n.math4u.co.kr/api/v1/workflows","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"id":"793665da-8b1b-4c80-abf8-399068c214da","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"ELHKe3AwOOWFIS48","name":"Github-auto"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[416,0],"id":"40325a36-7100-4e14-9546-1873389c5c93","name":"Split Out"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"khai2821195","mode":"list","cachedResultName":"khai2821195","cachedResultUrl":"https://github.com/khai2821195"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/khai2821195/n8n"},"filePath":"={{ $json.name }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"={{ $json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[624,0],"id":"8fbd9855-bb81-40db-9930-d91348514260","name":"Create a file","webhookId":"5ca4e444-e672-4c5c-9fc7-3cfff1664722","credentials":{"githubApi":{"id":"XMtWLxivHH302tMG","name":"GitHub account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Create a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"61a95434-21bf-40de-8c48-dee61f15d89c","triggerCount":0,"shared":[{"createdAt":"2025-08-26T21:16:57.389Z","updatedAt":"2025-08-26T21:16:57.389Z","role":"workflow:owner","workflowId":"mQacEVekk6dj6bcJ","projectId":"UsCP8Ce854KMNiOS"}],"tags":[]}