My workflow 2.json
{"createdAt":"2025-08-29T20:28:19.797Z","updatedAt":"2025-08-29T21:13:01.000Z","id":"7zTLGYSeQgt2S17c","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"037ed99a-21d5-40c0-b285-a8362db2ffcc","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"6f09e7fe-0003-4286-9079-8cc1b216396f","name":"Webhook","webhookId":"1ade9338-59ca-4218-994e-b645e98c345e"},{"parameters":{"jsCode":" const data = $json.body.data.properties;\n  \n  // 📌 공통 파라미터\n  const commonParams = {\n    url_day: $json.body.data.id,\n    학생이름: data[\"학생이름(S)\"].formula.string,\n    수업날짜: data[\"수업일시(S)\"].formula.string,\n    요일: data[\"요일\"].formula.string,\n    수업회차: data[\"수업회차(S)\"].formula.string,\n    과정: data[\"과정(S)\"].formula.string,\n    수업내용: data[\"진도/수업 내용\"]?.rollup?.array[0]?.rich_text[0]?.plain_text || \"\"\n  };\n  \n  // 📌 수신자 배열\n  const list = [];\n  \n  // 연락처1 (필수)\n  if (data[\"학부모연락처 1(S)\"].formula.string) {\n    list.push({\n      recipientNo: data[\"학부모연락처 1(S)\"].formula.string,\n      templateParameter: commonParams\n    });\n  }\n  \n  // 연락처2 (있으면 추가)\n  if (data[\"학부모연락처 2(S)\"].formula.string) {\n    list.push({\n      recipientNo: data[\"학부모연락처 2(S)\"].formula.string,\n      templateParameter: commonParams\n    });\n  }\n  \n  // 📌 숫자만 추출하는 함수\n  function extractNumber(str) {\n    const match = (str || \"\").match(/\\d+/);\n    return match ? parseInt(match[0], 10) : null;\n  }\n  \n  // 수업회차(S) 숫자\n  const numFromSession = extractNumber(data[\"수업회차(S)\"].formula.string);\n  // 과정(S) 숫자\n  const numFromCourse = extractNumber(data[\"과정(S)\"].formula.string);\n  \n  // 비교 결과\n  let sendPaymentNotice = false;\n  if (numFromSession !== null && numFromCourse !== null && numFromSession === numFromCourse)\n  {\n    sendPaymentNotice = true;\n  }\n  \n  // 최종 결과 리턴\n  return [{\n    json: {\n      recipientList: list,\n      sendPaymentNotice\n    }\n  }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"2d0e6f53-0049-4357-97c3-ac156da1a7f3","name":"Code"},{"parameters":{"mode":"raw","jsonOutput":"={{ { \"recipientList\": $json.recipientList, \"sendPaymentNotice\": $json\n     .sendPaymentNotice } }}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,0],"id":"c05e8b8c-ee33-41bc-93ad-3899c6521886","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://api-alimtalk.cloud.toast.com/alimtalk/v2.0/appkeys/YuIB1lEDj8vuqME2/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json;charset=UTF-8"},{"name":"X-Secret-Key","value":"BqbvtCkwuidB28H7cuoYGheQ8SyEWOWw"},{"name":"X-App-Key","value":"YuIB1lEDj8vuqME2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"senderKey","value":"7780249050d98477b04a1b589e4794c8ac1f7a78"},{"name":"templateCode","value":"Math4U-edu-2025002"},{"name":"recipientList","value":"={{ $json.recipientList[0].recipientNo }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,0],"id":"7cb4de5a-0182-48af-958e-b16fbbb570eb","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"QAxOCDbJyucwHmL0","name":"Header Auth account"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.data.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[832,0],"id":"1183272b-c3d4-44c6-9211-8775f4a14950","name":"Update a database page","credentials":{"notionApi":{"id":"vNOlWRb0jvDyOtj3","name":"n8n Notion"}}}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Update a database page","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"62c3357b-53a2-4d35-a618-49c9e35014d8","triggerCount":0,"shared":[{"createdAt":"2025-08-29T20:28:19.803Z","updatedAt":"2025-08-29T20:28:19.803Z","role":"workflow:owner","workflowId":"7zTLGYSeQgt2S17c","projectId":"UsCP8Ce854KMNiOS"}],"tags":[]}