n8n_github_backup.json
{"updatedAt":"2025-12-01T23:24:33.000Z","createdAt":"2025-12-01T21:37:22.774Z","id":"gRhv6ri8Nq5sE1Ol","name":"n8n_github_backup","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-256,320],"id":"c196462d-d5d3-48df-89bb-571f60580b8c","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://n8n.math4u.co.kr/api/v1/workflows","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-48,320],"id":"e1d901d0-9ccb-4ee3-bc14-e60fdc288f32","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"4vyqQ4BPURG0ufgO","name":"Header Auth account"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[160,320],"id":"9ef23a84-03c7-47f0-bde9-38ea2351de75","name":"Split Out"},{"parameters":{"resource":"file","operation":"get","owner":"khai2821195","repository":"n8n","filePath":"={{ $json.name }}/workflow.json","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[368,320],"id":"6e843c73-3014-4d7a-a698-eacd7256d81c","name":"Get File SHA","webhookId":"5468643c-16a3-449d-b464-8ea513f5f577","credentials":{"githubApi":{"id":"h94Cf9O1qGqaxwYw","name":"GitHub account"}},"onError":"continue"},{"parameters":{"resource":"file","operation":"createOrUpdate","owner":"khai2821195","repository":"n8n","filePath":"={{ $node[\"Split Out\"]..json.name }}/workflow.json"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[608,320],"id":"3d6e85e4-197e-46de-8a84-716f8de001a5","name":"Upsert File","webhookId":"140c20e9-09cd-49d8-b7e2-d8c81b21baad","credentials":{"githubApi":{"id":"h94Cf9O1qGqaxwYw","name":"GitHub account"}}}],"connections":{"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Get File SHA","type":"main","index":0}]]},"Get File SHA":{"main":[[{"node":"Upsert File","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"02cab359-6675-442e-bdce-ea89278bfbb4","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-01T21:37:22.778Z","createdAt":"2025-12-01T21:37:22.778Z","role":"workflow:owner","workflowId":"gRhv6ri8Nq5sE1Ol","projectId":"8znYa8Ca7GWeBy0m"}],"activeVersion":null,"tags":[]}