🔧 슬랙 나에게 보내기 (공통 서브워크플로우)/workflow.json
{
  "updatedAt": "2026-03-23T16:50:32.459Z",
  "createdAt": "2026-03-23T16:47:23.343Z",
  "id": "L2oRzJDV57Rf8pcr",
  "name": "🔧 슬랙 나에게 보내기 (공통 서브워크플로우)",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## 🔧 슬랙 나에게 보내기\n\n### 입력 (Execute Workflow로 전달)\n| 필드 | 타입 | 설명 |\n|------|------|------|\n| `text` | string | 보낼 메시지 내용 |\n| `channel` | string | (선택) 채널/유저ID. 비우면 기본값 사용 |\n\n### 기본 채널 변경\n`Code - 채널 설정` 노드에서\n`DEFAULT_CHANNEL` 값을 본인 슬랙 유저 ID로 변경\n(슬랙 프로필 → ⋯ → Copy member ID)\n\n### 출력\n- `isSuccess`: 발송 성공 여부\n- `channel`: 실제 전송된 채널",
        "height": 368,
        "width": 400,
        "color": 4
      },
      "id": "note-main",
      "name": "📋 서브워크플로우 메뉴얼",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        -160
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "text"
            },
            {
              "name": "channel"
            }
          ]
        }
      },
      "id": "trigger-01",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        192,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst text = input.text || '';\nif (!text) throw new Error('보낼 text가 없습니다.');\n\n// 기본 채널: 본인 슬랙 유저 ID로 변경하세요\n// 슬랙 프로필 → ⋯ → Copy member ID (예: U12345678)\nconst DEFAULT_CHANNEL = 'U07J6D9J5L6';\n\nconst channel = input.channel || DEFAULT_CHANNEL;\n\nreturn [{ json: { text, channel } }];"
      },
      "id": "code-01",
      "name": "Code - 채널 설정",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        304
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel }}",
          "mode": "id"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "id": "slack-01",
      "name": "Slack - 나에게 보내기",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        624,
        304
      ],
      "webhookId": "bec2ced1-ddd9-4a76-92ce-91e21f83c1b2"
    },
    {
      "parameters": {
        "jsCode": "const res = $input.first().json;\nconst isSuccess = res.ok === true;\nreturn [{ json: { isSuccess, channel: res.channel || '', ts: res.ts || '' } }];"
      },
      "id": "code-02",
      "name": "Code - 결과 정리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        304
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code - 채널 설정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - 채널 설정": {
      "main": [
        [
          {
            "node": "Slack - 나에게 보내기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - 나에게 보내기": {
      "main": [
        [
          {
            "node": "Code - 결과 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b7ad6dc1-3fe1-4afb-82ee-fa616112a2b5",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-23T16:47:23.346Z",
      "createdAt": "2026-03-23T16:47:23.346Z",
      "role": "workflow:owner",
      "workflowId": "L2oRzJDV57Rf8pcr",
      "projectId": "8znYa8Ca7GWeBy0m",
      "project": {
        "updatedAt": "2025-11-29T23:05:56.637Z",
        "createdAt": "2025-11-29T23:04:07.777Z",
        "id": "8znYa8Ca7GWeBy0m",
        "name": "Seung Hyeon Kim <khai01@naver.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}