Daily Report 260120/workflow.json
{
  "updatedAt": "2026-01-21T00:39:59.000Z",
  "createdAt": "2025-11-29T23:11:41.584Z",
  "id": "zQOKALD9EOnl3qhd",
  "name": "Daily Report 260120",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "037ed99a-21d5-40c0-b285-a8362db2ffcc",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -448,
        400
      ],
      "id": "abf03590-5b59-4445-ad72-f64d34d7bf38",
      "name": "Webhook",
      "webhookId": "037ed99a-21d5-40c0-b285-a8362db2ffcc"
    },
    {
      "parameters": {
        "jsCode": "const data = $json.body.data.properties;\n\n// 📌 공통 파라미터 (수업 리포트용)\nconst reportParams = {\n  url_day: $json.body.data.id,\n  학생이름: data[\"학생이름(S)\"].formula.string,\n  수업날짜: data[\"수업일시(S)\"].formula.string,\n  요일: data[\"요일\"].formula.string,\n  수업회차: data[\"수업회차(S)\"].formula.string,\n  과정: data[\"과정(S)\"].formula.string,\n  수업내용: data[\"진도/수업 내용\"].rollup.array[0]?.rich_text[0]?.plain_text || \"\"\n};\n\n// 📌 수신자 배열 구성 (수업 리포트)\nconst reportRecipientList = [];\n\nif (data[\"학부모연락처 1(S)\"].formula.string) {\n  reportRecipientList.push({\n    recipientNo: data[\"학부모연락처 1(S)\"].formula.string,\n    templateParameter: reportParams\n  });\n}\n\nif (data[\"학부모연락처 2(S)\"].formula.string) {\n  reportRecipientList.push({\n    recipientNo: data[\"학부모연락처 2(S)\"].formula.string,\n    templateParameter: reportParams\n  });\n}\n\n// 📌 [개선] 노션의 모든 타입에서 숫자를 안전하게 뽑아내는 만능 함수\nfunction extractNumber(val) {\n  if (val === null || val === undefined) return null;\n\n  let targetValue;\n\n  // 1. 노션 프로퍼티 오브젝트인 경우 처리\n  if (typeof val === 'object') {\n    // 수식(Formula)인 경우\n    if (val.formula) {\n      targetValue = val.formula.string !== undefined ? val.formula.string : val.formula.number;\n    } \n    // 롤업(Rollup)인 경우\n    else if (val.rollup && val.rollup.array) {\n      const firstItem = val.rollup.array[0];\n      if (firstItem && firstItem.select) targetValue = firstItem.select.name;\n      else if (firstItem && firstItem.number !== undefined) targetValue = firstItem.number;\n      else if (firstItem && firstItem.rich_text) targetValue = firstItem.rich_text[0]?.plain_text;\n    }\n  } \n  // 2. 이미 문자열이나 숫자인 경우\n  else {\n    targetValue = val;\n  }\n\n  if (targetValue === null || targetValue === undefined) return null;\n  \n  // 숫자가 아닌 글자가 섞여 있어도 숫자만 추출 (예: \"4회차\" -> 4)\n  const match = String(targetValue).match(/\\d+/);\n  return match ? parseInt(match[0], 10) : null;\n}\n\n// 📌 [수정된 호출 부분] - 통째로 전달해야 함\nconst numFromSession = extractNumber(data[\"수업회차(S)\"]);\nconst numFromCourse = extractNumber(data[\"수업구분\"]); // 이제 Rollup도 인식함\n\n// 📌 조건 판단\nconst sendPaymentNotice = (numFromSession !== null && numFromCourse !== null && numFromSession === numFromCourse);\n\n// 📌 수정된 수업료 납부 알림용 파라미터\nconst paymentParams = {\n  // 아래 항목들은 데이터가 있을 때만 값이 할당됨 (없으면 undefined)\n  이름: data[\"학생이름(S)\"]?.formula?.string,\n  수업구분: data['수업구분']?.rollup?.array[0]?.select?.name,\n  수업일시: data[\"수업일시(S)\"]?.formula?.string,\n  요일: data[\"요일\"]?.formula?.string,\n  다음수업일: data[\"다음수업일M\"]?.formula?.string,\n\n  // 📌 기타사항: 데이터가 없어도 빈 문자열(\"\")을 넣어서 발송 보장\n  기타안내: data[\"기타안내\"]?.formula?.string || \"\"\n};\n\n// 📌 수신자 배열 구성 (수업료 납부 알림)\nconst paymentRecipientList = [];\n\nif (data[\"학부모연락처 1(S)\"].formula.string) {\n  paymentRecipientList.push({\n    recipientNo: data[\"학부모연락처 1(S)\"].formula.string,\n    templateParameter: paymentParams\n  });\n}\n\nif (data[\"학부모연락처 2(S)\"].formula.string) {\n  paymentRecipientList.push({\n    recipientNo: data[\"학부모연락처 2(S)\"].formula.string,\n    templateParameter: paymentParams\n  });\n}\n\nreturn [{\n  json: {\n    // 수업 리포트 발송 데이터(사용자설정 senderKey,templateCode-NHNCloud)\n    reportData: {\n      senderKey: \"7780249050d98477b04a1b589e4794c8ac1f7a78\",\n      templateCode: \"Math4U-edu-2025002\",\n      recipientList: reportRecipientList\n    },\n    // 수업료 납부 알림 발송 데이터(사용자설정 senderKey,templateCode)\n    paymentData: {\n      senderKey: \"7780249050d98477b04a1b589e4794c8ac1f7a78\",\n      templateCode: \"Math4U-edu-2025004\",\n      recipientList: paymentRecipientList\n    },\n    // 조건 판단 플래그\n    sendPaymentNotice: sendPaymentNotice,\n    // Notion 업데이트용 ID\n    notionPageId: $json.body.data.id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        400
      ],
      "id": "d24ca2a4-0197-49ee-97ef-5a4302d72cce",
      "name": "Code",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-alimtalk.cloud.toast.com/alimtalk/v2.0/appkeys/YuIB1lEDj8vuqME2/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "X-Secret-Key",
              "value": "BqbvtCkwuidB28H7cuoYGheQ8SyEWOWw"
            },
            {
              "name": "X-App-Key",
              "value": "YuIB1lEDj8vuqME2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.reportData }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        400
      ],
      "id": "fd8d5462-58db-49a6-aee2-97fb879812e1",
      "name": "HTTP Request - 수업 리포트",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4vyqQ4BPURG0ufgO",
          "name": "Header Auth account"
        },
        "httpCustomAuth": {
          "id": "7IkET7kvzmFP3Vr7",
          "name": "Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4d236c18-3c4d-4037-ba27-d4b21d4dfa4f",
              "leftValue": "={{ $('Code').item.json.sendPaymentNotice }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        304,
        400
      ],
      "id": "32a64a7e-36a3-486b-a7da-f3793c55c063",
      "name": "If - 납부 알림 조건 체크"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-alimtalk.cloud.toast.com/alimtalk/v2.0/appkeys/YuIB1lEDj8vuqME2/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "X-Secret-Key",
              "value": "BqbvtCkwuidB28H7cuoYGheQ8SyEWOWw"
            },
            {
              "name": "X-App-Key",
              "value": "YuIB1lEDj8vuqME2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Code').item.json.paymentData }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        224
      ],
      "id": "12c22533-f79d-44b8-ab51-f690a443036e",
      "name": "HTTP Request - 수업료 납부 알림",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4vyqQ4BPURG0ufgO",
          "name": "Header Auth account"
        },
        "httpCustomAuth": {
          "id": "7IkET7kvzmFP3Vr7",
          "name": "Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.data.id }}",
          "mode": "id"
        },
        "simple": "={{ true }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "보고서 발송|checkbox",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        560,
        560
      ],
      "id": "9e0c8259-40ef-46a2-acf5-4a2636113924",
      "name": "Notion - 발송 완료 체크",
      "credentials": {
        "notionApi": {
          "id": "lDP3J5aTBwUIOktz",
          "name": "Notion Math4U"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.data.id }}",
          "mode": "id"
        },
        "simple": "={{ true }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "보고서 발송|checkbox",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        800,
        224
      ],
      "id": "e53bafb4-e657-4e6f-ac28-639a861d0159",
      "name": "Notion - 발송 완료 체크1",
      "credentials": {
        "notionApi": {
          "id": "lDP3J5aTBwUIOktz",
          "name": "Notion Math4U"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request - 수업 리포트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - 수업 리포트": {
      "main": [
        [
          {
            "node": "If - 납부 알림 조건 체크",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - 납부 알림 조건 체크": {
      "main": [
        [
          {
            "node": "HTTP Request - 수업료 납부 알림",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notion - 발송 완료 체크",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - 수업료 납부 알림": {
      "main": [
        [
          {
            "node": "Notion - 발송 완료 체크1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9c697e20-e9d7-4c63-9ed0-1aa1102f65ab",
  "activeVersionId": "9c697e20-e9d7-4c63-9ed0-1aa1102f65ab",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-29T23:11:41.587Z",
      "createdAt": "2025-11-29T23:11:41.587Z",
      "role": "workflow:owner",
      "workflowId": "zQOKALD9EOnl3qhd",
      "projectId": "8znYa8Ca7GWeBy0m"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-21T00:39:59.133Z",
    "createdAt": "2026-01-21T00:39:59.133Z",
    "versionId": "9c697e20-e9d7-4c63-9ed0-1aa1102f65ab",
    "workflowId": "zQOKALD9EOnl3qhd",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "037ed99a-21d5-40c0-b285-a8362db2ffcc",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -448,
          400
        ],
        "id": "abf03590-5b59-4445-ad72-f64d34d7bf38",
        "name": "Webhook",
        "webhookId": "037ed99a-21d5-40c0-b285-a8362db2ffcc"
      },
      {
        "parameters": {
          "jsCode": "const data = $json.body.data.properties;\n\n// 📌 공통 파라미터 (수업 리포트용)\nconst reportParams = {\n  url_day: $json.body.data.id,\n  학생이름: data[\"학생이름(S)\"].formula.string,\n  수업날짜: data[\"수업일시(S)\"].formula.string,\n  요일: data[\"요일\"].formula.string,\n  수업회차: data[\"수업회차(S)\"].formula.string,\n  과정: data[\"과정(S)\"].formula.string,\n  수업내용: data[\"진도/수업 내용\"].rollup.array[0]?.rich_text[0]?.plain_text || \"\"\n};\n\n// 📌 수신자 배열 구성 (수업 리포트)\nconst reportRecipientList = [];\n\nif (data[\"학부모연락처 1(S)\"].formula.string) {\n  reportRecipientList.push({\n    recipientNo: data[\"학부모연락처 1(S)\"].formula.string,\n    templateParameter: reportParams\n  });\n}\n\nif (data[\"학부모연락처 2(S)\"].formula.string) {\n  reportRecipientList.push({\n    recipientNo: data[\"학부모연락처 2(S)\"].formula.string,\n    templateParameter: reportParams\n  });\n}\n\n// 📌 [개선] 노션의 모든 타입에서 숫자를 안전하게 뽑아내는 만능 함수\nfunction extractNumber(val) {\n  if (val === null || val === undefined) return null;\n\n  let targetValue;\n\n  // 1. 노션 프로퍼티 오브젝트인 경우 처리\n  if (typeof val === 'object') {\n    // 수식(Formula)인 경우\n    if (val.formula) {\n      targetValue = val.formula.string !== undefined ? val.formula.string : val.formula.number;\n    } \n    // 롤업(Rollup)인 경우\n    else if (val.rollup && val.rollup.array) {\n      const firstItem = val.rollup.array[0];\n      if (firstItem && firstItem.select) targetValue = firstItem.select.name;\n      else if (firstItem && firstItem.number !== undefined) targetValue = firstItem.number;\n      else if (firstItem && firstItem.rich_text) targetValue = firstItem.rich_text[0]?.plain_text;\n    }\n  } \n  // 2. 이미 문자열이나 숫자인 경우\n  else {\n    targetValue = val;\n  }\n\n  if (targetValue === null || targetValue === undefined) return null;\n  \n  // 숫자가 아닌 글자가 섞여 있어도 숫자만 추출 (예: \"4회차\" -> 4)\n  const match = String(targetValue).match(/\\d+/);\n  return match ? parseInt(match[0], 10) : null;\n}\n\n// 📌 [수정된 호출 부분] - 통째로 전달해야 함\nconst numFromSession = extractNumber(data[\"수업회차(S)\"]);\nconst numFromCourse = extractNumber(data[\"수업구분\"]); // 이제 Rollup도 인식함\n\n// 📌 조건 판단\nconst sendPaymentNotice = (numFromSession !== null && numFromCourse !== null && numFromSession === numFromCourse);\n\n// 📌 수정된 수업료 납부 알림용 파라미터\nconst paymentParams = {\n  // 아래 항목들은 데이터가 있을 때만 값이 할당됨 (없으면 undefined)\n  이름: data[\"학생이름(S)\"]?.formula?.string,\n  수업구분: data['수업구분']?.rollup?.array[0]?.select?.name,\n  수업일시: data[\"수업일시(S)\"]?.formula?.string,\n  요일: data[\"요일\"]?.formula?.string,\n  다음수업일: data[\"다음수업일M\"]?.formula?.string,\n\n  // 📌 기타사항: 데이터가 없어도 빈 문자열(\"\")을 넣어서 발송 보장\n  기타안내: data[\"기타안내\"]?.formula?.string || \"\"\n};\n\n// 📌 수신자 배열 구성 (수업료 납부 알림)\nconst paymentRecipientList = [];\n\nif (data[\"학부모연락처 1(S)\"].formula.string) {\n  paymentRecipientList.push({\n    recipientNo: data[\"학부모연락처 1(S)\"].formula.string,\n    templateParameter: paymentParams\n  });\n}\n\nif (data[\"학부모연락처 2(S)\"].formula.string) {\n  paymentRecipientList.push({\n    recipientNo: data[\"학부모연락처 2(S)\"].formula.string,\n    templateParameter: paymentParams\n  });\n}\n\nreturn [{\n  json: {\n    // 수업 리포트 발송 데이터(사용자설정 senderKey,templateCode-NHNCloud)\n    reportData: {\n      senderKey: \"7780249050d98477b04a1b589e4794c8ac1f7a78\",\n      templateCode: \"Math4U-edu-2025002\",\n      recipientList: reportRecipientList\n    },\n    // 수업료 납부 알림 발송 데이터(사용자설정 senderKey,templateCode)\n    paymentData: {\n      senderKey: \"7780249050d98477b04a1b589e4794c8ac1f7a78\",\n      templateCode: \"Math4U-edu-2025004\",\n      recipientList: paymentRecipientList\n    },\n    // 조건 판단 플래그\n    sendPaymentNotice: sendPaymentNotice,\n    // Notion 업데이트용 ID\n    notionPageId: $json.body.data.id\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -208,
          400
        ],
        "id": "d24ca2a4-0197-49ee-97ef-5a4302d72cce",
        "name": "Code",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api-alimtalk.cloud.toast.com/alimtalk/v2.0/appkeys/YuIB1lEDj8vuqME2/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpCustomAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json;charset=UTF-8"
              },
              {
                "name": "X-Secret-Key",
                "value": "BqbvtCkwuidB28H7cuoYGheQ8SyEWOWw"
              },
              {
                "name": "X-App-Key",
                "value": "YuIB1lEDj8vuqME2"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.reportData }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          48,
          400
        ],
        "id": "fd8d5462-58db-49a6-aee2-97fb879812e1",
        "name": "HTTP Request - 수업 리포트",
        "credentials": {
          "httpHeaderAuth": {
            "id": "4vyqQ4BPURG0ufgO",
            "name": "Header Auth account"
          },
          "httpCustomAuth": {
            "id": "7IkET7kvzmFP3Vr7",
            "name": "Custom Auth account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "4d236c18-3c4d-4037-ba27-d4b21d4dfa4f",
                "leftValue": "={{ $('Code').item.json.sendPaymentNotice }}",
                "rightValue": "={{ true }}",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          304,
          400
        ],
        "id": "32a64a7e-36a3-486b-a7da-f3793c55c063",
        "name": "If - 납부 알림 조건 체크"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api-alimtalk.cloud.toast.com/alimtalk/v2.0/appkeys/YuIB1lEDj8vuqME2/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpCustomAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json;charset=UTF-8"
              },
              {
                "name": "X-Secret-Key",
                "value": "BqbvtCkwuidB28H7cuoYGheQ8SyEWOWw"
              },
              {
                "name": "X-App-Key",
                "value": "YuIB1lEDj8vuqME2"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $('Code').item.json.paymentData }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          560,
          224
        ],
        "id": "12c22533-f79d-44b8-ab51-f690a443036e",
        "name": "HTTP Request - 수업료 납부 알림",
        "credentials": {
          "httpHeaderAuth": {
            "id": "4vyqQ4BPURG0ufgO",
            "name": "Header Auth account"
          },
          "httpCustomAuth": {
            "id": "7IkET7kvzmFP3Vr7",
            "name": "Custom Auth account"
          }
        }
      },
      {
        "parameters": {
          "resource": "databasePage",
          "operation": "update",
          "pageId": {
            "__rl": true,
            "value": "={{ $('Webhook').item.json.body.data.id }}",
            "mode": "id"
          },
          "simple": "={{ true }}",
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "보고서 발송|checkbox",
                "checkboxValue": true
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          560,
          560
        ],
        "id": "9e0c8259-40ef-46a2-acf5-4a2636113924",
        "name": "Notion - 발송 완료 체크",
        "credentials": {
          "notionApi": {
            "id": "lDP3J5aTBwUIOktz",
            "name": "Notion Math4U"
          }
        }
      },
      {
        "parameters": {
          "resource": "databasePage",
          "operation": "update",
          "pageId": {
            "__rl": true,
            "value": "={{ $('Webhook').item.json.body.data.id }}",
            "mode": "id"
          },
          "simple": "={{ true }}",
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "보고서 발송|checkbox",
                "checkboxValue": true
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          800,
          224
        ],
        "id": "e53bafb4-e657-4e6f-ac28-639a861d0159",
        "name": "Notion - 발송 완료 체크1",
        "credentials": {
          "notionApi": {
            "id": "lDP3J5aTBwUIOktz",
            "name": "Notion Math4U"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "HTTP Request - 수업 리포트",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request - 수업 리포트": {
        "main": [
          [
            {
              "node": "If - 납부 알림 조건 체크",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If - 납부 알림 조건 체크": {
        "main": [
          [
            {
              "node": "HTTP Request - 수업료 납부 알림",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Notion - 발송 완료 체크",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request - 수업료 납부 알림": {
        "main": [
          [
            {
              "node": "Notion - 발송 완료 체크1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Seung Hyeon Kim",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}