Daily Report 260120/workflow.json
{
  "updatedAt": "2026-03-19T10:38:21.533Z",
  "createdAt": "2025-11-29T23:11:41.584Z",
  "id": "zQOKALD9EOnl3qhd",
  "name": "Daily Report 260120",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "abf03590-5b59-4445-ad72-f64d34d7bf38",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        400
      ],
      "webhookId": "037ed99a-21d5-40c0-b285-a8362db2ffcc",
      "parameters": {
        "httpMethod": "POST",
        "path": "037ed99a-21d5-40c0-b285-a8362db2ffcc",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "node-get-studentstudy",
      "name": "Notion - Student_Study 재조회",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -640,
        160
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.body.data.id }}",
          "mode": "id"
        },
        "simple": false,
        "options": {}
      }
    },
    {
      "id": "get-student-node",
      "name": "Notion - Students 조회",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -400,
        400
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Notion - Student_Study 재조회').item.json.properties?.['Students']?.relation?.[0]?.id }}",
          "mode": "id"
        },
        "simple": false
      }
    },
    {
      "id": "get-classstudy-node",
      "name": "Notion - Class_Study 조회",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -160,
        160
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Notion - Student_Study 재조회').item.json.properties?.['Class_Study']?.relation?.[0]?.id }}",
          "mode": "id"
        },
        "simple": false
      }
    },
    {
      "id": "get-prev-classstudy-node",
      "name": "Notion - 지난수업 조회",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        80,
        160
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Notion - Class_Study 조회').item.json.properties?.['지난수업']?.relation?.[0]?.id }}",
          "mode": "id"
        }
      }
    },
    {
      "id": "d24ca2a4-0197-49ee-97ef-5a4302d72cce",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        400
      ],
      "parameters": {
        "jsCode": "const data = $('Notion - Student_Study 재조회').item.json.properties;\nconst student = $('Notion - Students 조회').item.json;\nconst prevClassStudy = $('Notion - 지난수업 조회').item.json;\nconst notionPageId = $('Webhook').item.json.body.data.id;\n\nconst 학생이름 = student.properties?.['이름']?.title?.[0]?.plain_text || student.name || '';\nconst 학부모연락처1 = student.properties?.['보호자전화번호(모)']?.phone_number || '';\nconst 학부모연락처2 = student.properties?.['보호자전화번호(부)']?.phone_number || '';\n\nconst 수업일시Raw = data['수업일시']?.date?.start || '';\nlet 수업날짜 = '';\nlet 요일 = '';\nif (수업일시Raw) {\n  const d = new Date(수업일시Raw);\n  const dayNames = ['일', '월', '화', '수', '목', '금', '토'];\n  요일 = dayNames[d.getDay()];\n  const yyyy = d.getFullYear();\n  const mm = String(d.getMonth() + 1).padStart(2, '0');\n  const dd = String(d.getDate()).padStart(2, '0');\n  const hh = String(d.getHours()).padStart(2, '0');\n  const min = String(d.getMinutes()).padStart(2, '0');\n  수업날짜 = `${yyyy}-${mm}-${dd} ${hh}:${min}`;\n}\n\nconst 수업회차 = (data['수업회차']?.multi_select || []).map(s => s.name).join(', ');\nconst 과정 = (data['과정']?.rollup?.array || []).flatMap(item => (item.multi_select || []).map(s => s.name)).join(', ');\n\nconst 다음수업일Raw = data['다음수업일']?.rollup?.array?.[0]?.date?.start || '';\nlet 다음수업일 = '';\nif (다음수업일Raw) {\n  const d2 = new Date(다음수업일Raw);\n  const dayNames2 = ['일', '월', '화', '수', '목', '금', '토'];\n  const yyyy = d2.getFullYear();\n  const mm = String(d2.getMonth() + 1).padStart(2, '0');\n  const dd = String(d2.getDate()).padStart(2, '0');\n  const dow = dayNames2[d2.getDay()];\n  다음수업일 = `${yyyy}-${mm}-${dd}(${dow})`;\n}\n\nconst 기타안내 = data['기타안내']?.rich_text?.[0]?.plain_text || '';\nconst 수업구분 = data['수업구분']?.rollup?.array?.[0]?.select?.name || '';\nconst 수업내용 = data['진도/수업 내용']?.rollup?.array?.[0]?.rich_text?.[0]?.plain_text || '';\nconst 지난과제 = prevClassStudy?.properties?.['과제']?.rich_text?.[0]?.plain_text || '';\n\nconst reportParams = { url_day: notionPageId, 학생이름, 수업날짜, 요일, 수업회차, 과정, 수업내용, 지난과제 };\nconst reportRecipientList = [];\nif (학부모연락처1) reportRecipientList.push({ recipientNo: 학부모연락처1, templateParameter: reportParams });\nif (학부모연락처2) reportRecipientList.push({ recipientNo: 학부모연락처2, templateParameter: reportParams });\n\nfunction extractNumber(val) {\n  const match = String(val || '').match(/\\d+/);\n  return match ? parseInt(match[0], 10) : null;\n}\nconst numFromSession = extractNumber(수업회차);\nconst numFromCourse = extractNumber(수업구분);\nconst sendPaymentNotice = (numFromSession !== null && numFromCourse !== null && numFromSession === numFromCourse);\n\nconst paymentParams = { 이름: 학생이름, 수업구분, 수업일시: 수업날짜, 요일, 다음수업일, 기타안내 };\nconst paymentRecipientList = [];\nif (학부모연락처1) paymentRecipientList.push({ recipientNo: 학부모연락처1, templateParameter: paymentParams });\nif (학부모연락처2) paymentRecipientList.push({ recipientNo: 학부모연락처2, templateParameter: paymentParams });\n\nreturn [{ json: { reportData: { senderKey: '7780249050d98477b04a1b589e4794c8ac1f7a78', templateCode: 'Math4U-edu-2025002', recipientList: reportRecipientList }, paymentData: { senderKey: '7780249050d98477b04a1b589e4794c8ac1f7a78', templateCode: 'Math4U-edu-2025004', recipientList: paymentRecipientList }, sendPaymentNotice, notionPageId } }];"
      }
    },
    {
      "id": "fd8d5462-58db-49a6-aee2-97fb879812e1",
      "name": "HTTP Request - 수업 리포트",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api-alimtalk.cloud.toast.com/alimtalk/v2.0/appkeys/YuIB1lEDj8vuqME2/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "X-Secret-Key",
              "value": "BqbvtCkwuidB28H7cuoYGheQ8SyEWOWw"
            },
            {
              "name": "X-App-Key",
              "value": "YuIB1lEDj8vuqME2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Code').item.json.reportData }}",
        "options": {}
      }
    },
    {
      "id": "32a64a7e-36a3-486b-a7da-f3793c55c063",
      "name": "If - 납부 알림 조건 체크",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4d236c18-3c4d-4037-ba27-d4b21d4dfa4f",
              "leftValue": "={{ $('Code').item.json.sendPaymentNotice }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "12c22533-f79d-44b8-ab51-f690a443036e",
      "name": "HTTP Request - 수업료 납부 알림",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        224
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api-alimtalk.cloud.toast.com/alimtalk/v2.0/appkeys/YuIB1lEDj8vuqME2/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "X-Secret-Key",
              "value": "BqbvtCkwuidB28H7cuoYGheQ8SyEWOWw"
            },
            {
              "name": "X-App-Key",
              "value": "YuIB1lEDj8vuqME2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Code').item.json.paymentData }}",
        "options": {}
      }
    },
    {
      "id": "e53bafb4-e657-4e6f-ac28-639a861d0159",
      "name": "Notion - 발송 완료 체크1",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1328,
        224
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.data.id }}",
          "mode": "id"
        },
        "simple": "={{ true }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "=보고서 발송|checkbox",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "9e0c8259-40ef-46a2-acf5-4a2636113924",
      "name": "Notion - 발송 완료 체크",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1088,
        576
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.data.id }}",
          "mode": "id"
        },
        "simple": "={{ true }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "=보고서 발송|checkbox",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "set-success1",
      "name": "Set - 성공 데이터1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        224
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "workflowId",
              "type": "string",
              "value": "zQOKALD9EOnl3qhd"
            },
            {
              "id": "a2",
              "name": "workflowName",
              "type": "string",
              "value": "Daily Report 260120"
            },
            {
              "id": "a3",
              "name": "notionPageId",
              "type": "string",
              "value": "323c6a06e17e811fa9f8f05949561409"
            },
            {
              "id": "a4",
              "name": "status",
              "type": "string",
              "value": "✅ 정상"
            },
            {
              "id": "a5",
              "name": "errorMessage",
              "type": "string",
              "value": ""
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "status-success",
      "name": "✅ 상태 업데이트 (성공)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1788,
        224
      ],
      "parameters": {
        "workflowId": "eOopB5bbEEO9rjrg",
        "options": {}
      }
    },
    {
      "id": "set-success2",
      "name": "Set - 성공 데이터2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        576
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1",
              "name": "workflowId",
              "type": "string",
              "value": "zQOKALD9EOnl3qhd"
            },
            {
              "id": "b2",
              "name": "workflowName",
              "type": "string",
              "value": "Daily Report 260120"
            },
            {
              "id": "b3",
              "name": "notionPageId",
              "type": "string",
              "value": "323c6a06e17e811fa9f8f05949561409"
            },
            {
              "id": "b4",
              "name": "status",
              "type": "string",
              "value": "✅ 정상"
            },
            {
              "id": "b5",
              "name": "errorMessage",
              "type": "string",
              "value": ""
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "status-success2",
      "name": "✅ 상태 업데이트 (성공)2",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1788,
        576
      ],
      "parameters": {
        "workflowId": "eOopB5bbEEO9rjrg",
        "options": {}
      }
    },
    {
      "id": "error-trigger",
      "name": "❌ 에러 감지",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        600
      ],
      "parameters": {}
    },
    {
      "id": "set-error",
      "name": "Set - 에러 데이터",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        600
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1",
              "name": "workflowId",
              "type": "string",
              "value": "zQOKALD9EOnl3qhd"
            },
            {
              "id": "c2",
              "name": "workflowName",
              "type": "string",
              "value": "Daily Report 260120"
            },
            {
              "id": "c3",
              "name": "notionPageId",
              "type": "string",
              "value": "323c6a06e17e811fa9f8f05949561409"
            },
            {
              "id": "c4",
              "name": "status",
              "type": "string",
              "value": "❌ 에러"
            },
            {
              "id": "c5",
              "name": "errorMessage",
              "type": "string",
              "value": "={{ $json.execution.error.message }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "status-error",
      "name": "❌ 상태 업데이트 (에러)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        60,
        600
      ],
      "parameters": {
        "workflowId": "eOopB5bbEEO9rjrg",
        "options": {}
      }
    },
    {
      "id": "manual-note",
      "name": "📋 워크플로우 메뉴얼",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -880,
        0
      ],
      "parameters": {
        "content": "## 📋 Daily Report 메뉴얼\n\n### 🔗 노션 메뉴얼\nhttps://www.notion.so/323c6a06e17e811fa9f8f05949561409\n\n---\n\n- **트리거**: Webhook\n- **목적**: 수업 리포트 및 납부 알림 자동 발송",
        "height": 240,
        "width": 320,
        "color": 4
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Notion - Student_Study 재조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - Student_Study 재조회": {
      "main": [
        [
          {
            "node": "Notion - Students 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - Students 조회": {
      "main": [
        [
          {
            "node": "Notion - Class_Study 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - Class_Study 조회": {
      "main": [
        [
          {
            "node": "Notion - 지난수업 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - 지난수업 조회": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request - 수업 리포트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - 수업 리포트": {
      "main": [
        [
          {
            "node": "If - 납부 알림 조건 체크",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - 납부 알림 조건 체크": {
      "main": [
        [
          {
            "node": "HTTP Request - 수업료 납부 알림",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notion - 발송 완료 체크",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - 수업료 납부 알림": {
      "main": [
        [
          {
            "node": "Notion - 발송 완료 체크1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - 발송 완료 체크1": {
      "main": [
        [
          {
            "node": "Set - 성공 데이터1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - 성공 데이터1": {
      "main": [
        [
          {
            "node": "✅ 상태 업데이트 (성공)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - 발송 완료 체크": {
      "main": [
        [
          {
            "node": "Set - 성공 데이터2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - 성공 데이터2": {
      "main": [
        [
          {
            "node": "✅ 상태 업데이트 (성공)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ 에러 감지": {
      "main": [
        [
          {
            "node": "Set - 에러 데이터",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - 에러 데이터": {
      "main": [
        [
          {
            "node": "❌ 상태 업데이트 (에러)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "Asia/Seoul"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "728475e4-2c4c-46b0-843c-46d197d866b2",
  "activeVersionId": "728475e4-2c4c-46b0-843c-46d197d866b2",
  "versionCounter": 136,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-29T23:11:41.587Z",
      "createdAt": "2025-11-29T23:11:41.587Z",
      "role": "workflow:owner",
      "workflowId": "zQOKALD9EOnl3qhd",
      "projectId": "8znYa8Ca7GWeBy0m",
      "project": {
        "updatedAt": "2025-11-29T23:05:56.637Z",
        "createdAt": "2025-11-29T23:04:07.777Z",
        "id": "8znYa8Ca7GWeBy0m",
        "name": "Seung Hyeon Kim <khai01@naver.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-19T10:38:21.535Z",
    "createdAt": "2026-03-19T10:38:21.535Z",
    "versionId": "728475e4-2c4c-46b0-843c-46d197d866b2",
    "workflowId": "zQOKALD9EOnl3qhd",
    "nodes": [
      {
        "id": "abf03590-5b59-4445-ad72-f64d34d7bf38",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -640,
          400
        ],
        "webhookId": "037ed99a-21d5-40c0-b285-a8362db2ffcc",
        "parameters": {
          "httpMethod": "POST",
          "path": "037ed99a-21d5-40c0-b285-a8362db2ffcc",
          "responseMode": "onReceived",
          "options": {}
        }
      },
      {
        "id": "node-get-studentstudy",
        "name": "Notion - Student_Study 재조회",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          -640,
          160
        ],
        "parameters": {
          "resource": "databasePage",
          "operation": "get",
          "pageId": {
            "__rl": true,
            "value": "={{ $json.body.data.id }}",
            "mode": "id"
          },
          "simple": false,
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "MAYBu1lbKiMiquHV",
            "name": "n8n-Math4U"
          }
        }
      },
      {
        "id": "get-student-node",
        "name": "Notion - Students 조회",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          -400,
          400
        ],
        "parameters": {
          "resource": "databasePage",
          "operation": "get",
          "pageId": {
            "__rl": true,
            "value": "={{ $('Notion - Student_Study 재조회').item.json.properties?.['Students']?.relation?.[0]?.id }}",
            "mode": "id"
          },
          "simple": false
        },
        "credentials": {
          "notionApi": {
            "id": "MAYBu1lbKiMiquHV",
            "name": "n8n-Math4U"
          }
        }
      },
      {
        "id": "get-classstudy-node",
        "name": "Notion - Class_Study 조회",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          -160,
          160
        ],
        "parameters": {
          "resource": "databasePage",
          "operation": "get",
          "pageId": {
            "__rl": true,
            "value": "={{ $('Notion - Student_Study 재조회').item.json.properties?.['Class_Study']?.relation?.[0]?.id }}",
            "mode": "id"
          },
          "simple": false
        },
        "credentials": {
          "notionApi": {
            "id": "MAYBu1lbKiMiquHV",
            "name": "n8n-Math4U"
          }
        }
      },
      {
        "id": "get-prev-classstudy-node",
        "name": "Notion - 지난수업 조회",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          80,
          160
        ],
        "parameters": {
          "resource": "databasePage",
          "operation": "get",
          "pageId": {
            "__rl": true,
            "value": "={{ $('Notion - Class_Study 조회').item.json.properties?.['지난수업']?.relation?.[0]?.id }}",
            "mode": "id"
          }
        },
        "credentials": {
          "notionApi": {
            "id": "MAYBu1lbKiMiquHV",
            "name": "n8n-Math4U"
          }
        }
      },
      {
        "id": "d24ca2a4-0197-49ee-97ef-5a4302d72cce",
        "name": "Code",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          320,
          400
        ],
        "parameters": {
          "jsCode": "const data = $('Notion - Student_Study 재조회').item.json.properties;\nconst student = $('Notion - Students 조회').item.json;\nconst prevClassStudy = $('Notion - 지난수업 조회').item.json;\nconst notionPageId = $('Webhook').item.json.body.data.id;\n\nconst 학생이름 = student.properties?.['이름']?.title?.[0]?.plain_text || student.name || '';\nconst 학부모연락처1 = student.properties?.['보호자전화번호(모)']?.phone_number || '';\nconst 학부모연락처2 = student.properties?.['보호자전화번호(부)']?.phone_number || '';\n\nconst 수업일시Raw = data['수업일시']?.date?.start || '';\nlet 수업날짜 = '';\nlet 요일 = '';\nif (수업일시Raw) {\n  const d = new Date(수업일시Raw);\n  const dayNames = ['일', '월', '화', '수', '목', '금', '토'];\n  요일 = dayNames[d.getDay()];\n  const yyyy = d.getFullYear();\n  const mm = String(d.getMonth() + 1).padStart(2, '0');\n  const dd = String(d.getDate()).padStart(2, '0');\n  const hh = String(d.getHours()).padStart(2, '0');\n  const min = String(d.getMinutes()).padStart(2, '0');\n  수업날짜 = `${yyyy}-${mm}-${dd} ${hh}:${min}`;\n}\n\nconst 수업회차 = (data['수업회차']?.multi_select || []).map(s => s.name).join(', ');\nconst 과정 = (data['과정']?.rollup?.array || []).flatMap(item => (item.multi_select || []).map(s => s.name)).join(', ');\n\nconst 다음수업일Raw = data['다음수업일']?.rollup?.array?.[0]?.date?.start || '';\nlet 다음수업일 = '';\nif (다음수업일Raw) {\n  const d2 = new Date(다음수업일Raw);\n  const dayNames2 = ['일', '월', '화', '수', '목', '금', '토'];\n  const yyyy = d2.getFullYear();\n  const mm = String(d2.getMonth() + 1).padStart(2, '0');\n  const dd = String(d2.getDate()).padStart(2, '0');\n  const dow = dayNames2[d2.getDay()];\n  다음수업일 = `${yyyy}-${mm}-${dd}(${dow})`;\n}\n\nconst 기타안내 = data['기타안내']?.rich_text?.[0]?.plain_text || '';\nconst 수업구분 = data['수업구분']?.rollup?.array?.[0]?.select?.name || '';\nconst 수업내용 = data['진도/수업 내용']?.rollup?.array?.[0]?.rich_text?.[0]?.plain_text || '';\nconst 지난과제 = prevClassStudy?.properties?.['과제']?.rich_text?.[0]?.plain_text || '';\n\nconst reportParams = { url_day: notionPageId, 학생이름, 수업날짜, 요일, 수업회차, 과정, 수업내용, 지난과제 };\nconst reportRecipientList = [];\nif (학부모연락처1) reportRecipientList.push({ recipientNo: 학부모연락처1, templateParameter: reportParams });\nif (학부모연락처2) reportRecipientList.push({ recipientNo: 학부모연락처2, templateParameter: reportParams });\n\nfunction extractNumber(val) {\n  const match = String(val || '').match(/\\d+/);\n  return match ? parseInt(match[0], 10) : null;\n}\nconst numFromSession = extractNumber(수업회차);\nconst numFromCourse = extractNumber(수업구분);\nconst sendPaymentNotice = (numFromSession !== null && numFromCourse !== null && numFromSession === numFromCourse);\n\nconst paymentParams = { 이름: 학생이름, 수업구분, 수업일시: 수업날짜, 요일, 다음수업일, 기타안내 };\nconst paymentRecipientList = [];\nif (학부모연락처1) paymentRecipientList.push({ recipientNo: 학부모연락처1, templateParameter: paymentParams });\nif (학부모연락처2) paymentRecipientList.push({ recipientNo: 학부모연락처2, templateParameter: paymentParams });\n\nreturn [{ json: { reportData: { senderKey: '7780249050d98477b04a1b589e4794c8ac1f7a78', templateCode: 'Math4U-edu-2025002', recipientList: reportRecipientList }, paymentData: { senderKey: '7780249050d98477b04a1b589e4794c8ac1f7a78', templateCode: 'Math4U-edu-2025004', recipientList: paymentRecipientList }, sendPaymentNotice, notionPageId } }];"
        }
      },
      {
        "id": "fd8d5462-58db-49a6-aee2-97fb879812e1",
        "name": "HTTP Request - 수업 리포트",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          576,
          400
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api-alimtalk.cloud.toast.com/alimtalk/v2.0/appkeys/YuIB1lEDj8vuqME2/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpCustomAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json;charset=UTF-8"
              },
              {
                "name": "X-Secret-Key",
                "value": "BqbvtCkwuidB28H7cuoYGheQ8SyEWOWw"
              },
              {
                "name": "X-App-Key",
                "value": "YuIB1lEDj8vuqME2"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $('Code').item.json.reportData }}",
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "4vyqQ4BPURG0ufgO",
            "name": "Header Auth account"
          },
          "httpCustomAuth": {
            "id": "7IkET7kvzmFP3Vr7",
            "name": "Custom Auth account"
          }
        }
      },
      {
        "id": "32a64a7e-36a3-486b-a7da-f3793c55c063",
        "name": "If - 납부 알림 조건 체크",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          832,
          400
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "4d236c18-3c4d-4037-ba27-d4b21d4dfa4f",
                "leftValue": "={{ $('Code').item.json.sendPaymentNotice }}",
                "rightValue": "={{ true }}",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "12c22533-f79d-44b8-ab51-f690a443036e",
        "name": "HTTP Request - 수업료 납부 알림",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1088,
          224
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api-alimtalk.cloud.toast.com/alimtalk/v2.0/appkeys/YuIB1lEDj8vuqME2/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpCustomAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json;charset=UTF-8"
              },
              {
                "name": "X-Secret-Key",
                "value": "BqbvtCkwuidB28H7cuoYGheQ8SyEWOWw"
              },
              {
                "name": "X-App-Key",
                "value": "YuIB1lEDj8vuqME2"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $('Code').item.json.paymentData }}",
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "4vyqQ4BPURG0ufgO",
            "name": "Header Auth account"
          },
          "httpCustomAuth": {
            "id": "7IkET7kvzmFP3Vr7",
            "name": "Custom Auth account"
          }
        }
      },
      {
        "id": "e53bafb4-e657-4e6f-ac28-639a861d0159",
        "name": "Notion - 발송 완료 체크1",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          1328,
          224
        ],
        "parameters": {
          "resource": "databasePage",
          "operation": "update",
          "pageId": {
            "__rl": true,
            "value": "={{ $('Webhook').item.json.body.data.id }}",
            "mode": "id"
          },
          "simple": "={{ true }}",
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "=보고서 발송|checkbox",
                "checkboxValue": true
              }
            ]
          },
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "MAYBu1lbKiMiquHV",
            "name": "n8n-Math4U"
          }
        }
      },
      {
        "id": "9e0c8259-40ef-46a2-acf5-4a2636113924",
        "name": "Notion - 발송 완료 체크",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          1088,
          576
        ],
        "parameters": {
          "resource": "databasePage",
          "operation": "update",
          "pageId": {
            "__rl": true,
            "value": "={{ $('Webhook').item.json.body.data.id }}",
            "mode": "id"
          },
          "simple": "={{ true }}",
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "=보고서 발송|checkbox",
                "checkboxValue": true
              }
            ]
          },
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "MAYBu1lbKiMiquHV",
            "name": "n8n-Math4U"
          }
        }
      },
      {
        "id": "set-success1",
        "name": "Set - 성공 데이터1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1568,
          224
        ],
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1",
                "name": "workflowId",
                "type": "string",
                "value": "zQOKALD9EOnl3qhd"
              },
              {
                "id": "a2",
                "name": "workflowName",
                "type": "string",
                "value": "Daily Report 260120"
              },
              {
                "id": "a3",
                "name": "notionPageId",
                "type": "string",
                "value": "323c6a06e17e811fa9f8f05949561409"
              },
              {
                "id": "a4",
                "name": "status",
                "type": "string",
                "value": "✅ 정상"
              },
              {
                "id": "a5",
                "name": "errorMessage",
                "type": "string",
                "value": ""
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "status-success",
        "name": "✅ 상태 업데이트 (성공)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          1788,
          224
        ],
        "parameters": {
          "workflowId": "eOopB5bbEEO9rjrg",
          "options": {}
        }
      },
      {
        "id": "set-success2",
        "name": "Set - 성공 데이터2",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1568,
          576
        ],
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b1",
                "name": "workflowId",
                "type": "string",
                "value": "zQOKALD9EOnl3qhd"
              },
              {
                "id": "b2",
                "name": "workflowName",
                "type": "string",
                "value": "Daily Report 260120"
              },
              {
                "id": "b3",
                "name": "notionPageId",
                "type": "string",
                "value": "323c6a06e17e811fa9f8f05949561409"
              },
              {
                "id": "b4",
                "name": "status",
                "type": "string",
                "value": "✅ 정상"
              },
              {
                "id": "b5",
                "name": "errorMessage",
                "type": "string",
                "value": ""
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "status-success2",
        "name": "✅ 상태 업데이트 (성공)2",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          1788,
          576
        ],
        "parameters": {
          "workflowId": "eOopB5bbEEO9rjrg",
          "options": {}
        }
      },
      {
        "id": "error-trigger",
        "name": "❌ 에러 감지",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          -400,
          600
        ],
        "parameters": {}
      },
      {
        "id": "set-error",
        "name": "Set - 에러 데이터",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -160,
          600
        ],
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c1",
                "name": "workflowId",
                "type": "string",
                "value": "zQOKALD9EOnl3qhd"
              },
              {
                "id": "c2",
                "name": "workflowName",
                "type": "string",
                "value": "Daily Report 260120"
              },
              {
                "id": "c3",
                "name": "notionPageId",
                "type": "string",
                "value": "323c6a06e17e811fa9f8f05949561409"
              },
              {
                "id": "c4",
                "name": "status",
                "type": "string",
                "value": "❌ 에러"
              },
              {
                "id": "c5",
                "name": "errorMessage",
                "type": "string",
                "value": "={{ $json.execution.error.message }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "status-error",
        "name": "❌ 상태 업데이트 (에러)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          60,
          600
        ],
        "parameters": {
          "workflowId": "eOopB5bbEEO9rjrg",
          "options": {}
        }
      },
      {
        "id": "manual-note",
        "name": "📋 워크플로우 메뉴얼",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -880,
          0
        ],
        "parameters": {
          "content": "## 📋 Daily Report 메뉴얼\n\n### 🔗 노션 메뉴얼\nhttps://www.notion.so/323c6a06e17e811fa9f8f05949561409\n\n---\n\n- **트리거**: Webhook\n- **목적**: 수업 리포트 및 납부 알림 자동 발송",
          "height": 240,
          "width": 320,
          "color": 4
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Notion - Student_Study 재조회",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notion - Student_Study 재조회": {
        "main": [
          [
            {
              "node": "Notion - Students 조회",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notion - Students 조회": {
        "main": [
          [
            {
              "node": "Notion - Class_Study 조회",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notion - Class_Study 조회": {
        "main": [
          [
            {
              "node": "Notion - 지난수업 조회",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notion - 지난수업 조회": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "HTTP Request - 수업 리포트",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request - 수업 리포트": {
        "main": [
          [
            {
              "node": "If - 납부 알림 조건 체크",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If - 납부 알림 조건 체크": {
        "main": [
          [
            {
              "node": "HTTP Request - 수업료 납부 알림",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Notion - 발송 완료 체크",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request - 수업료 납부 알림": {
        "main": [
          [
            {
              "node": "Notion - 발송 완료 체크1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notion - 발송 완료 체크1": {
        "main": [
          [
            {
              "node": "Set - 성공 데이터1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set - 성공 데이터1": {
        "main": [
          [
            {
              "node": "✅ 상태 업데이트 (성공)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notion - 발송 완료 체크": {
        "main": [
          [
            {
              "node": "Set - 성공 데이터2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set - 성공 데이터2": {
        "main": [
          [
            {
              "node": "✅ 상태 업데이트 (성공)2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "❌ 에러 감지": {
        "main": [
          [
            {
              "node": "Set - 에러 데이터",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set - 에러 데이터": {
        "main": [
          [
            {
              "node": "❌ 상태 업데이트 (에러)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Seung Hyeon Kim",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-19T10:38:21.733Z",
        "id": 378,
        "workflowId": "zQOKALD9EOnl3qhd",
        "versionId": "728475e4-2c4c-46b0-843c-46d197d866b2",
        "event": "activated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      },
      {
        "createdAt": "2026-03-19T10:38:21.659Z",
        "id": 377,
        "workflowId": "zQOKALD9EOnl3qhd",
        "versionId": "728475e4-2c4c-46b0-843c-46d197d866b2",
        "event": "deactivated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      }
    ]
  }
}