Alimtalk Sangdam 251201/workflow.json
{
  "updatedAt": "2026-03-19T10:50:30.302Z",
  "createdAt": "2025-11-29T23:12:37.874Z",
  "id": "S1ObqqNJYt6Weh0b",
  "name": "Alimtalk Sangdam 251201",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "074adda7-3fdf-4ec8-8d31-53abd0f62bc8",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        -16
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      }
    },
    {
      "id": "64c8efe7-c1e6-4b12-9e57-bd579f2261dd",
      "name": "Notion 신규상담신청 확인",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -192,
        -16
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "229c6a06-e17e-8083-bf21-ec602b6a3033",
          "mode": "list",
          "cachedResultName": "Potential",
          "cachedResultUrl": "https://www.notion.so/229c6a06e17e8083bf21ec602b6a3033"
        },
        "returnAll": true,
        "simple": false,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "=알림톡 발송|checkbox",
              "condition": "equals"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "dfb54c69-c391-4a2f-8d9b-97bbaf0d7880",
      "name": "Alimtalk Setting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        -16
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api-alimtalk.cloud.toast.com/alimtalk/v2.0/appkeys/YuIB1lEDj8vuqME2/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "X-Secret-Key",
              "value": "BqbvtCkwuidB28H7cuoYGheQ8SyEWOWw"
            },
            {
              "name": "X-App-Key",
              "value": "YuIB1lEDj8vuqME2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"senderKey\": \"7780249050d98477b04a1b589e4794c8ac1f7a78\",\n    \"templateCode\":\"Math4U-edu-2025001\",\n    \"recipientList\":[\n        {\n            \"recipientNo\":\"{{ $json.properties['상담연락처S'].formula.string }}\"\n        }\n    ]\n}",
        "options": {}
      }
    },
    {
      "id": "4219a07b-3070-4883-b597-6ee7448c76bc",
      "name": "Send a message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        288,
        -16
      ],
      "parameters": {
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "=#상담신청",
          "mode": "id"
        },
        "text": "=카이야 🔔신규 상담이 도착했어!\n\n신청일시: {{ $('Notion 신규상담신청 확인').item.json.properties['생성일'].formula.string }}\n연락처: {{ $('Notion 신규상담신청 확인').item.json.properties['상담연락처'].phone_number }}\n상담희망시간: {{ $('Notion 신규상담신청 확인').item.json.properties['상담 희망시간'].multi_select[0].name }}\n학생이름: {{ $('Notion 신규상담신청 확인').item.json.properties['학생이름'].title[0].plain_text }}\n학교: {{ $('Notion 신규상담신청 확인').item.json.properties['학교'].rich_text[0].plain_text }}\n학년: {{ $('Notion 신규상담신청 확인').item.json.properties['학년'].select.name }}\n상담내용: {{ $('Notion 신규상담신청 확인').item.json.properties['상담 내용'].rich_text[0].plain_text }}\n\n✨ Notion에서 자세한 정보를 확인하고 상담전화 진행할 것.\n",
        "otherOptions": {}
      },
      "webhookId": "805f268b-e5f2-4f6c-a77a-0eda2144d5a9"
    },
    {
      "id": "eb3c5c33-7336-4912-82b9-3aa7d10c6b20",
      "name": "Notion Update",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        528,
        -16
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Notion 신규상담신청 확인').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "=알림톡 발송|checkbox",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "set-success",
      "name": "Set - 성공 데이터",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        -16
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "workflowId",
              "type": "string",
              "value": "S1ObqqNJYt6Weh0b"
            },
            {
              "id": "a2",
              "name": "workflowName",
              "type": "string",
              "value": "Alimtalk Sangdam 251201"
            },
            {
              "id": "a3",
              "name": "notionPageId",
              "type": "string",
              "value": "323c6a06e17e815ca8a0eeba78761e16"
            },
            {
              "id": "a4",
              "name": "status",
              "type": "string",
              "value": "✅ 정상"
            },
            {
              "id": "a5",
              "name": "errorMessage",
              "type": "string",
              "value": ""
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "status-success",
      "name": "✅ 상태 업데이트 (성공)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        988,
        -16
      ],
      "parameters": {
        "workflowId": "eOopB5bbEEO9rjrg",
        "options": {}
      }
    },
    {
      "id": "error-trigger",
      "name": "❌ 에러 감지",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        48,
        200
      ],
      "parameters": {}
    },
    {
      "id": "set-error",
      "name": "Set - 에러 데이터",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1",
              "name": "workflowId",
              "type": "string",
              "value": "S1ObqqNJYt6Weh0b"
            },
            {
              "id": "b2",
              "name": "workflowName",
              "type": "string",
              "value": "Alimtalk Sangdam 251201"
            },
            {
              "id": "b3",
              "name": "notionPageId",
              "type": "string",
              "value": "323c6a06e17e815ca8a0eeba78761e16"
            },
            {
              "id": "b4",
              "name": "status",
              "type": "string",
              "value": "❌ 에러"
            },
            {
              "id": "b5",
              "name": "errorMessage",
              "type": "string",
              "value": "={{ $json.execution.error.message }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "status-error",
      "name": "❌ 상태 업데이트 (에러)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        508,
        200
      ],
      "parameters": {
        "workflowId": "eOopB5bbEEO9rjrg",
        "options": {}
      }
    },
    {
      "id": "manual-note",
      "name": "📋 워크플로우 메뉴얼",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        -160
      ],
      "parameters": {
        "content": "## 📋 Alimtalk Sangdam 메뉴얼\n\n### 🔗 노션 메뉴얼\nhttps://www.notion.so/323c6a06e17e815ca8a0eeba78761e16\n\n---\n\n- **트리거**: Schedule (매일)\n- **목적**: 신규 상담 신청 자동 알림톡",
        "height": 240,
        "width": 320,
        "color": 4
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Notion 신규상담신청 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion 신규상담신청 확인": {
      "main": [
        [
          {
            "node": "Alimtalk Setting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alimtalk Setting": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Notion Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Update": {
      "main": [
        [
          {
            "node": "Set - 성공 데이터",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - 성공 데이터": {
      "main": [
        [
          {
            "node": "✅ 상태 업데이트 (성공)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ 에러 감지": {
      "main": [
        [
          {
            "node": "Set - 에러 데이터",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - 에러 데이터": {
      "main": [
        [
          {
            "node": "❌ 상태 업데이트 (에러)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "Asia/Seoul"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ce1d5a73-f375-44b7-b51f-410ac136bbea",
  "activeVersionId": "ce1d5a73-f375-44b7-b51f-410ac136bbea",
  "versionCounter": 71,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-29T23:12:37.879Z",
      "createdAt": "2025-11-29T23:12:37.879Z",
      "role": "workflow:owner",
      "workflowId": "S1ObqqNJYt6Weh0b",
      "projectId": "8znYa8Ca7GWeBy0m",
      "project": {
        "updatedAt": "2025-11-29T23:05:56.637Z",
        "createdAt": "2025-11-29T23:04:07.777Z",
        "id": "8znYa8Ca7GWeBy0m",
        "name": "Seung Hyeon Kim <khai01@naver.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-19T10:50:30.304Z",
    "createdAt": "2026-03-19T10:50:30.304Z",
    "versionId": "ce1d5a73-f375-44b7-b51f-410ac136bbea",
    "workflowId": "S1ObqqNJYt6Weh0b",
    "nodes": [
      {
        "id": "074adda7-3fdf-4ec8-8d31-53abd0f62bc8",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -448,
          -16
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours"
              }
            ]
          }
        }
      },
      {
        "id": "64c8efe7-c1e6-4b12-9e57-bd579f2261dd",
        "name": "Notion 신규상담신청 확인",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          -192,
          -16
        ],
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "229c6a06-e17e-8083-bf21-ec602b6a3033",
            "mode": "list",
            "cachedResultName": "Potential",
            "cachedResultUrl": "https://www.notion.so/229c6a06e17e8083bf21ec602b6a3033"
          },
          "returnAll": true,
          "simple": false,
          "filterType": "manual",
          "filters": {
            "conditions": [
              {
                "key": "=알림톡 발송|checkbox",
                "condition": "equals"
              }
            ]
          },
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "MAYBu1lbKiMiquHV",
            "name": "n8n-Math4U"
          }
        }
      },
      {
        "id": "dfb54c69-c391-4a2f-8d9b-97bbaf0d7880",
        "name": "Alimtalk Setting",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          48,
          -16
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api-alimtalk.cloud.toast.com/alimtalk/v2.0/appkeys/YuIB1lEDj8vuqME2/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpCustomAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json;charset=UTF-8"
              },
              {
                "name": "X-Secret-Key",
                "value": "BqbvtCkwuidB28H7cuoYGheQ8SyEWOWw"
              },
              {
                "name": "X-App-Key",
                "value": "YuIB1lEDj8vuqME2"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"senderKey\": \"7780249050d98477b04a1b589e4794c8ac1f7a78\",\n    \"templateCode\":\"Math4U-edu-2025001\",\n    \"recipientList\":[\n        {\n            \"recipientNo\":\"{{ $json.properties['상담연락처S'].formula.string }}\"\n        }\n    ]\n}",
          "options": {}
        },
        "credentials": {
          "httpCustomAuth": {
            "id": "7IkET7kvzmFP3Vr7",
            "name": "Custom Auth account"
          }
        }
      },
      {
        "id": "4219a07b-3070-4883-b597-6ee7448c76bc",
        "name": "Send a message",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [
          288,
          -16
        ],
        "parameters": {
          "operation": "post",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "=#상담신청",
            "mode": "id"
          },
          "text": "=카이야 🔔신규 상담이 도착했어!\n\n신청일시: {{ $('Notion 신규상담신청 확인').item.json.properties['생성일'].formula.string }}\n연락처: {{ $('Notion 신규상담신청 확인').item.json.properties['상담연락처'].phone_number }}\n상담희망시간: {{ $('Notion 신규상담신청 확인').item.json.properties['상담 희망시간'].multi_select[0].name }}\n학생이름: {{ $('Notion 신규상담신청 확인').item.json.properties['학생이름'].title[0].plain_text }}\n학교: {{ $('Notion 신규상담신청 확인').item.json.properties['학교'].rich_text[0].plain_text }}\n학년: {{ $('Notion 신규상담신청 확인').item.json.properties['학년'].select.name }}\n상담내용: {{ $('Notion 신규상담신청 확인').item.json.properties['상담 내용'].rich_text[0].plain_text }}\n\n✨ Notion에서 자세한 정보를 확인하고 상담전화 진행할 것.\n",
          "otherOptions": {}
        },
        "webhookId": "805f268b-e5f2-4f6c-a77a-0eda2144d5a9",
        "credentials": {
          "slackApi": {
            "id": "I1bk0oby0BsUZ87n",
            "name": "Slack account"
          }
        }
      },
      {
        "id": "eb3c5c33-7336-4912-82b9-3aa7d10c6b20",
        "name": "Notion Update",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          528,
          -16
        ],
        "parameters": {
          "resource": "databasePage",
          "operation": "update",
          "pageId": {
            "__rl": true,
            "value": "={{ $('Notion 신규상담신청 확인').item.json.id }}",
            "mode": "id"
          },
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "=알림톡 발송|checkbox",
                "checkboxValue": true
              }
            ]
          },
          "options": {}
        },
        "credentials": {
          "notionApi": {
            "id": "MAYBu1lbKiMiquHV",
            "name": "n8n-Math4U"
          }
        }
      },
      {
        "id": "set-success",
        "name": "Set - 성공 데이터",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          768,
          -16
        ],
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1",
                "name": "workflowId",
                "type": "string",
                "value": "S1ObqqNJYt6Weh0b"
              },
              {
                "id": "a2",
                "name": "workflowName",
                "type": "string",
                "value": "Alimtalk Sangdam 251201"
              },
              {
                "id": "a3",
                "name": "notionPageId",
                "type": "string",
                "value": "323c6a06e17e815ca8a0eeba78761e16"
              },
              {
                "id": "a4",
                "name": "status",
                "type": "string",
                "value": "✅ 정상"
              },
              {
                "id": "a5",
                "name": "errorMessage",
                "type": "string",
                "value": ""
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "status-success",
        "name": "✅ 상태 업데이트 (성공)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          988,
          -16
        ],
        "parameters": {
          "workflowId": "eOopB5bbEEO9rjrg",
          "options": {}
        }
      },
      {
        "id": "error-trigger",
        "name": "❌ 에러 감지",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          48,
          200
        ],
        "parameters": {}
      },
      {
        "id": "set-error",
        "name": "Set - 에러 데이터",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          288,
          200
        ],
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b1",
                "name": "workflowId",
                "type": "string",
                "value": "S1ObqqNJYt6Weh0b"
              },
              {
                "id": "b2",
                "name": "workflowName",
                "type": "string",
                "value": "Alimtalk Sangdam 251201"
              },
              {
                "id": "b3",
                "name": "notionPageId",
                "type": "string",
                "value": "323c6a06e17e815ca8a0eeba78761e16"
              },
              {
                "id": "b4",
                "name": "status",
                "type": "string",
                "value": "❌ 에러"
              },
              {
                "id": "b5",
                "name": "errorMessage",
                "type": "string",
                "value": "={{ $json.execution.error.message }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "status-error",
        "name": "❌ 상태 업데이트 (에러)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          508,
          200
        ],
        "parameters": {
          "workflowId": "eOopB5bbEEO9rjrg",
          "options": {}
        }
      },
      {
        "id": "manual-note",
        "name": "📋 워크플로우 메뉴얼",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -720,
          -160
        ],
        "parameters": {
          "content": "## 📋 Alimtalk Sangdam 메뉴얼\n\n### 🔗 노션 메뉴얼\nhttps://www.notion.so/323c6a06e17e815ca8a0eeba78761e16\n\n---\n\n- **트리거**: Schedule (매일)\n- **목적**: 신규 상담 신청 자동 알림톡",
          "height": 240,
          "width": 320,
          "color": 4
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Notion 신규상담신청 확인",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notion 신규상담신청 확인": {
        "main": [
          [
            {
              "node": "Alimtalk Setting",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Alimtalk Setting": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message": {
        "main": [
          [
            {
              "node": "Notion Update",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notion Update": {
        "main": [
          [
            {
              "node": "Set - 성공 데이터",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set - 성공 데이터": {
        "main": [
          [
            {
              "node": "✅ 상태 업데이트 (성공)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "❌ 에러 감지": {
        "main": [
          [
            {
              "node": "Set - 에러 데이터",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set - 에러 데이터": {
        "main": [
          [
            {
              "node": "❌ 상태 업데이트 (에러)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Seung Hyeon Kim",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-19T10:50:30.459Z",
        "id": 392,
        "workflowId": "S1ObqqNJYt6Weh0b",
        "versionId": "ce1d5a73-f375-44b7-b51f-410ac136bbea",
        "event": "activated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      },
      {
        "createdAt": "2026-03-19T10:50:30.403Z",
        "id": 391,
        "workflowId": "S1ObqqNJYt6Weh0b",
        "versionId": "ce1d5a73-f375-44b7-b51f-410ac136bbea",
        "event": "deactivated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      }
    ]
  }
}