📚 Math4U 학원 블로그 자동작성/workflow.json
{
  "updatedAt": "2026-06-28T23:11:40.143Z",
  "createdAt": "2026-03-03T18:16:19.957Z",
  "id": "L6uRu2oqasHrOIQR",
  "name": "📚 Math4U 학원 블로그 자동작성",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "📚 Math4U 학원 블로그 자동작성",
        "formDescription": "주제와 옵션을 입력하면 네이버 블로그 초안을 자동으로 작성해드립니다.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "블로그 주제",
              "fieldType": "textarea",
              "placeholder": "예: 고3 수능 수학 막판 점수 올리는 법, 동탄 수학학원 선택 기준",
              "requiredField": true
            },
            {
              "fieldLabel": "대상 독자",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "학부모"
                  },
                  {
                    "option": "고등학생"
                  },
                  {
                    "option": "중학생"
                  },
                  {
                    "option": "수험생"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "글 톤",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "친근한"
                  },
                  {
                    "option": "전문적인"
                  },
                  {
                    "option": "신뢰감있는"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "참고 URL (선택)",
              "fieldType": "textarea",
              "placeholder": "참고할 블로그나 자료 URL (줄바꿈으로 여러 개 입력 가능)"
            },
            {
              "fieldLabel": "추가 메모",
              "fieldType": "textarea",
              "placeholder": "특별히 강조하고 싶은 내용, 포함할 키워드 등"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-form",
      "name": "📝 블로그 작성 폼",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        400
      ],
      "webhookId": "a8235c14-93a5-416c-b209-a669e87f7704"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p1",
              "name": "blog_topic",
              "value": "={{ $json['블로그 주제'] }}",
              "type": "string"
            },
            {
              "id": "p2",
              "name": "target_reader",
              "value": "={{ $json['대상 독자'] }}",
              "type": "string"
            },
            {
              "id": "p3",
              "name": "tone",
              "value": "={{ $json['글 톤'] }}",
              "type": "string"
            },
            {
              "id": "p4",
              "name": "url_list",
              "value": "={{ $json['참고 URL (선택)'] || '' }}",
              "type": "string"
            },
            {
              "id": "p5",
              "name": "memo",
              "value": "={{ $json['추가 메모'] || '' }}",
              "type": "string"
            },
            {
              "id": "p6",
              "name": "date_str",
              "value": "={{ new Date().toISOString().slice(0,10) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-parse",
      "name": "입력값 파싱",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst urls = (input.url_list || '').split('\\n').map(u => u.trim()).filter(u => u.length > 0);\nif (urls.length === 0) return [{ json: { ...input, url_contents: '' } }];\nreturn urls.map(url => ({ json: { ...input, fetch_url: 'https://r.jina.ai/' + url, source_url: url } }));"
      },
      "id": "node-url-prep",
      "name": "URL 콘텐츠 수집",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.fetch_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "text/plain"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "node-jina",
      "name": "Jina URL 읽기",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst base = $('입력값 파싱').first().json;\nlet urlContents = '';\nfor (const item of items) {\n  if (!item.json.fetch_url) continue;\n  const content = (item.json.data || item.json.body || '').substring(0, 3000);\n  if (content) urlContents += '[출처: ' + item.json.source_url + ']\\n' + content + '\\n\\n---\\n\\n';\n}\nreturn [{ json: { ...base, url_contents: urlContents } }];"
      },
      "id": "node-url-merge",
      "name": "URL 자료 통합",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst refSection = d.url_contents ? '\\n\\n## 참고 자료\\n' + d.url_contents : '';\nconst memoSection = d.memo ? '\\n\\n## 추가 요청사항\\n' + d.memo : '';\nconst prompt = [\n  '너는 대치Math4U 동탄캠 수학학원의 네이버 블로그 작가야.',\n  '아래 주제로 학원 블로그 초안을 작성해줘.',\n  '',\n  '## 블로그 주제',\n  d.blog_topic,\n  '',\n  '## 독자 및 톤',\n  '대상 독자: ' + d.target_reader,\n  '글 톤: ' + d.tone,\n  '',\n  '## 학원 기본 정보 (자연스럽게 1~2회 녹여넣기)',\n  '학원명: 대치Math4U 동탄캠',\n  '위치: 동탄 반송동 북광장',\n  '특징: 고등수학 전문, 고3 수능 수학 특화, 소수 정예',\n  refSection,\n  memoSection,\n  '',\n  '## 작성 규칙',\n  '1. 본문: 1200~1500자',\n  '2. 소제목(##) 3개 이상',\n  '3. 구체적 예시 또는 팁 포함',\n  '4. 독자 행동 유도 문구 (상담 문의 등)',\n  '5. 해시태그 10~15개 (동탄수학학원, 대치math4u 등 포함)',\n  '6. JSON으로만 응답 (백틱 없이): {\"title\":\"...\",\"body\":\"...\",\"hashtags\":\"...\"}'\n].join('\\n');\nconst body = JSON.stringify({\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: { temperature: 0.8, maxOutputTokens: 2000 }\n});\nreturn [{ json: { ...d, prompt1_body: body } }];"
      },
      "id": "node-prompt1",
      "name": "1차 프롬프트 조립",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst prev = $('1차 프롬프트 조립').first().json;\nlet raw = '';\nif (d.candidates && d.candidates[0]) raw = d.candidates[0]['content']['parts'][0]['text'] || '';\nraw = raw.replace(/```json\\s*/g,'').replace(/```\\s*/g,'').trim();\nlet title = '[Blog] ' + prev.blog_topic, body = raw, hashtags = '';\ntry {\n  const p = JSON.parse(raw);\n  title = p.title || title;\n  body = p.body || raw;\n  if (Array.isArray(p.hashtags)) hashtags = p.hashtags.join(' ');\n  else hashtags = p.hashtags || '';\n} catch(e) {}\nreturn [{ json: { ...prev, draft_content: body, draft_title: title, draft_hashtags: hashtags } }];"
      },
      "id": "node-extract1",
      "name": "1차 초안 추출",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst prompt = [\n  '너는 대치Math4U 동탄캠 수학학원의 시니어 블로그 마케터야.',\n  '아래 초안을 더 풍성하고 완성도 높은 네이버 블로그 포스팅으로 업그레이드해줘.',\n  '',\n  '## 초안 제목',\n  d.draft_title,\n  '',\n  '## 초안 본문',\n  d.draft_content,\n  '',\n  '## 업그레이드 규칙',\n  '1. 본문: 1800~2200자로 확장',\n  '2. 소제목(##) 4개 이상으로 구조화',\n  '3. SEO 키워드 (동탄수학학원, 반송동수학학원, 대치math4u, 고등수학, 수능수학) 자연스럽게 3~5회 삽입',\n  '4. 구체적 학습 팁이나 사례 추가',\n  '5. 독자 행동 유도 문구 강화 (상담 문의, 방문 등)',\n  '6. 해시태그: 15~20개로 확장',\n  '7. 학원명(대치Math4U 동탄캠), 위치(동탄 반송동 북광장) 자연스럽게 유지',\n  '8. 대상 독자: ' + d.target_reader + ' / 글 톤: ' + d.tone,\n  '9. JSON으로만 응답 (백틱 없이): {\"title\":\"...\",\"body\":\"...\",\"hashtags\":\"...\"}'\n].join('\\n');\nconst body = JSON.stringify({\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: { temperature: 0.8, maxOutputTokens: 3000 }\n});\nreturn [{ json: { ...d, prompt2_body: body } }];"
      },
      "id": "node-prompt2",
      "name": "2차 프롬프트 조립",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst prev = $('2차 프롬프트 조립').first().json;\nlet raw = '';\nif (d.candidates && d.candidates[0]) raw = d.candidates[0]['content']['parts'][0]['text'] || '';\nraw = raw.replace(/```json\\s*/g,'').replace(/```\\s*/g,'').trim();\nlet title = prev.draft_title, body = raw, hashtags = prev.draft_hashtags;\ntry {\n  const p = JSON.parse(raw);\n  title = p.title || title;\n  body = p.body || raw;\n  if (Array.isArray(p.hashtags)) hashtags = p.hashtags.join(' ');\n  else hashtags = p.hashtags || hashtags;\n} catch(e) {}\nreturn [{ json: { ...prev, draft_content: body, draft_title: title, draft_hashtags: hashtags } }];"
      },
      "id": "node-extract2",
      "name": "2차 보강 추출",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst prompt = '블로그 품질 평가자야. 아래 기준으로 평가 후 JSON만 반환해 (백틱 없이): {\"passed\":true,\"score\":0,\"improvements\":\"\"}\\n\\n평가기준:\\n(1) 본문 1500자 이상\\n(2) 소제목 4개 이상\\n(3) 구체적 예시 또는 팁 포함\\n(4) SEO 키워드 포함 (동탄수학학원 등)\\n(5) 독자 행동 유도 문구 포함\\n(6) 해시태그 15개 이상\\n5개 이상 충족 시 passed:true, improvements는 미달 항목 개선 방향\\n\\n[평가할 글]\\n제목: ' + d.draft_title + '\\n\\n' + (d.draft_content || '').slice(0, 1000);\nconst body = JSON.stringify({\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: { temperature: 0.2, maxOutputTokens: 400 }\n});\nreturn [{ json: { ...d, eval_body: body } }];"
      },
      "id": "node-eval-prompt",
      "name": "품질평가 프롬프트 조립",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst prev = $('품질평가 프롬프트 조립').first().json;\nlet raw = '';\nif (item.json && item.json.candidates && item.json.candidates[0]) raw = item.json.candidates[0]['content']['parts'][0]['text'] || '{}';\nelse if (item.candidates && item.candidates[0]) raw = item.candidates[0]['content']['parts'][0]['text'] || '{}';\nraw = raw.replace(/```json\\s*/g,'').replace(/```\\s*/g,'').trim();\nlet q = {};\ntry { q = JSON.parse(raw); } catch(e) { q = { passed: true, score: 70, improvements: '' }; }\nreturn [{ json: { ...prev, quality_passed: q.passed || false, quality_score: q.score || 0, improvements: q.improvements || '' } }];"
      },
      "id": "node-parse-q",
      "name": "품질 결과 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.quality_passed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "node-if-q",
      "name": "품질 기준 충족?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3360,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst prompt = [\n  '너는 대치Math4U 동탄캠 학원 블로그 최고 전문 편집장이야.',\n  '아래 보완 지시사항에 따라 블로그 글을 최종 완성본으로 다듬어줘.',\n  '',\n  '[보완 지시사항]',\n  d.improvements || '전체적으로 더 전문적이고 SEO에 최적화된 글로 개선',\n  '',\n  '[현재 글]',\n  '제목: ' + d.draft_title,\n  '',\n  d.draft_content,\n  '',\n  '## 최종 완성 기준',\n  '1. 본문: 2000~2500자 완성본',\n  '2. 소제목(##) 4~5개',\n  '3. SEO 키워드 (동탄수학학원, 반송동수학학원, 대치math4u, 고등수학, 수능수학) 자연스럽게 삽입',\n  '4. 독자 행동 유도 문구 (상담 문의 등) 포함',\n  '5. 해시태그 20개',\n  '6. 학원명(대치Math4U 동탄캠), 위치(동탄 반송동 북광장) 유지',\n  '7. 대상 독자: ' + d.target_reader + ' / 글 톤: ' + d.tone,\n  '8. JSON으로만 응답 (백틱 없이): {\"title\":\"...\",\"body\":\"...\",\"hashtags\":\"...\"}'\n].join('\\n');\nconst body = JSON.stringify({\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: { temperature: 0.7, maxOutputTokens: 4000 }\n});\nreturn [{ json: { ...d, prompt3_body: body } }];"
      },
      "id": "node-prompt3",
      "name": "3차 프롬프트 조립",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemma-4-31b-it:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.prompt3_body }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "node-ai3",
      "name": "3차 보강 (gemma-4-31b)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3840,
        560
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 8000
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst prev = $('3차 프롬프트 조립').first().json;\nlet raw = '';\nif (d.candidates && d.candidates[0]) raw = d.candidates[0]['content']['parts'][0]['text'] || '';\nraw = raw.replace(/```json\\s*/g,'').replace(/```\\s*/g,'').trim();\nlet title = prev.draft_title, body = raw, hashtags = prev.draft_hashtags;\ntry {\n  const p = JSON.parse(raw);\n  title = p.title || title;\n  body = p.body || raw;\n  if (Array.isArray(p.hashtags)) hashtags = p.hashtags.join(' ');\n  else hashtags = p.hashtags || hashtags;\n} catch(e) {}\nconst MAX = 1900;\nconst bodyChunks = [];\nfor (let i = 0; i < body.length; i += MAX) bodyChunks.push(body.slice(i, i + MAX));\nreturn [{ json: { ...prev, draft_content: body, bodyChunks, draft_title: title, draft_hashtags: hashtags, final_stage: '3차(gemma-4-31b)' } }];"
      },
      "id": "node-extract3",
      "name": "3차 보강 추출",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ntn_MASKED"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ parent: { database_id: '925413d91bd64c4abfd7904bf353f99d' }, properties: { '제목': { title: [{ text: { content: ($json.draft_title || '[제목 없음]').slice(0,2000) } }] }, '주제': { rich_text: [{ text: { content: ($json.blog_topic || '').slice(0,2000) } }] }, '상태': { select: { name: '품질통과' } }, '대상독자': { select: { name: $json.target_reader || '학부모' } }, '톤': { select: { name: $json.tone || '친근한' } }, '품질점수': { number: Number($json.quality_score) || 0 }, '반복횟수': { number: 2 }, '작성일': { date: { start: $json.date_str || new Date().toISOString().slice(0,10) } }, '해시태그': { rich_text: [{ text: { content: ($json.draft_hashtags || '').slice(0,2000) } }] }, '참고URL': { rich_text: [{ text: { content: ($json.url_list || '').slice(0,2000) } }] } }, children: [ { object: 'block', type: 'heading_2', heading_2: { rich_text: [{ type: 'text', text: { content: '📝 블로그 본문 (2차 gemma-3-27b)' } }] } }, ...($json.bodyChunks || [($json.draft_content||'').slice(0,1900)]).map(chunk => ({ object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: chunk } }] } })), { object: 'block', type: 'heading_2', heading_2: { rich_text: [{ type: 'text', text: { content: '🏷️ 해시태그' } }] } }, { object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: ($json.draft_hashtags || '').slice(0,2000) } }] } } ] }) }}",
        "options": {}
      },
      "id": "node-notion-save-pass",
      "name": "노션 저장 (품질통과)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3600,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ntn_MASKED"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ parent: { database_id: '925413d91bd64c4abfd7904bf353f99d' }, properties: { '제목': { title: [{ text: { content: ($json.draft_title || '[제목 없음]').slice(0,2000) } }] }, '주제': { rich_text: [{ text: { content: ($json.blog_topic || '').slice(0,2000) } }] }, '상태': { select: { name: '품질통과' } }, '대상독자': { select: { name: $json.target_reader || '학부모' } }, '톤': { select: { name: $json.tone || '친근한' } }, '품질점수': { number: Number($json.quality_score) || 0 }, '반복횟수': { number: 3 }, '작성일': { date: { start: $json.date_str || new Date().toISOString().slice(0,10) } }, '해시태그': { rich_text: [{ text: { content: ($json.draft_hashtags || '').slice(0,2000) } }] }, '참고URL': { rich_text: [{ text: { content: ($json.url_list || '').slice(0,2000) } }] } }, children: [ { object: 'block', type: 'heading_2', heading_2: { rich_text: [{ type: 'text', text: { content: '📝 블로그 본문 (3차 gemma-4-31b)' } }] } }, ...($json.bodyChunks || [($json.draft_content||'').slice(0,1900)]).map(chunk => ({ object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: chunk } }] } })), { object: 'block', type: 'heading_2', heading_2: { rich_text: [{ type: 'text', text: { content: '🏷️ 해시태그' } }] } }, { object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: ($json.draft_hashtags || '').slice(0,2000) } }] } } ] }) }}",
        "options": {}
      },
      "id": "node-notion-save-3rd",
      "name": "노션 저장 (3차 보강)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        560
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "result",
              "type": "string",
              "value": "={{ '🎉 [' + $json.draft_title + '] 2차 보강 품질통과! 노션에 저장됐어요.' }}"
            },
            {
              "id": "f2",
              "name": "stage",
              "type": "string",
              "value": "2차 (gemma-3-27b)"
            }
          ]
        },
        "options": {}
      },
      "id": "node-complete-pass",
      "name": "완료 (품질통과)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3840,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "result",
              "type": "string",
              "value": "={{ '🎉 [' + $json.draft_title + '] 3차 보강 완료! 노션에 저장됐어요.' }}"
            },
            {
              "id": "f2",
              "name": "stage",
              "type": "string",
              "value": "3차 (gemma-4-31b)"
            }
          ]
        },
        "options": {}
      },
      "id": "node-complete-3rd",
      "name": "완료 (3차 보강)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4560,
        560
      ]
    },
    {
      "parameters": {
        "workflowId": "eOopB5bbEEO9rjrg",
        "options": {}
      },
      "id": "status-success-pass",
      "name": "✅ 상태 업데이트 (성공-2차)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4080,
        240
      ]
    },
    {
      "parameters": {
        "workflowId": "eOopB5bbEEO9rjrg",
        "options": {}
      },
      "id": "status-success-3rd",
      "name": "✅ 상태 업데이트 (성공-3차)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4800,
        560
      ]
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "❌ 에러 감지",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        1200,
        608
      ]
    },
    {
      "parameters": {
        "workflowId": "eOopB5bbEEO9rjrg",
        "options": {}
      },
      "id": "status-error",
      "name": "❌ 상태 업데이트 (에러)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1440,
        608
      ]
    },
    {
      "parameters": {
        "content": "## 📋 Math4U 학원 블로그 자동작성 메뉴얼\n\n### ⚙️ 워크플로우 구조\n1️⃣ **1차 초안**: gemma-3-12b-it (1200~1500자)\n2️⃣ **2차 보강 (무조건)**: gemma-3-27b-it (1800~2200자)\n3️⃣ **품질 평가**: gemma-4-26b-a4b-it\n  - 통과 → 노션 저장\n  - 미달 → 3차 보강\n4️⃣ **3차 보강 (미달 시)**: gemma-4-31b-it (2000~2500자)\n\n### 🔧 수정이 필요할 때\n1. 학원 정보 → `1차 프롬프트 조립` 노드\n2. 품질 기준 → `품질평가 프롬프트 조립` 노드\n\n### ⚠️ 주의사항\n- API 키: 환경변수 GEMINI_API_KEY\n- Gemma 4 모델 무료 티어 가용 여부 확인 필요",
        "height": 400,
        "width": 400,
        "color": 4
      },
      "id": "manual-note",
      "name": "📋 워크플로우 메뉴얼",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemma-4-31b-it:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.prompt1_body }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "node-ai1",
      "name": "1차 AI 초안 (gemma-4-31b)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        400
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "body": "={{ $json.prompt2_body }}",
        "contentType": "raw",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "method": "POST",
        "options": {
          "timeout": 120000
        },
        "rawContentType": "application/json",
        "sendBody": true,
        "sendHeaders": true,
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-3.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}"
      },
      "id": "node-ai2",
      "name": "2차 보강 (gemini-3.5-flash)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        400
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "body": "={{ $json.eval_body }}",
        "contentType": "raw",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "method": "POST",
        "options": {
          "timeout": 60000
        },
        "rawContentType": "application/json",
        "sendBody": true,
        "sendHeaders": true,
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-lite:generateContent?key={{ $env.GEMINI_API_KEY }}"
      },
      "id": "node-ai-eval",
      "name": "품질 평가 (gemini-3.1-flash-lite)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        400
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    }
  ],
  "connections": {
    "📝 블로그 작성 폼": {
      "main": [
        [
          {
            "node": "입력값 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "입력값 파싱": {
      "main": [
        [
          {
            "node": "URL 콘텐츠 수집",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL 콘텐츠 수집": {
      "main": [
        [
          {
            "node": "Jina URL 읽기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina URL 읽기": {
      "main": [
        [
          {
            "node": "URL 자료 통합",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL 자료 통합": {
      "main": [
        [
          {
            "node": "1차 프롬프트 조립",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1차 프롬프트 조립": {
      "main": [
        [
          {
            "node": "1차 AI 초안 (gemma-4-31b)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1차 초안 추출": {
      "main": [
        [
          {
            "node": "2차 프롬프트 조립",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2차 프롬프트 조립": {
      "main": [
        [
          {
            "node": "2차 보강 (gemini-3.5-flash)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2차 보강 추출": {
      "main": [
        [
          {
            "node": "품질평가 프롬프트 조립",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "품질평가 프롬프트 조립": {
      "main": [
        [
          {
            "node": "품질 평가 (gemini-3.1-flash-lite)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "품질 결과 파싱": {
      "main": [
        [
          {
            "node": "품질 기준 충족?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "품질 기준 충족?": {
      "main": [
        [
          {
            "node": "노션 저장 (품질통과)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "3차 프롬프트 조립",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "노션 저장 (품질통과)": {
      "main": [
        [
          {
            "node": "완료 (품질통과)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "완료 (품질통과)": {
      "main": [
        [
          {
            "node": "✅ 상태 업데이트 (성공-2차)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3차 프롬프트 조립": {
      "main": [
        [
          {
            "node": "3차 보강 (gemma-4-31b)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3차 보강 (gemma-4-31b)": {
      "main": [
        [
          {
            "node": "3차 보강 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3차 보강 추출": {
      "main": [
        [
          {
            "node": "노션 저장 (3차 보강)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "노션 저장 (3차 보강)": {
      "main": [
        [
          {
            "node": "완료 (3차 보강)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "완료 (3차 보강)": {
      "main": [
        [
          {
            "node": "✅ 상태 업데이트 (성공-3차)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ 에러 감지": {
      "main": [
        [
          {
            "node": "❌ 상태 업데이트 (에러)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1차 AI 초안 (gemma-4-31b)": {
      "main": [
        [
          {
            "node": "1차 초안 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2차 보강 (gemini-3.5-flash)": {
      "main": [
        [
          {
            "node": "2차 보강 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "품질 평가 (gemini-3.1-flash-lite)": {
      "main": [
        [
          {
            "node": "품질 결과 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "dc5af3a0-cc4c-45fb-b0ad-fe5c241bff39",
  "activeVersionId": "dc5af3a0-cc4c-45fb-b0ad-fe5c241bff39",
  "versionCounter": 75,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-03T18:16:19.962Z",
      "createdAt": "2026-03-03T18:16:19.962Z",
      "role": "workflow:owner",
      "workflowId": "L6uRu2oqasHrOIQR",
      "projectId": "8znYa8Ca7GWeBy0m",
      "project": {
        "updatedAt": "2025-11-29T23:05:56.637Z",
        "createdAt": "2025-11-29T23:04:07.777Z",
        "id": "8znYa8Ca7GWeBy0m",
        "name": "Seung Hyeon Kim <khai01@naver.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-28T23:11:40.146Z",
    "createdAt": "2026-06-28T23:11:40.146Z",
    "versionId": "dc5af3a0-cc4c-45fb-b0ad-fe5c241bff39",
    "workflowId": "L6uRu2oqasHrOIQR",
    "nodes": [
      {
        "parameters": {
          "formTitle": "📚 Math4U 학원 블로그 자동작성",
          "formDescription": "주제와 옵션을 입력하면 네이버 블로그 초안을 자동으로 작성해드립니다.",
          "formFields": {
            "values": [
              {
                "fieldLabel": "블로그 주제",
                "fieldType": "textarea",
                "placeholder": "예: 고3 수능 수학 막판 점수 올리는 법, 동탄 수학학원 선택 기준",
                "requiredField": true
              },
              {
                "fieldLabel": "대상 독자",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "학부모"
                    },
                    {
                      "option": "고등학생"
                    },
                    {
                      "option": "중학생"
                    },
                    {
                      "option": "수험생"
                    }
                  ]
                },
                "requiredField": true
              },
              {
                "fieldLabel": "글 톤",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "친근한"
                    },
                    {
                      "option": "전문적인"
                    },
                    {
                      "option": "신뢰감있는"
                    }
                  ]
                },
                "requiredField": true
              },
              {
                "fieldLabel": "참고 URL (선택)",
                "fieldType": "textarea",
                "placeholder": "참고할 블로그나 자료 URL (줄바꿈으로 여러 개 입력 가능)"
              },
              {
                "fieldLabel": "추가 메모",
                "fieldType": "textarea",
                "placeholder": "특별히 강조하고 싶은 내용, 포함할 키워드 등"
              }
            ]
          },
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "node-form",
        "name": "📝 블로그 작성 폼",
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.2,
        "position": [
          0,
          400
        ],
        "webhookId": "a8235c14-93a5-416c-b209-a669e87f7704"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "p1",
                "name": "blog_topic",
                "value": "={{ $json['블로그 주제'] }}",
                "type": "string"
              },
              {
                "id": "p2",
                "name": "target_reader",
                "value": "={{ $json['대상 독자'] }}",
                "type": "string"
              },
              {
                "id": "p3",
                "name": "tone",
                "value": "={{ $json['글 톤'] }}",
                "type": "string"
              },
              {
                "id": "p4",
                "name": "url_list",
                "value": "={{ $json['참고 URL (선택)'] || '' }}",
                "type": "string"
              },
              {
                "id": "p5",
                "name": "memo",
                "value": "={{ $json['추가 메모'] || '' }}",
                "type": "string"
              },
              {
                "id": "p6",
                "name": "date_str",
                "value": "={{ new Date().toISOString().slice(0,10) }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "node-parse",
        "name": "입력값 파싱",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          240,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst urls = (input.url_list || '').split('\\n').map(u => u.trim()).filter(u => u.length > 0);\nif (urls.length === 0) return [{ json: { ...input, url_contents: '' } }];\nreturn urls.map(url => ({ json: { ...input, fetch_url: 'https://r.jina.ai/' + url, source_url: url } }));"
        },
        "id": "node-url-prep",
        "name": "URL 콘텐츠 수집",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          400
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.fetch_url }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "text/plain"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "text"
              }
            }
          }
        },
        "id": "node-jina",
        "name": "Jina URL 읽기",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          720,
          400
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst base = $('입력값 파싱').first().json;\nlet urlContents = '';\nfor (const item of items) {\n  if (!item.json.fetch_url) continue;\n  const content = (item.json.data || item.json.body || '').substring(0, 3000);\n  if (content) urlContents += '[출처: ' + item.json.source_url + ']\\n' + content + '\\n\\n---\\n\\n';\n}\nreturn [{ json: { ...base, url_contents: urlContents } }];"
        },
        "id": "node-url-merge",
        "name": "URL 자료 통합",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "const d = $input.first().json;\nconst refSection = d.url_contents ? '\\n\\n## 참고 자료\\n' + d.url_contents : '';\nconst memoSection = d.memo ? '\\n\\n## 추가 요청사항\\n' + d.memo : '';\nconst prompt = [\n  '너는 대치Math4U 동탄캠 수학학원의 네이버 블로그 작가야.',\n  '아래 주제로 학원 블로그 초안을 작성해줘.',\n  '',\n  '## 블로그 주제',\n  d.blog_topic,\n  '',\n  '## 독자 및 톤',\n  '대상 독자: ' + d.target_reader,\n  '글 톤: ' + d.tone,\n  '',\n  '## 학원 기본 정보 (자연스럽게 1~2회 녹여넣기)',\n  '학원명: 대치Math4U 동탄캠',\n  '위치: 동탄 반송동 북광장',\n  '특징: 고등수학 전문, 고3 수능 수학 특화, 소수 정예',\n  refSection,\n  memoSection,\n  '',\n  '## 작성 규칙',\n  '1. 본문: 1200~1500자',\n  '2. 소제목(##) 3개 이상',\n  '3. 구체적 예시 또는 팁 포함',\n  '4. 독자 행동 유도 문구 (상담 문의 등)',\n  '5. 해시태그 10~15개 (동탄수학학원, 대치math4u 등 포함)',\n  '6. JSON으로만 응답 (백틱 없이): {\"title\":\"...\",\"body\":\"...\",\"hashtags\":\"...\"}'\n].join('\\n');\nconst body = JSON.stringify({\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: { temperature: 0.8, maxOutputTokens: 2000 }\n});\nreturn [{ json: { ...d, prompt1_body: body } }];"
        },
        "id": "node-prompt1",
        "name": "1차 프롬프트 조립",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "const d = $input.first().json;\nconst prev = $('1차 프롬프트 조립').first().json;\nlet raw = '';\nif (d.candidates && d.candidates[0]) raw = d.candidates[0]['content']['parts'][0]['text'] || '';\nraw = raw.replace(/```json\\s*/g,'').replace(/```\\s*/g,'').trim();\nlet title = '[Blog] ' + prev.blog_topic, body = raw, hashtags = '';\ntry {\n  const p = JSON.parse(raw);\n  title = p.title || title;\n  body = p.body || raw;\n  if (Array.isArray(p.hashtags)) hashtags = p.hashtags.join(' ');\n  else hashtags = p.hashtags || '';\n} catch(e) {}\nreturn [{ json: { ...prev, draft_content: body, draft_title: title, draft_hashtags: hashtags } }];"
        },
        "id": "node-extract1",
        "name": "1차 초안 추출",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1680,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "const d = $input.first().json;\nconst prompt = [\n  '너는 대치Math4U 동탄캠 수학학원의 시니어 블로그 마케터야.',\n  '아래 초안을 더 풍성하고 완성도 높은 네이버 블로그 포스팅으로 업그레이드해줘.',\n  '',\n  '## 초안 제목',\n  d.draft_title,\n  '',\n  '## 초안 본문',\n  d.draft_content,\n  '',\n  '## 업그레이드 규칙',\n  '1. 본문: 1800~2200자로 확장',\n  '2. 소제목(##) 4개 이상으로 구조화',\n  '3. SEO 키워드 (동탄수학학원, 반송동수학학원, 대치math4u, 고등수학, 수능수학) 자연스럽게 3~5회 삽입',\n  '4. 구체적 학습 팁이나 사례 추가',\n  '5. 독자 행동 유도 문구 강화 (상담 문의, 방문 등)',\n  '6. 해시태그: 15~20개로 확장',\n  '7. 학원명(대치Math4U 동탄캠), 위치(동탄 반송동 북광장) 자연스럽게 유지',\n  '8. 대상 독자: ' + d.target_reader + ' / 글 톤: ' + d.tone,\n  '9. JSON으로만 응답 (백틱 없이): {\"title\":\"...\",\"body\":\"...\",\"hashtags\":\"...\"}'\n].join('\\n');\nconst body = JSON.stringify({\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: { temperature: 0.8, maxOutputTokens: 3000 }\n});\nreturn [{ json: { ...d, prompt2_body: body } }];"
        },
        "id": "node-prompt2",
        "name": "2차 프롬프트 조립",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1920,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "const d = $input.first().json;\nconst prev = $('2차 프롬프트 조립').first().json;\nlet raw = '';\nif (d.candidates && d.candidates[0]) raw = d.candidates[0]['content']['parts'][0]['text'] || '';\nraw = raw.replace(/```json\\s*/g,'').replace(/```\\s*/g,'').trim();\nlet title = prev.draft_title, body = raw, hashtags = prev.draft_hashtags;\ntry {\n  const p = JSON.parse(raw);\n  title = p.title || title;\n  body = p.body || raw;\n  if (Array.isArray(p.hashtags)) hashtags = p.hashtags.join(' ');\n  else hashtags = p.hashtags || hashtags;\n} catch(e) {}\nreturn [{ json: { ...prev, draft_content: body, draft_title: title, draft_hashtags: hashtags } }];"
        },
        "id": "node-extract2",
        "name": "2차 보강 추출",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2400,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "const d = $input.first().json;\nconst prompt = '블로그 품질 평가자야. 아래 기준으로 평가 후 JSON만 반환해 (백틱 없이): {\"passed\":true,\"score\":0,\"improvements\":\"\"}\\n\\n평가기준:\\n(1) 본문 1500자 이상\\n(2) 소제목 4개 이상\\n(3) 구체적 예시 또는 팁 포함\\n(4) SEO 키워드 포함 (동탄수학학원 등)\\n(5) 독자 행동 유도 문구 포함\\n(6) 해시태그 15개 이상\\n5개 이상 충족 시 passed:true, improvements는 미달 항목 개선 방향\\n\\n[평가할 글]\\n제목: ' + d.draft_title + '\\n\\n' + (d.draft_content || '').slice(0, 1000);\nconst body = JSON.stringify({\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: { temperature: 0.2, maxOutputTokens: 400 }\n});\nreturn [{ json: { ...d, eval_body: body } }];"
        },
        "id": "node-eval-prompt",
        "name": "품질평가 프롬프트 조립",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2640,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst prev = $('품질평가 프롬프트 조립').first().json;\nlet raw = '';\nif (item.json && item.json.candidates && item.json.candidates[0]) raw = item.json.candidates[0]['content']['parts'][0]['text'] || '{}';\nelse if (item.candidates && item.candidates[0]) raw = item.candidates[0]['content']['parts'][0]['text'] || '{}';\nraw = raw.replace(/```json\\s*/g,'').replace(/```\\s*/g,'').trim();\nlet q = {};\ntry { q = JSON.parse(raw); } catch(e) { q = { passed: true, score: 70, improvements: '' }; }\nreturn [{ json: { ...prev, quality_passed: q.passed || false, quality_score: q.score || 0, improvements: q.improvements || '' } }];"
        },
        "id": "node-parse-q",
        "name": "품질 결과 파싱",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3120,
          400
        ]
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.quality_passed }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            }
          },
          "options": {}
        },
        "id": "node-if-q",
        "name": "품질 기준 충족?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          3360,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "const d = $input.first().json;\nconst prompt = [\n  '너는 대치Math4U 동탄캠 학원 블로그 최고 전문 편집장이야.',\n  '아래 보완 지시사항에 따라 블로그 글을 최종 완성본으로 다듬어줘.',\n  '',\n  '[보완 지시사항]',\n  d.improvements || '전체적으로 더 전문적이고 SEO에 최적화된 글로 개선',\n  '',\n  '[현재 글]',\n  '제목: ' + d.draft_title,\n  '',\n  d.draft_content,\n  '',\n  '## 최종 완성 기준',\n  '1. 본문: 2000~2500자 완성본',\n  '2. 소제목(##) 4~5개',\n  '3. SEO 키워드 (동탄수학학원, 반송동수학학원, 대치math4u, 고등수학, 수능수학) 자연스럽게 삽입',\n  '4. 독자 행동 유도 문구 (상담 문의 등) 포함',\n  '5. 해시태그 20개',\n  '6. 학원명(대치Math4U 동탄캠), 위치(동탄 반송동 북광장) 유지',\n  '7. 대상 독자: ' + d.target_reader + ' / 글 톤: ' + d.tone,\n  '8. JSON으로만 응답 (백틱 없이): {\"title\":\"...\",\"body\":\"...\",\"hashtags\":\"...\"}'\n].join('\\n');\nconst body = JSON.stringify({\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: { temperature: 0.7, maxOutputTokens: 4000 }\n});\nreturn [{ json: { ...d, prompt3_body: body } }];"
        },
        "id": "node-prompt3",
        "name": "3차 프롬프트 조립",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3600,
          560
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemma-4-31b-it:generateContent?key={{ $env.GEMINI_API_KEY }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $json.prompt3_body }}",
          "options": {
            "timeout": 120000
          }
        },
        "id": "node-ai3",
        "name": "3차 보강 (gemma-4-31b)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3840,
          560
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 8000
      },
      {
        "parameters": {
          "jsCode": "const d = $input.first().json;\nconst prev = $('3차 프롬프트 조립').first().json;\nlet raw = '';\nif (d.candidates && d.candidates[0]) raw = d.candidates[0]['content']['parts'][0]['text'] || '';\nraw = raw.replace(/```json\\s*/g,'').replace(/```\\s*/g,'').trim();\nlet title = prev.draft_title, body = raw, hashtags = prev.draft_hashtags;\ntry {\n  const p = JSON.parse(raw);\n  title = p.title || title;\n  body = p.body || raw;\n  if (Array.isArray(p.hashtags)) hashtags = p.hashtags.join(' ');\n  else hashtags = p.hashtags || hashtags;\n} catch(e) {}\nconst MAX = 1900;\nconst bodyChunks = [];\nfor (let i = 0; i < body.length; i += MAX) bodyChunks.push(body.slice(i, i + MAX));\nreturn [{ json: { ...prev, draft_content: body, bodyChunks, draft_title: title, draft_hashtags: hashtags, final_stage: '3차(gemma-4-31b)' } }];"
        },
        "id": "node-extract3",
        "name": "3차 보강 추출",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4080,
          560
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.notion.com/v1/pages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer ntn_MASKED"
              },
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ parent: { database_id: '925413d91bd64c4abfd7904bf353f99d' }, properties: { '제목': { title: [{ text: { content: ($json.draft_title || '[제목 없음]').slice(0,2000) } }] }, '주제': { rich_text: [{ text: { content: ($json.blog_topic || '').slice(0,2000) } }] }, '상태': { select: { name: '품질통과' } }, '대상독자': { select: { name: $json.target_reader || '학부모' } }, '톤': { select: { name: $json.tone || '친근한' } }, '품질점수': { number: Number($json.quality_score) || 0 }, '반복횟수': { number: 2 }, '작성일': { date: { start: $json.date_str || new Date().toISOString().slice(0,10) } }, '해시태그': { rich_text: [{ text: { content: ($json.draft_hashtags || '').slice(0,2000) } }] }, '참고URL': { rich_text: [{ text: { content: ($json.url_list || '').slice(0,2000) } }] } }, children: [ { object: 'block', type: 'heading_2', heading_2: { rich_text: [{ type: 'text', text: { content: '📝 블로그 본문 (2차 gemma-3-27b)' } }] } }, ...($json.bodyChunks || [($json.draft_content||'').slice(0,1900)]).map(chunk => ({ object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: chunk } }] } })), { object: 'block', type: 'heading_2', heading_2: { rich_text: [{ type: 'text', text: { content: '🏷️ 해시태그' } }] } }, { object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: ($json.draft_hashtags || '').slice(0,2000) } }] } } ] }) }}",
          "options": {}
        },
        "id": "node-notion-save-pass",
        "name": "노션 저장 (품질통과)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3600,
          240
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.notion.com/v1/pages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer ntn_MASKED"
              },
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ parent: { database_id: '925413d91bd64c4abfd7904bf353f99d' }, properties: { '제목': { title: [{ text: { content: ($json.draft_title || '[제목 없음]').slice(0,2000) } }] }, '주제': { rich_text: [{ text: { content: ($json.blog_topic || '').slice(0,2000) } }] }, '상태': { select: { name: '품질통과' } }, '대상독자': { select: { name: $json.target_reader || '학부모' } }, '톤': { select: { name: $json.tone || '친근한' } }, '품질점수': { number: Number($json.quality_score) || 0 }, '반복횟수': { number: 3 }, '작성일': { date: { start: $json.date_str || new Date().toISOString().slice(0,10) } }, '해시태그': { rich_text: [{ text: { content: ($json.draft_hashtags || '').slice(0,2000) } }] }, '참고URL': { rich_text: [{ text: { content: ($json.url_list || '').slice(0,2000) } }] } }, children: [ { object: 'block', type: 'heading_2', heading_2: { rich_text: [{ type: 'text', text: { content: '📝 블로그 본문 (3차 gemma-4-31b)' } }] } }, ...($json.bodyChunks || [($json.draft_content||'').slice(0,1900)]).map(chunk => ({ object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: chunk } }] } })), { object: 'block', type: 'heading_2', heading_2: { rich_text: [{ type: 'text', text: { content: '🏷️ 해시태그' } }] } }, { object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: ($json.draft_hashtags || '').slice(0,2000) } }] } } ] }) }}",
          "options": {}
        },
        "id": "node-notion-save-3rd",
        "name": "노션 저장 (3차 보강)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4320,
          560
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f1",
                "name": "result",
                "type": "string",
                "value": "={{ '🎉 [' + $json.draft_title + '] 2차 보강 품질통과! 노션에 저장됐어요.' }}"
              },
              {
                "id": "f2",
                "name": "stage",
                "type": "string",
                "value": "2차 (gemma-3-27b)"
              }
            ]
          },
          "options": {}
        },
        "id": "node-complete-pass",
        "name": "완료 (품질통과)",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3840,
          240
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f1",
                "name": "result",
                "type": "string",
                "value": "={{ '🎉 [' + $json.draft_title + '] 3차 보강 완료! 노션에 저장됐어요.' }}"
              },
              {
                "id": "f2",
                "name": "stage",
                "type": "string",
                "value": "3차 (gemma-4-31b)"
              }
            ]
          },
          "options": {}
        },
        "id": "node-complete-3rd",
        "name": "완료 (3차 보강)",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4560,
          560
        ]
      },
      {
        "parameters": {
          "workflowId": "eOopB5bbEEO9rjrg",
          "options": {}
        },
        "id": "status-success-pass",
        "name": "✅ 상태 업데이트 (성공-2차)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          4080,
          240
        ]
      },
      {
        "parameters": {
          "workflowId": "eOopB5bbEEO9rjrg",
          "options": {}
        },
        "id": "status-success-3rd",
        "name": "✅ 상태 업데이트 (성공-3차)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          4800,
          560
        ]
      },
      {
        "parameters": {},
        "id": "error-trigger",
        "name": "❌ 에러 감지",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          1200,
          608
        ]
      },
      {
        "parameters": {
          "workflowId": "eOopB5bbEEO9rjrg",
          "options": {}
        },
        "id": "status-error",
        "name": "❌ 상태 업데이트 (에러)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          1440,
          608
        ]
      },
      {
        "parameters": {
          "content": "## 📋 Math4U 학원 블로그 자동작성 메뉴얼\n\n### ⚙️ 워크플로우 구조\n1️⃣ **1차 초안**: gemma-3-12b-it (1200~1500자)\n2️⃣ **2차 보강 (무조건)**: gemma-3-27b-it (1800~2200자)\n3️⃣ **품질 평가**: gemma-4-26b-a4b-it\n  - 통과 → 노션 저장\n  - 미달 → 3차 보강\n4️⃣ **3차 보강 (미달 시)**: gemma-4-31b-it (2000~2500자)\n\n### 🔧 수정이 필요할 때\n1. 학원 정보 → `1차 프롬프트 조립` 노드\n2. 품질 기준 → `품질평가 프롬프트 조립` 노드\n\n### ⚠️ 주의사항\n- API 키: 환경변수 GEMINI_API_KEY\n- Gemma 4 모델 무료 티어 가용 여부 확인 필요",
          "height": 400,
          "width": 400,
          "color": 4
        },
        "id": "manual-note",
        "name": "📋 워크플로우 메뉴얼",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -240,
          160
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemma-4-31b-it:generateContent?key={{ $env.GEMINI_API_KEY }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $json.prompt1_body }}",
          "options": {
            "timeout": 120000
          }
        },
        "id": "node-ai1",
        "name": "1차 AI 초안 (gemma-4-31b)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1440,
          400
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "body": "={{ $json.prompt2_body }}",
          "contentType": "raw",
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "method": "POST",
          "options": {
            "timeout": 120000
          },
          "rawContentType": "application/json",
          "sendBody": true,
          "sendHeaders": true,
          "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-3.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}"
        },
        "id": "node-ai2",
        "name": "2차 보강 (gemini-3.5-flash)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2160,
          400
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "body": "={{ $json.eval_body }}",
          "contentType": "raw",
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "method": "POST",
          "options": {
            "timeout": 60000
          },
          "rawContentType": "application/json",
          "sendBody": true,
          "sendHeaders": true,
          "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-lite:generateContent?key={{ $env.GEMINI_API_KEY }}"
        },
        "id": "node-ai-eval",
        "name": "품질 평가 (gemini-3.1-flash-lite)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2880,
          400
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000
      }
    ],
    "connections": {
      "📝 블로그 작성 폼": {
        "main": [
          [
            {
              "node": "입력값 파싱",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "입력값 파싱": {
        "main": [
          [
            {
              "node": "URL 콘텐츠 수집",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "URL 콘텐츠 수집": {
        "main": [
          [
            {
              "node": "Jina URL 읽기",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Jina URL 읽기": {
        "main": [
          [
            {
              "node": "URL 자료 통합",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "URL 자료 통합": {
        "main": [
          [
            {
              "node": "1차 프롬프트 조립",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "1차 프롬프트 조립": {
        "main": [
          [
            {
              "node": "1차 AI 초안 (gemma-4-31b)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "1차 초안 추출": {
        "main": [
          [
            {
              "node": "2차 프롬프트 조립",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "2차 프롬프트 조립": {
        "main": [
          [
            {
              "node": "2차 보강 (gemini-3.5-flash)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "2차 보강 추출": {
        "main": [
          [
            {
              "node": "품질평가 프롬프트 조립",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "품질평가 프롬프트 조립": {
        "main": [
          [
            {
              "node": "품질 평가 (gemini-3.1-flash-lite)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "품질 결과 파싱": {
        "main": [
          [
            {
              "node": "품질 기준 충족?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "품질 기준 충족?": {
        "main": [
          [
            {
              "node": "노션 저장 (품질통과)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "3차 프롬프트 조립",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "노션 저장 (품질통과)": {
        "main": [
          [
            {
              "node": "완료 (품질통과)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "완료 (품질통과)": {
        "main": [
          [
            {
              "node": "✅ 상태 업데이트 (성공-2차)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "3차 프롬프트 조립": {
        "main": [
          [
            {
              "node": "3차 보강 (gemma-4-31b)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "3차 보강 (gemma-4-31b)": {
        "main": [
          [
            {
              "node": "3차 보강 추출",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "3차 보강 추출": {
        "main": [
          [
            {
              "node": "노션 저장 (3차 보강)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "노션 저장 (3차 보강)": {
        "main": [
          [
            {
              "node": "완료 (3차 보강)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "완료 (3차 보강)": {
        "main": [
          [
            {
              "node": "✅ 상태 업데이트 (성공-3차)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "❌ 에러 감지": {
        "main": [
          [
            {
              "node": "❌ 상태 업데이트 (에러)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "1차 AI 초안 (gemma-4-31b)": {
        "main": [
          [
            {
              "node": "1차 초안 추출",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "2차 보강 (gemini-3.5-flash)": {
        "main": [
          [
            {
              "node": "2차 보강 추출",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "품질 평가 (gemini-3.1-flash-lite)": {
        "main": [
          [
            {
              "node": "품질 결과 파싱",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Seung Hyeon Kim",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-28T23:11:40.395Z",
        "id": 625,
        "workflowId": "L6uRu2oqasHrOIQR",
        "versionId": "dc5af3a0-cc4c-45fb-b0ad-fe5c241bff39",
        "event": "activated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      },
      {
        "createdAt": "2026-06-28T23:11:40.296Z",
        "id": 624,
        "workflowId": "L6uRu2oqasHrOIQR",
        "versionId": "dc5af3a0-cc4c-45fb-b0ad-fe5c241bff39",
        "event": "deactivated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      }
    ]
  }
}