n8n Github Sync (노션 메뉴얼 → README)/workflow.json
{
  "updatedAt": "2026-04-04T07:50:16.925Z",
  "createdAt": "2025-12-01T21:37:22.774Z",
  "id": "gRhv6ri8Nq5sE1Ol",
  "name": "n8n Github Sync (노션 메뉴얼 → README)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## 🔄 n8n Github Sync\n\n**흐름 요약**\n1. n8n 전체 WF 목록 조회\n2. 노션 DB 조회 → 비교\n3. 아카이브 WF → 노션에서 삭제\n4. 신규 WF → 노션에 자동 추가\n5. 노션 DB 재조회 → 백업 루프\n6. 각 WF마다: JSON 백업 + 노션페이지에 JSON 저장 + Gemini README 생성\n\n**환경변수:**\n- N8N_API_KEY\n- GITHUB_TOKEN\n- GEMINI_API_KEY",
        "height": 388,
        "width": 372,
        "color": 5
      },
      "id": "sticky",
      "name": "Sticky Note",
      "position": [
        -1232,
        -32
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "trigger",
      "name": "수동 실행",
      "position": [
        -784,
        16
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://n8n.math4u.co.kr/api/v1/workflows?limit=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.N8N_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-n8n-list",
      "name": "n8n 전체 WF 목록 조회",
      "position": [
        -544,
        16
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/323c6a06e17e803282b4db8024fdb18e/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"filter\":{\"property\":\"Workflow ID\",\"rich_text\":{\"is_not_empty\":true}}}",
        "options": {}
      },
      "id": "notion-db",
      "name": "노션 DB 조회",
      "position": [
        -288,
        16
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "var n8nWFs = $('n8n 전체 WF 목록 조회').first().json.data || [];\nvar notionPages = $('노션 DB 조회').first().json.results || [];\n\nvar n8nMap = {};\nfor (var i = 0; i < n8nWFs.length; i++) {\n  n8nMap[n8nWFs[i].id] = { name: n8nWFs[i].name, isArchived: n8nWFs[i].isArchived };\n}\n\nvar notionIds = {};\nfor (var j = 0; j < notionPages.length; j++) {\n  var p = notionPages[j];\n  var wid = '';\n  if (p.properties['Workflow ID'] && p.properties['Workflow ID'].rich_text && p.properties['Workflow ID'].rich_text.length > 0) {\n    wid = p.properties['Workflow ID'].rich_text[0].plain_text;\n  }\n  if (wid) notionIds[wid] = p.id;\n}\n\n// 아카이브되거나 n8n에 없는 WF → 노션에서 삭제\nvar toDelete = [];\nfor (var wid in notionIds) {\n  if (!n8nMap[wid] || n8nMap[wid].isArchived) {\n    toDelete.push({ json: { _action: 'delete', notionPageId: notionIds[wid], workflowId: wid } });\n  }\n}\n\n// 노션에 없는 활성 WF → 신규 추가\nvar toAdd = [];\nfor (var k = 0; k < n8nWFs.length; k++) {\n  var wf = n8nWFs[k];\n  if (wf.isArchived) continue;\n  if (notionIds[wf.id]) continue;\n  toAdd.push({ json: { _action: 'add', workflowId: wf.id, workflowName: wf.name } });\n}\n\nvar result = toDelete.concat(toAdd);\nif (result.length === 0) {\n  return [{ json: { _noAction: true } }];\n}\nreturn result;"
      },
      "id": "sync-check",
      "name": "동기화 비교",
      "position": [
        -48,
        16
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "a1",
              "leftValue": "={{ $json._action }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "delete"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-action",
      "name": "작업 분류",
      "position": [
        -544,
        384
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.notionPageId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ archived: true }) }}",
        "options": {}
      },
      "id": "notion-delete",
      "name": "노션 아카이브 WF 삭제",
      "position": [
        -320,
        272
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/323c6a06e17e803282b4db8024fdb18e/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"filter\":{\"property\":\"Workflow ID\",\"rich_text\":{\"is_not_empty\":true}}}",
        "options": {}
      },
      "id": "after-delete",
      "name": "삭제 후 노션 DB 재조회",
      "position": [
        -112,
        272
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json._action }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "add"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-missing",
      "name": "신규 항목 있는지 확인",
      "position": [
        112,
        400
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ parent: { database_id: '323c6a06e17e803282b4db8024fdb18e' }, properties: { 'Workflow Name': { title: [{ text: { content: $json.workflowName } }] }, 'Workflow ID': { rich_text: [{ text: { content: $json.workflowId } }] }, 'Status': { select: { name: '🔧 개발중' } } } }) }}",
        "options": {}
      },
      "id": "notion-add",
      "name": "노션 DB에 신규 추가",
      "position": [
        304,
        496
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/323c6a06e17e803282b4db8024fdb18e/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"filter\":{\"property\":\"Workflow ID\",\"rich_text\":{\"is_not_empty\":true}}}",
        "options": {}
      },
      "id": "notion-db2",
      "name": "노션 DB 재조회",
      "position": [
        480,
        384
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "var notionPages = $input.first().json.results || [];\nvar items = [];\nfor (var i = 0; i < notionPages.length; i++) {\n  var page = notionPages[i];\n  var props = page.properties;\n  var workflowId = '';\n  if (props['Workflow ID'] && props['Workflow ID'].rich_text && props['Workflow ID'].rich_text.length > 0) {\n    workflowId = props['Workflow ID'].rich_text[0].plain_text;\n  }\n  var workflowName = '';\n  if (props['Workflow Name'] && props['Workflow Name'].title && props['Workflow Name'].title.length > 0) {\n    workflowName = props['Workflow Name'].title[0].plain_text;\n  }\n  var notionPageId = '';\n  if (props['Notion Page ID'] && props['Notion Page ID'].rich_text && props['Notion Page ID'].rich_text.length > 0) {\n    notionPageId = props['Notion Page ID'].rich_text[0].plain_text;\n  }\n  var category = '공통';\n  if (props['Category'] && props['Category'].select) {\n    category = props['Category'].select.name;\n  }\n  if (!workflowId) continue;\n  if (workflowName.indexOf('🗑️') !== -1) continue;\n  var safeName = workflowName.replace(/[\\/\\\\:*?\"<>|]/g, '-').trim();\n  items.push({ json: { workflowId: workflowId, workflowName: workflowName, notionPageId: notionPageId, category: category, folderPath: safeName } });\n}\nreturn items;"
      },
      "id": "prepare",
      "name": "목록 준비",
      "position": [
        608,
        16
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "❌ 에러 감지",
      "position": [
        -1200,
        704
      ],
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "workflowId",
              "type": "string",
              "value": "gRhv6ri8Nq5sE1Ol"
            },
            {
              "id": "e2",
              "name": "workflowName",
              "type": "string",
              "value": "n8n Github Sync (노션 메뉴얼 → README)"
            },
            {
              "id": "e3",
              "name": "notionPageId",
              "type": "string",
              "value": "324c6a06e17e81728fb3ccec9d7bae3a"
            },
            {
              "id": "e4",
              "name": "status",
              "type": "string",
              "value": "❌ 에러"
            },
            {
              "id": "e5",
              "name": "errorMessage",
              "type": "string",
              "value": "={{ $json.execution.error.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-error",
      "name": "Set - 에러 데이터",
      "position": [
        -960,
        704
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "workflowId": "eOopB5bbEEO9rjrg",
        "options": {}
      },
      "id": "status-error",
      "name": "❌ 상태 업데이트 (에러)",
      "position": [
        -720,
        704
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "d0uNR6Mo92P94Wod"
        },
        "mode": "each",
        "options": {}
      },
      "id": "exec-sub",
      "name": "백업 서브워크플로우 실행",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        800,
        16
      ]
    },
    {
      "parameters": {
        "workflowId": "eOopB5bbEEO9rjrg",
        "options": {}
      },
      "id": "success-final",
      "name": "✅ 상태 업데이트 (성공)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        992,
        16
      ]
    },
    {
      "id": "set-success",
      "name": "Set - 성공 데이터",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        120
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "workflowId",
              "type": "string",
              "value": "gRhv6ri8Nq5sE1Ol"
            },
            {
              "id": "s2",
              "name": "workflowName",
              "type": "string",
              "value": "n8n Github Sync (노션 메뉴얼 → README)"
            },
            {
              "id": "s3",
              "name": "notionPageId",
              "type": "string",
              "value": "324c6a06e17e81728fb3ccec9d7bae3a"
            },
            {
              "id": "s4",
              "name": "status",
              "type": "string",
              "value": "✅ 정상"
            },
            {
              "id": "s5",
              "name": "errorMessage",
              "type": "string",
              "value": ""
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Set - 에러 데이터": {
      "main": [
        [
          {
            "index": 0,
            "node": "❌ 상태 업데이트 (에러)",
            "type": "main"
          }
        ]
      ]
    },
    "n8n 전체 WF 목록 조회": {
      "main": [
        [
          {
            "index": 0,
            "node": "노션 DB 조회",
            "type": "main"
          }
        ]
      ]
    },
    "❌ 에러 감지": {
      "main": [
        [
          {
            "index": 0,
            "node": "Set - 에러 데이터",
            "type": "main"
          }
        ]
      ]
    },
    "노션 DB 재조회": {
      "main": [
        [
          {
            "index": 0,
            "node": "목록 준비",
            "type": "main"
          }
        ]
      ]
    },
    "노션 DB 조회": {
      "main": [
        [
          {
            "index": 0,
            "node": "동기화 비교",
            "type": "main"
          }
        ]
      ]
    },
    "노션 DB에 신규 추가": {
      "main": [
        [
          {
            "index": 0,
            "node": "노션 DB 재조회",
            "type": "main"
          }
        ]
      ]
    },
    "노션 아카이브 WF 삭제": {
      "main": [
        [
          {
            "index": 0,
            "node": "삭제 후 노션 DB 재조회",
            "type": "main"
          }
        ]
      ]
    },
    "동기화 비교": {
      "main": [
        [
          {
            "index": 0,
            "node": "작업 분류",
            "type": "main"
          }
        ]
      ]
    },
    "삭제 후 노션 DB 재조회": {
      "main": [
        [
          {
            "index": 0,
            "node": "신규 항목 있는지 확인",
            "type": "main"
          }
        ]
      ]
    },
    "수동 실행": {
      "main": [
        [
          {
            "index": 0,
            "node": "n8n 전체 WF 목록 조회",
            "type": "main"
          }
        ]
      ]
    },
    "신규 항목 있는지 확인": {
      "main": [
        [
          {
            "index": 0,
            "node": "노션 DB 재조회",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "노션 DB에 신규 추가",
            "type": "main"
          }
        ]
      ]
    },
    "작업 분류": {
      "main": [
        [
          {
            "index": 0,
            "node": "노션 아카이브 WF 삭제",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "신규 항목 있는지 확인",
            "type": "main"
          }
        ]
      ]
    },
    "목록 준비": {
      "main": [
        [
          {
            "node": "백업 서브워크플로우 실행",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "백업 서브워크플로우 실행": {
      "main": [
        [
          {
            "node": "Set - 성공 데이터",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - 성공 데이터": {
      "main": [
        [
          {
            "node": "✅ 상태 업데이트 (성공)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "binaryMode": "separate",
    "timezone": "Asia/Seoul"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "888680bf-5a46-4f7d-8351-be0ce7644b7f",
  "activeVersionId": "888680bf-5a46-4f7d-8351-be0ce7644b7f",
  "versionCounter": 284,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-01T21:37:22.778Z",
      "createdAt": "2025-12-01T21:37:22.778Z",
      "role": "workflow:owner",
      "workflowId": "gRhv6ri8Nq5sE1Ol",
      "projectId": "8znYa8Ca7GWeBy0m",
      "project": {
        "updatedAt": "2025-11-29T23:05:56.637Z",
        "createdAt": "2025-11-29T23:04:07.777Z",
        "id": "8znYa8Ca7GWeBy0m",
        "name": "Seung Hyeon Kim <khai01@naver.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-04T07:50:16.927Z",
    "createdAt": "2026-04-04T07:50:16.927Z",
    "versionId": "888680bf-5a46-4f7d-8351-be0ce7644b7f",
    "workflowId": "gRhv6ri8Nq5sE1Ol",
    "nodes": [
      {
        "parameters": {
          "content": "## 🔄 n8n Github Sync\n\n**흐름 요약**\n1. n8n 전체 WF 목록 조회\n2. 노션 DB 조회 → 비교\n3. 아카이브 WF → 노션에서 삭제\n4. 신규 WF → 노션에 자동 추가\n5. 노션 DB 재조회 → 백업 루프\n6. 각 WF마다: JSON 백업 + 노션페이지에 JSON 저장 + Gemini README 생성\n\n**환경변수:**\n- N8N_API_KEY\n- GITHUB_TOKEN\n- GEMINI_API_KEY",
          "height": 388,
          "width": 372,
          "color": 5
        },
        "id": "sticky",
        "name": "Sticky Note",
        "position": [
          -1232,
          -32
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "trigger",
        "name": "수동 실행",
        "position": [
          -784,
          16
        ],
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1
      },
      {
        "parameters": {
          "url": "https://n8n.math4u.co.kr/api/v1/workflows?limit=100",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-N8N-API-KEY",
                "value": "={{ $env.N8N_API_KEY }}"
              }
            ]
          },
          "options": {}
        },
        "id": "get-n8n-list",
        "name": "n8n 전체 WF 목록 조회",
        "position": [
          -544,
          16
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.notion.com/v1/databases/323c6a06e17e803282b4db8024fdb18e/query",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 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"
              },
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "{\"filter\":{\"property\":\"Workflow ID\",\"rich_text\":{\"is_not_empty\":true}}}",
          "options": {}
        },
        "id": "notion-db",
        "name": "노션 DB 조회",
        "position": [
          -288,
          16
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "jsCode": "var n8nWFs = $('n8n 전체 WF 목록 조회').first().json.data || [];\nvar notionPages = $('노션 DB 조회').first().json.results || [];\n\nvar n8nMap = {};\nfor (var i = 0; i < n8nWFs.length; i++) {\n  n8nMap[n8nWFs[i].id] = { name: n8nWFs[i].name, isArchived: n8nWFs[i].isArchived };\n}\n\nvar notionIds = {};\nfor (var j = 0; j < notionPages.length; j++) {\n  var p = notionPages[j];\n  var wid = '';\n  if (p.properties['Workflow ID'] && p.properties['Workflow ID'].rich_text && p.properties['Workflow ID'].rich_text.length > 0) {\n    wid = p.properties['Workflow ID'].rich_text[0].plain_text;\n  }\n  if (wid) notionIds[wid] = p.id;\n}\n\n// 아카이브되거나 n8n에 없는 WF → 노션에서 삭제\nvar toDelete = [];\nfor (var wid in notionIds) {\n  if (!n8nMap[wid] || n8nMap[wid].isArchived) {\n    toDelete.push({ json: { _action: 'delete', notionPageId: notionIds[wid], workflowId: wid } });\n  }\n}\n\n// 노션에 없는 활성 WF → 신규 추가\nvar toAdd = [];\nfor (var k = 0; k < n8nWFs.length; k++) {\n  var wf = n8nWFs[k];\n  if (wf.isArchived) continue;\n  if (notionIds[wf.id]) continue;\n  toAdd.push({ json: { _action: 'add', workflowId: wf.id, workflowName: wf.name } });\n}\n\nvar result = toDelete.concat(toAdd);\nif (result.length === 0) {\n  return [{ json: { _noAction: true } }];\n}\nreturn result;"
        },
        "id": "sync-check",
        "name": "동기화 비교",
        "position": [
          -48,
          16
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "a1",
                "leftValue": "={{ $json._action }}",
                "operator": {
                  "operation": "equals",
                  "type": "string"
                },
                "rightValue": "delete"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "check-action",
        "name": "작업 분류",
        "position": [
          -544,
          384
        ],
        "type": "n8n-nodes-base.if",
        "typeVersion": 2
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://api.notion.com/v1/pages/{{ $json.notionPageId }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 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"
              },
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ archived: true }) }}",
          "options": {}
        },
        "id": "notion-delete",
        "name": "노션 아카이브 WF 삭제",
        "position": [
          -320,
          272
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.notion.com/v1/databases/323c6a06e17e803282b4db8024fdb18e/query",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 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"
              },
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "{\"filter\":{\"property\":\"Workflow ID\",\"rich_text\":{\"is_not_empty\":true}}}",
          "options": {}
        },
        "id": "after-delete",
        "name": "삭제 후 노션 DB 재조회",
        "position": [
          -112,
          272
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json._action }}",
                "operator": {
                  "operation": "equals",
                  "type": "string"
                },
                "rightValue": "add"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "check-missing",
        "name": "신규 항목 있는지 확인",
        "position": [
          112,
          400
        ],
        "type": "n8n-nodes-base.if",
        "typeVersion": 2
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.notion.com/v1/pages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 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"
              },
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ parent: { database_id: '323c6a06e17e803282b4db8024fdb18e' }, properties: { 'Workflow Name': { title: [{ text: { content: $json.workflowName } }] }, 'Workflow ID': { rich_text: [{ text: { content: $json.workflowId } }] }, 'Status': { select: { name: '🔧 개발중' } } } }) }}",
          "options": {}
        },
        "id": "notion-add",
        "name": "노션 DB에 신규 추가",
        "position": [
          304,
          496
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.notion.com/v1/databases/323c6a06e17e803282b4db8024fdb18e/query",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 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"
              },
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "{\"filter\":{\"property\":\"Workflow ID\",\"rich_text\":{\"is_not_empty\":true}}}",
          "options": {}
        },
        "id": "notion-db2",
        "name": "노션 DB 재조회",
        "position": [
          480,
          384
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "jsCode": "var notionPages = $input.first().json.results || [];\nvar items = [];\nfor (var i = 0; i < notionPages.length; i++) {\n  var page = notionPages[i];\n  var props = page.properties;\n  var workflowId = '';\n  if (props['Workflow ID'] && props['Workflow ID'].rich_text && props['Workflow ID'].rich_text.length > 0) {\n    workflowId = props['Workflow ID'].rich_text[0].plain_text;\n  }\n  var workflowName = '';\n  if (props['Workflow Name'] && props['Workflow Name'].title && props['Workflow Name'].title.length > 0) {\n    workflowName = props['Workflow Name'].title[0].plain_text;\n  }\n  var notionPageId = '';\n  if (props['Notion Page ID'] && props['Notion Page ID'].rich_text && props['Notion Page ID'].rich_text.length > 0) {\n    notionPageId = props['Notion Page ID'].rich_text[0].plain_text;\n  }\n  var category = '공통';\n  if (props['Category'] && props['Category'].select) {\n    category = props['Category'].select.name;\n  }\n  if (!workflowId) continue;\n  if (workflowName.indexOf('🗑️') !== -1) continue;\n  var safeName = workflowName.replace(/[\\/\\\\:*?\"<>|]/g, '-').trim();\n  items.push({ json: { workflowId: workflowId, workflowName: workflowName, notionPageId: notionPageId, category: category, folderPath: safeName } });\n}\nreturn items;"
        },
        "id": "prepare",
        "name": "목록 준비",
        "position": [
          608,
          16
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "parameters": {},
        "id": "error-trigger",
        "name": "❌ 에러 감지",
        "position": [
          -1200,
          704
        ],
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e1",
                "name": "workflowId",
                "type": "string",
                "value": "gRhv6ri8Nq5sE1Ol"
              },
              {
                "id": "e2",
                "name": "workflowName",
                "type": "string",
                "value": "n8n Github Sync (노션 메뉴얼 → README)"
              },
              {
                "id": "e3",
                "name": "notionPageId",
                "type": "string",
                "value": "324c6a06e17e81728fb3ccec9d7bae3a"
              },
              {
                "id": "e4",
                "name": "status",
                "type": "string",
                "value": "❌ 에러"
              },
              {
                "id": "e5",
                "name": "errorMessage",
                "type": "string",
                "value": "={{ $json.execution.error.message }}"
              }
            ]
          },
          "options": {}
        },
        "id": "set-error",
        "name": "Set - 에러 데이터",
        "position": [
          -960,
          704
        ],
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "workflowId": "eOopB5bbEEO9rjrg",
          "options": {}
        },
        "id": "status-error",
        "name": "❌ 상태 업데이트 (에러)",
        "position": [
          -720,
          704
        ],
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "d0uNR6Mo92P94Wod"
          },
          "mode": "each",
          "options": {}
        },
        "id": "exec-sub",
        "name": "백업 서브워크플로우 실행",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.1,
        "position": [
          800,
          16
        ]
      },
      {
        "parameters": {
          "workflowId": "eOopB5bbEEO9rjrg",
          "options": {}
        },
        "id": "success-final",
        "name": "✅ 상태 업데이트 (성공)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          992,
          16
        ]
      },
      {
        "id": "set-success",
        "name": "Set - 성공 데이터",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          896,
          120
        ],
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "s1",
                "name": "workflowId",
                "type": "string",
                "value": "gRhv6ri8Nq5sE1Ol"
              },
              {
                "id": "s2",
                "name": "workflowName",
                "type": "string",
                "value": "n8n Github Sync (노션 메뉴얼 → README)"
              },
              {
                "id": "s3",
                "name": "notionPageId",
                "type": "string",
                "value": "324c6a06e17e81728fb3ccec9d7bae3a"
              },
              {
                "id": "s4",
                "name": "status",
                "type": "string",
                "value": "✅ 정상"
              },
              {
                "id": "s5",
                "name": "errorMessage",
                "type": "string",
                "value": ""
              }
            ]
          },
          "options": {}
        }
      }
    ],
    "connections": {
      "Set - 에러 데이터": {
        "main": [
          [
            {
              "index": 0,
              "node": "❌ 상태 업데이트 (에러)",
              "type": "main"
            }
          ]
        ]
      },
      "n8n 전체 WF 목록 조회": {
        "main": [
          [
            {
              "index": 0,
              "node": "노션 DB 조회",
              "type": "main"
            }
          ]
        ]
      },
      "❌ 에러 감지": {
        "main": [
          [
            {
              "index": 0,
              "node": "Set - 에러 데이터",
              "type": "main"
            }
          ]
        ]
      },
      "노션 DB 재조회": {
        "main": [
          [
            {
              "index": 0,
              "node": "목록 준비",
              "type": "main"
            }
          ]
        ]
      },
      "노션 DB 조회": {
        "main": [
          [
            {
              "index": 0,
              "node": "동기화 비교",
              "type": "main"
            }
          ]
        ]
      },
      "노션 DB에 신규 추가": {
        "main": [
          [
            {
              "index": 0,
              "node": "노션 DB 재조회",
              "type": "main"
            }
          ]
        ]
      },
      "노션 아카이브 WF 삭제": {
        "main": [
          [
            {
              "index": 0,
              "node": "삭제 후 노션 DB 재조회",
              "type": "main"
            }
          ]
        ]
      },
      "동기화 비교": {
        "main": [
          [
            {
              "index": 0,
              "node": "작업 분류",
              "type": "main"
            }
          ]
        ]
      },
      "삭제 후 노션 DB 재조회": {
        "main": [
          [
            {
              "index": 0,
              "node": "신규 항목 있는지 확인",
              "type": "main"
            }
          ]
        ]
      },
      "수동 실행": {
        "main": [
          [
            {
              "index": 0,
              "node": "n8n 전체 WF 목록 조회",
              "type": "main"
            }
          ]
        ]
      },
      "신규 항목 있는지 확인": {
        "main": [
          [
            {
              "index": 0,
              "node": "노션 DB 재조회",
              "type": "main"
            }
          ],
          [
            {
              "index": 0,
              "node": "노션 DB에 신규 추가",
              "type": "main"
            }
          ]
        ]
      },
      "작업 분류": {
        "main": [
          [
            {
              "index": 0,
              "node": "노션 아카이브 WF 삭제",
              "type": "main"
            }
          ],
          [
            {
              "index": 0,
              "node": "신규 항목 있는지 확인",
              "type": "main"
            }
          ]
        ]
      },
      "목록 준비": {
        "main": [
          [
            {
              "node": "백업 서브워크플로우 실행",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "백업 서브워크플로우 실행": {
        "main": [
          [
            {
              "node": "Set - 성공 데이터",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set - 성공 데이터": {
        "main": [
          [
            {
              "node": "✅ 상태 업데이트 (성공)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Seung Hyeon Kim",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-04T07:50:17.099Z",
        "id": 455,
        "workflowId": "gRhv6ri8Nq5sE1Ol",
        "versionId": "888680bf-5a46-4f7d-8351-be0ce7644b7f",
        "event": "activated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      },
      {
        "createdAt": "2026-04-04T07:50:17.024Z",
        "id": 454,
        "workflowId": "gRhv6ri8Nq5sE1Ol",
        "versionId": "888680bf-5a46-4f7d-8351-be0ce7644b7f",
        "event": "deactivated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      }
    ]
  }
}