n8n_github_backup/workflow.json
{
  "updatedAt": "2026-02-27T18:24:31.864Z",
  "createdAt": "2025-12-01T21:37:22.774Z",
  "id": "gRhv6ri8Nq5sE1Ol",
  "name": "n8n_github_backup",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        320
      ],
      "id": "c196462d-d5d3-48df-89bb-571f60580b8c",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "url": "https://n8n.math4u.co.kr/api/v1/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -48,
        320
      ],
      "id": "e1d901d0-9ccb-4ee3-bc14-e60fdc288f32",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4vyqQ4BPURG0ufgO",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        160,
        320
      ],
      "id": "9ef23a84-03c7-47f0-bde9-38ea2351de75",
      "name": "Split Out"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "khai2821195",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "name"
        },
        "filePath": "={{ $json.name }}/workflow.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        400,
        320
      ],
      "id": "6e843c73-3014-4d7a-a698-eacd7256d81c",
      "name": "Get File SHA",
      "webhookId": "10a406f9-24fa-4619-80d5-c7a04ec7b2f3",
      "credentials": {
        "githubApi": {
          "id": "h94Cf9O1qGqaxwYw",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "sha-check",
              "leftValue": "={{ $json.sha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        592,
        320
      ],
      "id": "if-sha-exists",
      "name": "File Exists?",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "khai2821195",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "name"
        },
        "filePath": "={{ $node['Split Out'].json.name }}/workflow.json",
        "fileContent": "={{ JSON.stringify($node['Split Out'].json, null, 2) }}",
        "commitMessage": "={{ 'backup: ' + $node['Split Out'].json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        800,
        208
      ],
      "id": "edit-file-node",
      "name": "Edit File",
      "webhookId": "1077b06d-1ec5-4518-810d-9e12bdbe4098",
      "credentials": {
        "githubApi": {
          "id": "h94Cf9O1qGqaxwYw",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "khai2821195",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "name"
        },
        "filePath": "={{ $node['Split Out'].json.name }}/workflow.json",
        "fileContent": "={{ JSON.stringify($node['Split Out'].json, null, 2) }}",
        "commitMessage": "={{ 'backup: ' + $node['Split Out'].json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        800,
        464
      ],
      "id": "create-file-node",
      "name": "Create File",
      "webhookId": "8c8549c0-e838-444f-aa7b-3305aedcdf38",
      "credentials": {
        "githubApi": {
          "id": "h94Cf9O1qGqaxwYw",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyDbkXrokZ61GrhjICBYdqGEdcCpi6X0LK8"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\"system_instruction\":{\"parts\":[{\"text\":\"당신은 n8n 워크플로우 문서화 전문가입니다. 주어진 워크플로우 JSON을 분석하여 아래 형식으로 한국어 README.md를 작성하세요.\\n\\n규칙:\\n- 각 섹션은 간결하게, 핵심만 작성\\n- 불필요한 설명 금지, 중복 내용 금지\\n- 마크다운 형식 엄수\\n\\n# {워크플로우 이름}\\n\\n> 한 줄 요약: 이 워크플로우가 하는 일을 1문장으로.\\n\\n## 🔄 플로우 다이어그램\\n아래 형식으로 노드 간 흐름을 ASCII로 표현하세요. 분기(IF)는 TRUE/FALSE로 표시.\\n```\\n[노드명] → [노드명] → [IF 노드명]\\n                              ├─ TRUE  → [노드명]\\n                              └─ FALSE → [노드명]\\n```\\n각 화살표 옆에 전달되는 핵심 데이터를 간략히 표기하세요. 예: → (workflow JSON)\\n\\n## ⚙️ 노드별 역할 & 데이터 흐름\\n| 노드 | 역할 | 입력 | 출력 |\\n|------|------|------|------|\\n(모든 노드를 표로 정리. 입력/출력은 핵심 필드명만)\\n\\n## 🔑 크리덴셜 & 환경변수\\n| 종류 | 이름/용도 | 필수 여부 |\\n|------|-----------|-----------|\\n(사용된 credential, API key, 환경변수 모두 나열. 없으면 \\\"없음\\\")\\n\\n## ⚡ 실행 조건\\n트리거 방식을 1-2줄로 설명.\\n\\n## ⚠️ 주의사항\\n- (설정 시 주의할 점만 bullet로, 최대 3개)\\n\\n---\\n*자동 생성된 문서 by Gemini*\"}]},\"contents\":[{\"role\":\"user\",\"parts\":[{\"text\":\"다음 n8n 워크플로우 JSON을 분석하여 한국어 README.md를 작성해주세요:\\n\\n\" + JSON.stringify($node['Split Out'].json, null, 2)}]}]}) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 10000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        320
      ],
      "id": "claude-api-node",
      "name": "Gemini API - Generate README",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "readme-content",
              "name": "readmeContent",
              "type": "string",
              "value": "={{ $json.candidates[0].content.parts[0].text }}"
            },
            {
              "id": "workflow-name",
              "name": "workflowName",
              "type": "string",
              "value": "={{ $('Split Out').item.json.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        320
      ],
      "id": "extract-readme-node",
      "name": "Extract README Content"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "khai2821195",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "name"
        },
        "filePath": "={{ $json.workflowName }}/README.md",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1504,
        320
      ],
      "id": "get-readme-sha-node",
      "name": "Get README SHA",
      "webhookId": "99dcff1e-0db8-4ca0-a50d-7a8ee363e716",
      "credentials": {
        "githubApi": {
          "id": "h94Cf9O1qGqaxwYw",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "readme-sha-check",
              "leftValue": "={{ $json.sha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "readme-error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1712,
        320
      ],
      "id": "readme-exists-node",
      "name": "README Exists?",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "khai2821195",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "name"
        },
        "filePath": "={{ $node['Extract README Content'].json.workflowName }}/README.md",
        "fileContent": "={{ $node['Extract README Content'].json.readmeContent }}",
        "commitMessage": "={{ 'docs: update README for ' + $node['Extract README Content'].json.workflowName }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1920,
        208
      ],
      "id": "edit-readme-node",
      "name": "Edit README",
      "webhookId": "5e21e69f-572f-413c-b01b-6042334ce0bd",
      "credentials": {
        "githubApi": {
          "id": "h94Cf9O1qGqaxwYw",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "khai2821195",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "name"
        },
        "filePath": "={{ $node['Extract README Content'].json.workflowName }}/README.md",
        "fileContent": "={{ $node['Extract README Content'].json.readmeContent }}",
        "commitMessage": "={{ 'docs: add README for ' + $node['Extract README Content'].json.workflowName }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1920,
        464
      ],
      "id": "create-readme-node",
      "name": "Create README",
      "webhookId": "852156bb-7736-41d8-a65f-7cf6c0937b86",
      "credentials": {
        "githubApi": {
          "id": "h94Cf9O1qGqaxwYw",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Get File SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File SHA": {
      "main": [
        [
          {
            "node": "File Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Exists?": {
      "main": [
        [
          {
            "node": "Edit File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit File": {
      "main": [
        [
          {
            "node": "Gemini API - Generate README",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create File": {
      "main": [
        [
          {
            "node": "Gemini API - Generate README",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini API - Generate README": {
      "main": [
        [
          {
            "node": "Extract README Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract README Content": {
      "main": [
        [
          {
            "node": "Get README SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get README SHA": {
      "main": [
        [
          {
            "node": "README Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "README Exists?": {
      "main": [
        [
          {
            "node": "Edit README",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create README",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "cc97b09b-1a06-4294-beed-aed077359b40",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-01T21:37:22.778Z",
      "createdAt": "2025-12-01T21:37:22.778Z",
      "role": "workflow:owner",
      "workflowId": "gRhv6ri8Nq5sE1Ol",
      "projectId": "8znYa8Ca7GWeBy0m"
    }
  ],
  "activeVersion": null,
  "tags": []
}