n8n_github_backup/workflow.json
{
  "updatedAt": "2026-02-27T19:02:49.940Z",
  "createdAt": "2025-12-01T21:37:22.774Z",
  "id": "gRhv6ri8Nq5sE1Ol",
  "name": "n8n_github_backup",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -32
      ],
      "id": "c196462d-d5d3-48df-89bb-571f60580b8c",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "url": "https://n8n.math4u.co.kr/api/v1/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        -32
      ],
      "id": "e1d901d0-9ccb-4ee3-bc14-e60fdc288f32",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4vyqQ4BPURG0ufgO",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        144,
        -32
      ],
      "id": "9ef23a84-03c7-47f0-bde9-38ea2351de75",
      "name": "Split Out"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "khai2821195",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "name"
        },
        "filePath": "={{ $json.name }}/workflow.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        352,
        -32
      ],
      "id": "6e843c73-3014-4d7a-a698-eacd7256d81c",
      "name": "Get File SHA",
      "webhookId": "10a406f9-24fa-4619-80d5-c7a04ec7b2f3",
      "credentials": {
        "githubApi": {
          "id": "h94Cf9O1qGqaxwYw",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "sha-check",
              "leftValue": "={{ $json.sha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        -32
      ],
      "id": "if-sha-exists",
      "name": "File Exists?",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "khai2821195",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "name"
        },
        "filePath": "={{ $node['Split Out'].json.name }}/workflow.json",
        "fileContent": "={{ JSON.stringify($node['Split Out'].json, null, 2) }}",
        "commitMessage": "={{ 'backup: ' + $node['Split Out'].json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        832,
        -160
      ],
      "id": "edit-file-node",
      "name": "Edit File",
      "webhookId": "1077b06d-1ec5-4518-810d-9e12bdbe4098",
      "credentials": {
        "githubApi": {
          "id": "h94Cf9O1qGqaxwYw",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "khai2821195",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "name"
        },
        "filePath": "={{ $node['Split Out'].json.name }}/workflow.json",
        "fileContent": "={{ JSON.stringify($node['Split Out'].json, null, 2) }}",
        "commitMessage": "={{ 'backup: ' + $node['Split Out'].json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        832,
        48
      ],
      "id": "create-file-node",
      "name": "Create File",
      "webhookId": "8c8549c0-e838-444f-aa7b-3305aedcdf38",
      "credentials": {
        "githubApi": {
          "id": "h94Cf9O1qGqaxwYw",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        400
      ],
      "id": "claude-api-node",
      "name": "Gemini API - Generate README",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "readme-content",
              "name": "readmeContent",
              "type": "string",
              "value": "={{ $json.candidates[0].content.parts[0].text }}"
            },
            {
              "id": "workflow-name",
              "name": "workflowName",
              "type": "string",
              "value": "={{ $('Split Out').item.json.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        400
      ],
      "id": "extract-readme-node",
      "name": "Extract README Content"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "khai2821195",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "name"
        },
        "filePath": "={{ $json.workflowName }}/README.md",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        624,
        384
      ],
      "id": "get-readme-sha-node",
      "name": "Get README SHA",
      "webhookId": "99dcff1e-0db8-4ca0-a50d-7a8ee363e716",
      "credentials": {
        "githubApi": {
          "id": "h94Cf9O1qGqaxwYw",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "readme-sha-check",
              "leftValue": "={{ $json.sha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "readme-error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        848,
        384
      ],
      "id": "readme-exists-node",
      "name": "README Exists?",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "khai2821195",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "name"
        },
        "filePath": "={{ $node['Extract README Content'].json.workflowName }}/README.md",
        "fileContent": "={{ $node['Extract README Content'].json.readmeContent }}",
        "commitMessage": "={{ 'docs: update README for ' + $node['Extract README Content'].json.workflowName }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1136,
        288
      ],
      "id": "edit-readme-node",
      "name": "Edit README",
      "webhookId": "5e21e69f-572f-413c-b01b-6042334ce0bd",
      "credentials": {
        "githubApi": {
          "id": "h94Cf9O1qGqaxwYw",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "khai2821195",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "name"
        },
        "filePath": "={{ $node['Extract README Content'].json.workflowName }}/README.md",
        "fileContent": "={{ $node['Extract README Content'].json.readmeContent }}",
        "commitMessage": "={{ 'docs: add README for ' + $node['Extract README Content'].json.workflowName }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1136,
        496
      ],
      "id": "create-readme-node",
      "name": "Create README",
      "webhookId": "852156bb-7736-41d8-a65f-7cf6c0937b86",
      "credentials": {
        "githubApi": {
          "id": "h94Cf9O1qGqaxwYw",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Gemini API rate limit 방지용 딜레이\nawait new Promise(resolve => setTimeout(resolve, 5000));\nreturn $input.all();"
      },
      "id": "delay-node",
      "name": "Delay 5s",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "content-not-empty",
              "leftValue": "={{ $json.readmeContent }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "readme-content-check",
      "name": "README Content OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        352,
        400
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Get File SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File SHA": {
      "main": [
        [
          {
            "node": "File Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Exists?": {
      "main": [
        [
          {
            "node": "Edit File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini API - Generate README": {
      "main": [
        [
          {
            "node": "Extract README Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get README SHA": {
      "main": [
        [
          {
            "node": "README Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "README Exists?": {
      "main": [
        [
          {
            "node": "Edit README",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create README",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit File": {
      "main": [
        [
          {
            "node": "Delay 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create File": {
      "main": [
        [
          {
            "node": "Delay 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay 5s": {
      "main": [
        [
          {
            "node": "Gemini API - Generate README",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract README Content": {
      "main": [
        [
          {
            "node": "README Content OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "README Content OK?": {
      "main": [
        [
          {
            "node": "Get README SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "464ec202-5ffe-4447-95e7-652a18436ecb",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-01T21:37:22.778Z",
      "createdAt": "2025-12-01T21:37:22.778Z",
      "role": "workflow:owner",
      "workflowId": "gRhv6ri8Nq5sE1Ol",
      "projectId": "8znYa8Ca7GWeBy0m"
    }
  ],
  "activeVersion": null,
  "tags": []
}