Class_Study 월별 자동생성/workflow.json
{
  "updatedAt": "2026-03-30T23:05:41.999Z",
  "createdAt": "2026-03-07T18:19:56.995Z",
  "id": "n7M2Z2BhVbGNWhqX",
  "name": "Class_Study 월별 자동생성",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 25 * *"
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "Schedule - 매월 25일",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        240
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2d0c6a06-e17e-8104-9eae-c45a7a818f60",
          "mode": "id"
        },
        "returnAll": true,
        "simple": false,
        "options": {}
      },
      "id": "node-get-classes",
      "name": "Notion - Class DB 전체 조회",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -160,
        240
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "node-aggregate",
      "name": "Aggregate - 전체 반 목록 합치기",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        80,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseHour(str) {\n  const m = (str || '').match(/(\\d+)시/);\n  return m ? parseInt(m[1], 10) : 0;\n}\nconst DAY_MAP = { '일': 0, '월': 1, '화': 2, '수': 3, '목': 4, '금': 5, '토': 6 };\nconst now = new Date();\nconst targetYear = now.getMonth() === 11 ? now.getFullYear() + 1 : now.getFullYear();\nconst targetMonth = now.getMonth() === 11 ? 1 : now.getMonth() + 2;\nfunction toKSTDatetime(date, hour) {\n  const yyyy = date.getFullYear();\n  const mm = String(date.getMonth() + 1).padStart(2, '0');\n  const dd = String(date.getDate()).padStart(2, '0');\n  const hh = String(hour).padStart(2, '0');\n  return yyyy + '-' + mm + '-' + dd + 'T' + hh + ':00:00+09:00';\n}\nfunction getDatesInMonth(year, month, dow) {\n  const dates = [];\n  const d = new Date(year, month - 1, 1);\n  while (d.getMonth() === month - 1) {\n    if (d.getDay() === dow) dates.push(new Date(d));\n    d.setDate(d.getDate() + 1);\n  }\n  return dates;\n}\nconst aggregated = $input.first();\nconst classList = aggregated.json.data || [];\nconst records = [];\nfor (const cls of classList) {\n  const props = cls.properties || {};\n  const classId = cls.id;\n  const 반명 = (props['반명']?.title || []).map(t => t.plain_text).join('');\n  const 수업구분Raw = props['수업구분']?.select?.name || '';\n  const totalCount = parseInt((수업구분Raw.match(/(\\d+)/) || ['0','0'])[1], 10);\n  if (totalCount === 0 || !반명) continue;\n  const studentIds = (props['Students']?.relation || []).map(r => r.id);\n  const slots = [];\n  for (let i = 1; i <= 3; i++) {\n    const days = (props['수업 ' + i]?.multi_select || []).map(s => s.name);\n    const times = (props['시간 ' + i]?.multi_select || []).map(s => s.name);\n    for (const day of days) slots.push({ day, hour: times.length > 0 ? parseHour(times[0]) : 0 });\n  }\n  if (slots.length === 0) continue;\n  const allDates = [];\n  for (let si = 0; si < slots.length; si++) {\n    const slot = slots[si];\n    if (!(slot.day in DAY_MAP)) continue;\n    const dates = getDatesInMonth(targetYear, targetMonth, DAY_MAP[slot.day]);\n    for (const d of dates) allDates.push({ date: d, hour: slot.hour, slotIdx: si });\n  }\n  allDates.sort((a, b) => a.date - b.date);\n  const dayWeekCount = {};\n  let seq = 0;\n  for (const entry of allDates) {\n    if (seq >= totalCount) break;\n    seq++;\n    const dow = entry.date.getDay();\n    dayWeekCount[dow] = (dayWeekCount[dow] || 0) + 1;\n    const weekNum = dayWeekCount[dow];\n    records.push({ json: { title: 반명 + ' ' + targetMonth + '월 ' + weekNum + '-' + (entry.slotIdx + 1), datetime: toKSTDatetime(entry.date, entry.hour), classId, studentIds, 반명, seq } });\n  }\n}\nif (records.length === 0) records.push({ json: { skip: true, message: '생성할 레코드 없음' } });\nreturn records;"
      },
      "id": "node-calc-schedule",
      "name": "Code - 수업일정 계산",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/2d0c6a06-e17e-819c-9347-e50501c59069/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { and: [ { property: '수업일정', date: { on_or_after: (() => { const d = new Date(); const y = d.getMonth() === 11 ? d.getFullYear() + 1 : d.getFullYear(); const m = d.getMonth() === 11 ? 1 : d.getMonth() + 2; return new Date(y, m - 1, 1).toISOString().split('T')[0]; })() } }, { property: '수업일정', date: { before: (() => { const d = new Date(); const y = d.getMonth() === 11 ? d.getFullYear() + 1 : d.getFullYear(); const m = d.getMonth() === 11 ? 1 : d.getMonth() + 2; return new Date(y, m, 1).toISOString().split('T')[0]; })() } } ] }, page_size: 100 }) }}",
        "options": {}
      },
      "id": "node-get-existing",
      "name": "HTTP - 다음달 Class_Study 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const candidates = $('Code - 수업일정 계산').all();\nconst httpResponse = $input.first().json;\nconst existingItems = httpResponse.results || [];\nconst now = new Date();\nconst targetYear = now.getMonth() === 11 ? now.getFullYear() + 1 : now.getFullYear();\nconst targetMonth = now.getMonth() === 11 ? 1 : now.getMonth() + 2;\nconst monthStart = new Date(targetYear, targetMonth - 1, 1).getTime();\nconst monthEnd = new Date(targetYear, targetMonth, 1).getTime();\nconst existingSet = new Set();\nconst classLastKajeong = {};\nfor (const item of existingItems) {\n  const props = item.properties || {};\n  const classId = (props['Class']?.relation || [])[0]?.id || null;\n  const dateStr = props['수업일정']?.date?.start || '';\n  if (!classId || !dateStr) continue;\n  const dateTs = new Date(dateStr).getTime();\n  if (dateTs >= monthStart && dateTs < monthEnd) existingSet.add(classId + '__' + dateStr.split('T')[0]);\n  const 과정Names = (props['과정']?.multi_select || []).map(s => s.name);\n  if (과정Names.length > 0) {\n    if (!classLastKajeong[classId] || dateStr > classLastKajeong[classId].date) {\n      classLastKajeong[classId] = { date: dateStr, 과정: 과정Names };\n    }\n  }\n}\nconst results = [];\nfor (const c of candidates) {\n  if (c.json.skip) continue;\n  const dateOnly = (c.json.datetime || '').split('T')[0];\n  const key = c.json.classId + '__' + dateOnly;\n  if (!existingSet.has(key)) {\n    const lastKajeong = classLastKajeong[c.json.classId];\n    results.push({ json: Object.assign({}, c.json, { 과정: lastKajeong ? lastKajeong.과정 : [] }) });\n  }\n}\nif (results.length === 0) results.push({ json: { skip: true, message: '모두 중복 - 생성 없음' } });\nreturn results;"
      },
      "id": "node-dedup",
      "name": "Code - 중복 체크",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "condition-skip"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-skip-check",
      "name": "If - 스킵 체크",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        240
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2d0c6a06-e17e-819c-9347-e50501c59069",
          "mode": "id"
        },
        "title": "={{ $json.title }}",
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "수업일정|date",
              "date": "={{ $json.datetime }}"
            },
            {
              "key": "Class|relation",
              "relationValue": [
                "={{ $json.classId }}"
              ]
            },
            {
              "key": "Students|relation",
              "relationValue": "={{ $json.studentIds }}"
            },
            {
              "key": "과정|multi_select",
              "multiSelectValue": "={{ $json.과정 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-create-class-study",
      "name": "Notion - Class_Study 레코드 생성",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1280,
        240
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "node-aggregate-created",
      "name": "Aggregate - 생성 목록 합치기",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1280,
        480
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = [];\nfor (const item of $input.all()) {\n  const p = item.json;\n  if (!p.id) continue;\n  const props = p.properties || {};\n  const classId = (props['Class']?.relation || [])[0]?.id || null;\n  const dateStart = props['수업일정']?.date?.start || '';\n  const classStudyName = (props['수업구분']?.title || []).map(t => t.plain_text).join('');\n  const students = props['Students']?.relation || [];\n  if (students.length === 0) continue;\n  for (const s of students) {\n    results.push({ json: { studentId: s.id, classStudyId: p.id, classId, dateStart, classStudyName } });\n  }\n}\nif (results.length === 0) return [{ json: { skip: true, message: '배정할 학생 없음' } }];\nreturn results;"
      },
      "id": "node-split-students",
      "name": "Code - Students 분리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        240
      ]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "unit": "seconds",
        "amount": 5
      },
      "id": "node-wait2",
      "name": "Wait - 5초",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1520,
        480
      ],
      "webhookId": "6f3b4de9-d907-448f-b9b4-0c704bb88afe"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const aggregateOutput = $input.first();\nconst allCreated = aggregateOutput.json.data || [];\nif (allCreated.length === 0) return [{ json: { skip: true, message: '생성된 레코드 없음' } }];\nconst groups = {};\nfor (const item of allCreated) {\n  const props = item.properties || {};\n  const classId = (props['Class']?.relation || [])[0]?.id || 'unknown';\n  const dateStr = props['수업일정']?.date?.start || '';\n  const pageId = item.id;\n  if (!pageId) continue;\n  if (!groups[classId]) groups[classId] = [];\n  groups[classId].push({ pageId, dateStr });\n}\nconst pairs = [];\nfor (const classId of Object.keys(groups)) {\n  const items = groups[classId].sort((a, b) => a.dateStr.localeCompare(b.dateStr));\n  for (let i = 0; i < items.length - 1; i++) {\n    if (items[i].pageId && items[i+1].pageId) pairs.push({ json: { currentId: items[i].pageId, nextId: items[i+1].pageId } });\n  }\n}\nif (pairs.length === 0) return [{ json: { skip: true, message: '연결할 쌍 없음' } }];\nreturn pairs;"
      },
      "id": "node-link-next",
      "name": "Code - 다음수업 연결 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-skip-link",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-link",
      "name": "If - 연결 스킵",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2000,
        480
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.studentId }}",
          "mode": "id"
        }
      },
      "id": "node-get-student",
      "name": "Notion - Student 조회",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1744,
        240
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2d0c6a06-e17e-8118-8ce1-dd2f76406aa1",
          "mode": "id"
        },
        "title": "={{ $json.name }} | {{ $('Code - Students 분리').item.json.classStudyName }}",
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "수업일시|date",
              "date": "={{ $('Code - Students 분리').item.json.dateStart }}"
            },
            {
              "key": "Students|relation",
              "relationValue": [
                "={{ $json.id }}"
              ]
            },
            {
              "key": "Class|relation",
              "relationValue": [
                "={{ $('Code - Students 분리').item.json.classId }}"
              ]
            },
            {
              "key": "Class_Study|relation",
              "relationValue": [
                "={{ $('Code - Students 분리').item.json.classStudyId }}"
              ]
            }
          ]
        },
        "options": {}
      },
      "id": "node-create-ss",
      "name": "Notion - Student_Study 생성",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1968,
        240
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Code - Students 분리').item.json.classStudyId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "배정확인|checkbox",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "node-baejeong",
      "name": "Notion - 배정확인",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2192,
        240
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.currentId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "다음수업|relation",
              "relationValue": [
                "={{ $json.nextId }}"
              ]
            }
          ]
        },
        "options": {}
      },
      "id": "node-update-next",
      "name": "Notion - 다음수업 업데이트",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2240,
        560
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "workflowId",
              "type": "string",
              "value": "n7M2Z2BhVbGNWhqX"
            },
            {
              "id": "s2",
              "name": "workflowName",
              "type": "string",
              "value": "Class_Study 월별 자동생성"
            },
            {
              "id": "s3",
              "name": "notionPageId",
              "type": "string",
              "value": "323c6a06e17e817daa0bc4f4b7c1bc98"
            },
            {
              "id": "s4",
              "name": "status",
              "type": "string",
              "value": "✅ 정상"
            },
            {
              "id": "s5",
              "name": "errorMessage",
              "type": "string",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "set-success-data",
      "name": "Set - 성공 데이터",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2432,
        240
      ]
    },
    {
      "parameters": {
        "workflowId": "eOopB5bbEEO9rjrg",
        "options": {}
      },
      "id": "status-success",
      "name": "✅ 상태 업데이트 (성공)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2672,
        240
      ]
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "❌ 에러 감지",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        400,
        512
      ]
    },
    {
      "parameters": {
        "workflowId": "eOopB5bbEEO9rjrg",
        "options": {}
      },
      "id": "status-error",
      "name": "❌ 상태 업데이트 (에러)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        592,
        512
      ]
    },
    {
      "parameters": {
        "content": "## 📋 Class_Study 월별 자동생성\n\n- **트리거**: 매월 25일 자정\n- **목적**: 다음달 수업일정 자동 생성",
        "height": 180,
        "width": 280,
        "color": 4
      },
      "id": "manual-note",
      "name": "📋 워크플로우 메뉴얼",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -640,
        112
      ]
    }
  ],
  "connections": {
    "Schedule - 매월 25일": {
      "main": [
        [
          {
            "node": "Notion - Class DB 전체 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - Class DB 전체 조회": {
      "main": [
        [
          {
            "node": "Aggregate - 전체 반 목록 합치기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate - 전체 반 목록 합치기": {
      "main": [
        [
          {
            "node": "Code - 수업일정 계산",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - 수업일정 계산": {
      "main": [
        [
          {
            "node": "HTTP - 다음달 Class_Study 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - 다음달 Class_Study 조회": {
      "main": [
        [
          {
            "node": "Code - 중복 체크",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - 중복 체크": {
      "main": [
        [
          {
            "node": "If - 스킵 체크",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - 스킵 체크": {
      "main": [
        [],
        [
          {
            "node": "Notion - Class_Study 레코드 생성",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate - 생성 목록 합치기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - Class_Study 레코드 생성": {
      "main": [
        [
          {
            "node": "Code - Students 분리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Students 분리": {
      "main": [
        [
          {
            "node": "Notion - Student 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - Student 조회": {
      "main": [
        [
          {
            "node": "Notion - Student_Study 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - Student_Study 생성": {
      "main": [
        [
          {
            "node": "Notion - 배정확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - 배정확인": {
      "main": [
        [
          {
            "node": "Set - 성공 데이터",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - 성공 데이터": {
      "main": [
        [
          {
            "node": "✅ 상태 업데이트 (성공)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate - 생성 목록 합치기": {
      "main": [
        [
          {
            "node": "Wait - 5초",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - 5초": {
      "main": [
        [
          {
            "node": "Code - 다음수업 연결 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - 다음수업 연결 준비": {
      "main": [
        [
          {
            "node": "If - 연결 스킵",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - 연결 스킵": {
      "main": [
        [],
        [
          {
            "node": "Notion - 다음수업 업데이트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ 에러 감지": {
      "main": [
        [
          {
            "node": "❌ 상태 업데이트 (에러)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule - 매월 1일": {
      "recurrenceRules": []
    },
    "node:Schedule - 매월 25일": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "6b21e232-51ef-4b92-9a26-bd4ef0e73e02",
  "activeVersionId": "6b21e232-51ef-4b92-9a26-bd4ef0e73e02",
  "versionCounter": 131,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-08T17:30:29.523Z",
      "createdAt": "2026-03-08T17:30:29.523Z",
      "role": "workflow:owner",
      "workflowId": "n7M2Z2BhVbGNWhqX",
      "projectId": "8znYa8Ca7GWeBy0m",
      "project": {
        "updatedAt": "2025-11-29T23:05:56.637Z",
        "createdAt": "2025-11-29T23:04:07.777Z",
        "id": "8znYa8Ca7GWeBy0m",
        "name": "Seung Hyeon Kim <khai01@naver.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-30T23:05:42.001Z",
    "createdAt": "2026-03-30T23:05:42.001Z",
    "versionId": "6b21e232-51ef-4b92-9a26-bd4ef0e73e02",
    "workflowId": "n7M2Z2BhVbGNWhqX",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 0 25 * *"
              }
            ]
          }
        },
        "id": "node-schedule",
        "name": "Schedule - 매월 25일",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -400,
          240
        ]
      },
      {
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "2d0c6a06-e17e-8104-9eae-c45a7a818f60",
            "mode": "id"
          },
          "returnAll": true,
          "simple": false,
          "options": {}
        },
        "id": "node-get-classes",
        "name": "Notion - Class DB 전체 조회",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          -160,
          240
        ],
        "credentials": {
          "notionApi": {
            "id": "MAYBu1lbKiMiquHV",
            "name": "n8n-Math4U"
          }
        }
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "id": "node-aggregate",
        "name": "Aggregate - 전체 반 목록 합치기",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          80,
          240
        ]
      },
      {
        "parameters": {
          "jsCode": "function parseHour(str) {\n  const m = (str || '').match(/(\\d+)시/);\n  return m ? parseInt(m[1], 10) : 0;\n}\nconst DAY_MAP = { '일': 0, '월': 1, '화': 2, '수': 3, '목': 4, '금': 5, '토': 6 };\nconst now = new Date();\nconst targetYear = now.getMonth() === 11 ? now.getFullYear() + 1 : now.getFullYear();\nconst targetMonth = now.getMonth() === 11 ? 1 : now.getMonth() + 2;\nfunction toKSTDatetime(date, hour) {\n  const yyyy = date.getFullYear();\n  const mm = String(date.getMonth() + 1).padStart(2, '0');\n  const dd = String(date.getDate()).padStart(2, '0');\n  const hh = String(hour).padStart(2, '0');\n  return yyyy + '-' + mm + '-' + dd + 'T' + hh + ':00:00+09:00';\n}\nfunction getDatesInMonth(year, month, dow) {\n  const dates = [];\n  const d = new Date(year, month - 1, 1);\n  while (d.getMonth() === month - 1) {\n    if (d.getDay() === dow) dates.push(new Date(d));\n    d.setDate(d.getDate() + 1);\n  }\n  return dates;\n}\nconst aggregated = $input.first();\nconst classList = aggregated.json.data || [];\nconst records = [];\nfor (const cls of classList) {\n  const props = cls.properties || {};\n  const classId = cls.id;\n  const 반명 = (props['반명']?.title || []).map(t => t.plain_text).join('');\n  const 수업구분Raw = props['수업구분']?.select?.name || '';\n  const totalCount = parseInt((수업구분Raw.match(/(\\d+)/) || ['0','0'])[1], 10);\n  if (totalCount === 0 || !반명) continue;\n  const studentIds = (props['Students']?.relation || []).map(r => r.id);\n  const slots = [];\n  for (let i = 1; i <= 3; i++) {\n    const days = (props['수업 ' + i]?.multi_select || []).map(s => s.name);\n    const times = (props['시간 ' + i]?.multi_select || []).map(s => s.name);\n    for (const day of days) slots.push({ day, hour: times.length > 0 ? parseHour(times[0]) : 0 });\n  }\n  if (slots.length === 0) continue;\n  const allDates = [];\n  for (let si = 0; si < slots.length; si++) {\n    const slot = slots[si];\n    if (!(slot.day in DAY_MAP)) continue;\n    const dates = getDatesInMonth(targetYear, targetMonth, DAY_MAP[slot.day]);\n    for (const d of dates) allDates.push({ date: d, hour: slot.hour, slotIdx: si });\n  }\n  allDates.sort((a, b) => a.date - b.date);\n  const dayWeekCount = {};\n  let seq = 0;\n  for (const entry of allDates) {\n    if (seq >= totalCount) break;\n    seq++;\n    const dow = entry.date.getDay();\n    dayWeekCount[dow] = (dayWeekCount[dow] || 0) + 1;\n    const weekNum = dayWeekCount[dow];\n    records.push({ json: { title: 반명 + ' ' + targetMonth + '월 ' + weekNum + '-' + (entry.slotIdx + 1), datetime: toKSTDatetime(entry.date, entry.hour), classId, studentIds, 반명, seq } });\n  }\n}\nif (records.length === 0) records.push({ json: { skip: true, message: '생성할 레코드 없음' } });\nreturn records;"
        },
        "id": "node-calc-schedule",
        "name": "Code - 수업일정 계산",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          320,
          240
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.notion.com/v1/databases/2d0c6a06-e17e-819c-9347-e50501c59069/query",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "notionApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ filter: { and: [ { property: '수업일정', date: { on_or_after: (() => { const d = new Date(); const y = d.getMonth() === 11 ? d.getFullYear() + 1 : d.getFullYear(); const m = d.getMonth() === 11 ? 1 : d.getMonth() + 2; return new Date(y, m - 1, 1).toISOString().split('T')[0]; })() } }, { property: '수업일정', date: { before: (() => { const d = new Date(); const y = d.getMonth() === 11 ? d.getFullYear() + 1 : d.getFullYear(); const m = d.getMonth() === 11 ? 1 : d.getMonth() + 2; return new Date(y, m, 1).toISOString().split('T')[0]; })() } } ] }, page_size: 100 }) }}",
          "options": {}
        },
        "id": "node-get-existing",
        "name": "HTTP - 다음달 Class_Study 조회",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          560,
          240
        ],
        "credentials": {
          "notionApi": {
            "id": "MAYBu1lbKiMiquHV",
            "name": "n8n-Math4U"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const candidates = $('Code - 수업일정 계산').all();\nconst httpResponse = $input.first().json;\nconst existingItems = httpResponse.results || [];\nconst now = new Date();\nconst targetYear = now.getMonth() === 11 ? now.getFullYear() + 1 : now.getFullYear();\nconst targetMonth = now.getMonth() === 11 ? 1 : now.getMonth() + 2;\nconst monthStart = new Date(targetYear, targetMonth - 1, 1).getTime();\nconst monthEnd = new Date(targetYear, targetMonth, 1).getTime();\nconst existingSet = new Set();\nconst classLastKajeong = {};\nfor (const item of existingItems) {\n  const props = item.properties || {};\n  const classId = (props['Class']?.relation || [])[0]?.id || null;\n  const dateStr = props['수업일정']?.date?.start || '';\n  if (!classId || !dateStr) continue;\n  const dateTs = new Date(dateStr).getTime();\n  if (dateTs >= monthStart && dateTs < monthEnd) existingSet.add(classId + '__' + dateStr.split('T')[0]);\n  const 과정Names = (props['과정']?.multi_select || []).map(s => s.name);\n  if (과정Names.length > 0) {\n    if (!classLastKajeong[classId] || dateStr > classLastKajeong[classId].date) {\n      classLastKajeong[classId] = { date: dateStr, 과정: 과정Names };\n    }\n  }\n}\nconst results = [];\nfor (const c of candidates) {\n  if (c.json.skip) continue;\n  const dateOnly = (c.json.datetime || '').split('T')[0];\n  const key = c.json.classId + '__' + dateOnly;\n  if (!existingSet.has(key)) {\n    const lastKajeong = classLastKajeong[c.json.classId];\n    results.push({ json: Object.assign({}, c.json, { 과정: lastKajeong ? lastKajeong.과정 : [] }) });\n  }\n}\nif (results.length === 0) results.push({ json: { skip: true, message: '모두 중복 - 생성 없음' } });\nreturn results;"
        },
        "id": "node-dedup",
        "name": "Code - 중복 체크",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          800,
          240
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "leftValue": "={{ $json.skip }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                },
                "id": "condition-skip"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "node-skip-check",
        "name": "If - 스킵 체크",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1040,
          240
        ]
      },
      {
        "parameters": {
          "resource": "databasePage",
          "databaseId": {
            "__rl": true,
            "value": "2d0c6a06-e17e-819c-9347-e50501c59069",
            "mode": "id"
          },
          "title": "={{ $json.title }}",
          "simple": false,
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "수업일정|date",
                "date": "={{ $json.datetime }}"
              },
              {
                "key": "Class|relation",
                "relationValue": [
                  "={{ $json.classId }}"
                ]
              },
              {
                "key": "Students|relation",
                "relationValue": "={{ $json.studentIds }}"
              },
              {
                "key": "과정|multi_select",
                "multiSelectValue": "={{ $json.과정 }}"
              }
            ]
          },
          "options": {}
        },
        "id": "node-create-class-study",
        "name": "Notion - Class_Study 레코드 생성",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          1280,
          240
        ],
        "credentials": {
          "notionApi": {
            "id": "MAYBu1lbKiMiquHV",
            "name": "n8n-Math4U"
          }
        }
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "id": "node-aggregate-created",
        "name": "Aggregate - 생성 목록 합치기",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1280,
          480
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const results = [];\nfor (const item of $input.all()) {\n  const p = item.json;\n  if (!p.id) continue;\n  const props = p.properties || {};\n  const classId = (props['Class']?.relation || [])[0]?.id || null;\n  const dateStart = props['수업일정']?.date?.start || '';\n  const classStudyName = (props['수업구분']?.title || []).map(t => t.plain_text).join('');\n  const students = props['Students']?.relation || [];\n  if (students.length === 0) continue;\n  for (const s of students) {\n    results.push({ json: { studentId: s.id, classStudyId: p.id, classId, dateStart, classStudyName } });\n  }\n}\nif (results.length === 0) return [{ json: { skip: true, message: '배정할 학생 없음' } }];\nreturn results;"
        },
        "id": "node-split-students",
        "name": "Code - Students 분리",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1520,
          240
        ]
      },
      {
        "parameters": {
          "resume": "timeInterval",
          "unit": "seconds",
          "amount": 5
        },
        "id": "node-wait2",
        "name": "Wait - 5초",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1520,
          480
        ],
        "webhookId": "6f3b4de9-d907-448f-b9b4-0c704bb88afe"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const aggregateOutput = $input.first();\nconst allCreated = aggregateOutput.json.data || [];\nif (allCreated.length === 0) return [{ json: { skip: true, message: '생성된 레코드 없음' } }];\nconst groups = {};\nfor (const item of allCreated) {\n  const props = item.properties || {};\n  const classId = (props['Class']?.relation || [])[0]?.id || 'unknown';\n  const dateStr = props['수업일정']?.date?.start || '';\n  const pageId = item.id;\n  if (!pageId) continue;\n  if (!groups[classId]) groups[classId] = [];\n  groups[classId].push({ pageId, dateStr });\n}\nconst pairs = [];\nfor (const classId of Object.keys(groups)) {\n  const items = groups[classId].sort((a, b) => a.dateStr.localeCompare(b.dateStr));\n  for (let i = 0; i < items.length - 1; i++) {\n    if (items[i].pageId && items[i+1].pageId) pairs.push({ json: { currentId: items[i].pageId, nextId: items[i+1].pageId } });\n  }\n}\nif (pairs.length === 0) return [{ json: { skip: true, message: '연결할 쌍 없음' } }];\nreturn pairs;"
        },
        "id": "node-link-next",
        "name": "Code - 다음수업 연결 준비",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1760,
          480
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "cond-skip-link",
                "leftValue": "={{ $json.skip }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "node-if-link",
        "name": "If - 연결 스킵",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2000,
          480
        ]
      },
      {
        "parameters": {
          "resource": "databasePage",
          "operation": "get",
          "pageId": {
            "__rl": true,
            "value": "={{ $json.studentId }}",
            "mode": "id"
          }
        },
        "id": "node-get-student",
        "name": "Notion - Student 조회",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          1744,
          240
        ],
        "credentials": {
          "notionApi": {
            "id": "MAYBu1lbKiMiquHV",
            "name": "n8n-Math4U"
          }
        }
      },
      {
        "parameters": {
          "resource": "databasePage",
          "databaseId": {
            "__rl": true,
            "value": "2d0c6a06-e17e-8118-8ce1-dd2f76406aa1",
            "mode": "id"
          },
          "title": "={{ $json.name }} | {{ $('Code - Students 분리').item.json.classStudyName }}",
          "simple": false,
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "수업일시|date",
                "date": "={{ $('Code - Students 분리').item.json.dateStart }}"
              },
              {
                "key": "Students|relation",
                "relationValue": [
                  "={{ $json.id }}"
                ]
              },
              {
                "key": "Class|relation",
                "relationValue": [
                  "={{ $('Code - Students 분리').item.json.classId }}"
                ]
              },
              {
                "key": "Class_Study|relation",
                "relationValue": [
                  "={{ $('Code - Students 분리').item.json.classStudyId }}"
                ]
              }
            ]
          },
          "options": {}
        },
        "id": "node-create-ss",
        "name": "Notion - Student_Study 생성",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          1968,
          240
        ],
        "credentials": {
          "notionApi": {
            "id": "MAYBu1lbKiMiquHV",
            "name": "n8n-Math4U"
          }
        }
      },
      {
        "parameters": {
          "resource": "databasePage",
          "operation": "update",
          "pageId": {
            "__rl": true,
            "value": "={{ $('Code - Students 분리').item.json.classStudyId }}",
            "mode": "id"
          },
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "배정확인|checkbox",
                "checkboxValue": true
              }
            ]
          },
          "options": {}
        },
        "id": "node-baejeong",
        "name": "Notion - 배정확인",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          2192,
          240
        ],
        "credentials": {
          "notionApi": {
            "id": "MAYBu1lbKiMiquHV",
            "name": "n8n-Math4U"
          }
        }
      },
      {
        "parameters": {
          "resource": "databasePage",
          "operation": "update",
          "pageId": {
            "__rl": true,
            "value": "={{ $json.currentId }}",
            "mode": "id"
          },
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "다음수업|relation",
                "relationValue": [
                  "={{ $json.nextId }}"
                ]
              }
            ]
          },
          "options": {}
        },
        "id": "node-update-next",
        "name": "Notion - 다음수업 업데이트",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          2240,
          560
        ],
        "credentials": {
          "notionApi": {
            "id": "MAYBu1lbKiMiquHV",
            "name": "n8n-Math4U"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "s1",
                "name": "workflowId",
                "type": "string",
                "value": "n7M2Z2BhVbGNWhqX"
              },
              {
                "id": "s2",
                "name": "workflowName",
                "type": "string",
                "value": "Class_Study 월별 자동생성"
              },
              {
                "id": "s3",
                "name": "notionPageId",
                "type": "string",
                "value": "323c6a06e17e817daa0bc4f4b7c1bc98"
              },
              {
                "id": "s4",
                "name": "status",
                "type": "string",
                "value": "✅ 정상"
              },
              {
                "id": "s5",
                "name": "errorMessage",
                "type": "string",
                "value": ""
              }
            ]
          },
          "options": {}
        },
        "id": "set-success-data",
        "name": "Set - 성공 데이터",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2432,
          240
        ]
      },
      {
        "parameters": {
          "workflowId": "eOopB5bbEEO9rjrg",
          "options": {}
        },
        "id": "status-success",
        "name": "✅ 상태 업데이트 (성공)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          2672,
          240
        ]
      },
      {
        "parameters": {},
        "id": "error-trigger",
        "name": "❌ 에러 감지",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          400,
          512
        ]
      },
      {
        "parameters": {
          "workflowId": "eOopB5bbEEO9rjrg",
          "options": {}
        },
        "id": "status-error",
        "name": "❌ 상태 업데이트 (에러)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          592,
          512
        ]
      },
      {
        "parameters": {
          "content": "## 📋 Class_Study 월별 자동생성\n\n- **트리거**: 매월 25일 자정\n- **목적**: 다음달 수업일정 자동 생성",
          "height": 180,
          "width": 280,
          "color": 4
        },
        "id": "manual-note",
        "name": "📋 워크플로우 메뉴얼",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -640,
          112
        ]
      }
    ],
    "connections": {
      "Schedule - 매월 25일": {
        "main": [
          [
            {
              "node": "Notion - Class DB 전체 조회",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notion - Class DB 전체 조회": {
        "main": [
          [
            {
              "node": "Aggregate - 전체 반 목록 합치기",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate - 전체 반 목록 합치기": {
        "main": [
          [
            {
              "node": "Code - 수업일정 계산",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - 수업일정 계산": {
        "main": [
          [
            {
              "node": "HTTP - 다음달 Class_Study 조회",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP - 다음달 Class_Study 조회": {
        "main": [
          [
            {
              "node": "Code - 중복 체크",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - 중복 체크": {
        "main": [
          [
            {
              "node": "If - 스킵 체크",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If - 스킵 체크": {
        "main": [
          [],
          [
            {
              "node": "Notion - Class_Study 레코드 생성",
              "type": "main",
              "index": 0
            },
            {
              "node": "Aggregate - 생성 목록 합치기",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notion - Class_Study 레코드 생성": {
        "main": [
          [
            {
              "node": "Code - Students 분리",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Students 분리": {
        "main": [
          [
            {
              "node": "Notion - Student 조회",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notion - Student 조회": {
        "main": [
          [
            {
              "node": "Notion - Student_Study 생성",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notion - Student_Study 생성": {
        "main": [
          [
            {
              "node": "Notion - 배정확인",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notion - 배정확인": {
        "main": [
          [
            {
              "node": "Set - 성공 데이터",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set - 성공 데이터": {
        "main": [
          [
            {
              "node": "✅ 상태 업데이트 (성공)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate - 생성 목록 합치기": {
        "main": [
          [
            {
              "node": "Wait - 5초",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait - 5초": {
        "main": [
          [
            {
              "node": "Code - 다음수업 연결 준비",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - 다음수업 연결 준비": {
        "main": [
          [
            {
              "node": "If - 연결 스킵",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If - 연결 스킵": {
        "main": [
          [],
          [
            {
              "node": "Notion - 다음수업 업데이트",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "❌ 에러 감지": {
        "main": [
          [
            {
              "node": "❌ 상태 업데이트 (에러)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Seung Hyeon Kim",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-30T23:05:42.168Z",
        "id": 416,
        "workflowId": "n7M2Z2BhVbGNWhqX",
        "versionId": "6b21e232-51ef-4b92-9a26-bd4ef0e73e02",
        "event": "activated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      },
      {
        "createdAt": "2026-03-30T23:05:42.101Z",
        "id": 415,
        "workflowId": "n7M2Z2BhVbGNWhqX",
        "versionId": "6b21e232-51ef-4b92-9a26-bd4ef0e73e02",
        "event": "deactivated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      }
    ]
  }
}