📚 Math4U - 수업 리포트 자동화 (Thinking Flow)/workflow.json
{
  "updatedAt": "2026-03-17T12:35:50.981Z",
  "createdAt": "2026-03-17T12:27:15.787Z",
  "id": "fLXAn8mq5xsr5GNE",
  "name": "📚 Math4U - 수업 리포트 자동화 (Thinking Flow)",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "manual-note",
      "name": "📋 워크플로우 메뉴얼",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -900,
        -300
      ],
      "parameters": {
        "content": "## 📋 수업 리포트 자동화 - The Thinking Flow\n\n### 🎯 목적\n강사(카이)가 수업 후 모바일 폼 제출 → n8n이 AI 리포트 생성 → 학부모에게 카카오알림톡 발송\n\n### 🔄 플로우\n1. **Webhook 수신**: 모바일 폼(구글폼) 제출 데이터 수신\n2. **데이터 파싱**: 학생 이름, 사고력 지표, 유레카 모먼트 추출\n3. **Notion 학생 조회**: 학부모 연락처 및 학생 정보 조회\n4. **AI 리포트 생성**: GPT가 VIP 톤앤매너로 리포트 문장 생성\n5. **알림톡 발송**: 학부모에게 The Thinking Flow 리포트 발송\n6. **Notion 기록**: 발송 이력 노션 DB에 자동 저장\n7. **Slack 알림**: 카이에게 발송 완료 알림\n\n### ⚙️ 모바일 폼 연동\n- Google Forms 또는 Tally 사용\n- Webhook URL을 폼 응답 대상으로 설정",
        "height": 340,
        "width": 400,
        "color": 4
      }
    },
    {
      "id": "webhook-trigger",
      "name": "📱 폼 데이터 수신 (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "math4u-lesson-report",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      }
    },
    {
      "id": "parse-data",
      "name": "📊 데이터 파싱",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        0
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "student-name",
              "name": "studentName",
              "value": "={{ $json.body.studentName ?? $json.studentName ?? '학생명 없음' }}",
              "type": "string"
            },
            {
              "id": "lesson-date",
              "name": "lessonDate",
              "value": "={{ $json.body.lessonDate ?? $json.lessonDate ?? $now.toFormat('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "subject-unit",
              "name": "subjectUnit",
              "value": "={{ $json.body.subjectUnit ?? $json.subjectUnit ?? '' }}",
              "type": "string"
            },
            {
              "id": "discovery",
              "name": "discovery",
              "value": "={{ $json.body.discovery ?? $json.discovery ?? '중' }}",
              "type": "string"
            },
            {
              "id": "generalization",
              "name": "generalization",
              "value": "={{ $json.body.generalization ?? $json.generalization ?? '진행' }}",
              "type": "string"
            },
            {
              "id": "concentration",
              "name": "concentration",
              "value": "={{ $json.body.concentration ?? $json.concentration ?? '보통' }}",
              "type": "string"
            },
            {
              "id": "eureka",
              "name": "eureka",
              "value": "={{ $json.body.eureka ?? $json.eureka ?? '' }}",
              "type": "string"
            },
            {
              "id": "weakness",
              "name": "weakness",
              "value": "={{ $json.body.weakness ?? $json.weakness ?? '' }}",
              "type": "string"
            },
            {
              "id": "presetMessage",
              "name": "presetMessage",
              "value": "={{ $json.body.presetMessage ?? $json.presetMessage ?? '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "notion-student-lookup",
      "name": "🔍 Notion 학생 조회",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        80,
        0
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "229c6a06-e17e-8083-bf21-ec602b6a3033",
          "mode": "id"
        },
        "returnAll": false,
        "limit": 1,
        "simple": false,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "학생이름|title",
              "condition": "equals",
              "value": "={{ $('📊 데이터 파싱').item.json.studentName }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ai-report-generate",
      "name": "🤖 AI 리포트 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        320,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-lite:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendQuery": false,
        "queryParameters": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ contents: [{ parts: [{ text: '당신은 대치Math4U 프리미엄 수학학원의 수업 리포트 작성 전문가입니다.\\n아래 수업 데이터를 바탕으로 학부모에게 전달할 \\'The Thinking Flow(사고의 궤적)\\' 리포트를 작성해주세요.\\n\\n[수업 데이터]\\n- 학생: \\'' + $(\\'📊 데이터 파싱\\').item.json.studentName + \\'\\n- 날짜: \\' + $(\\'📊 데이터 파싱\\').item.json.lessonDate + \\'\\n- 단원: \\' + $(\\'📊 데이터 파싱\\').item.json.subjectUnit + \\'\\n- 원리 발견(Discovery): \\' + $(\\'📊 데이터 파싱\\').item.json.discovery + \\'\\n- 일반화 확장(Generalization): \\' + $(\\'📊 데이터 파싱\\').item.json.generalization + \\'\\n- 논리적 지속성(Concentration): \\' + $(\\'📊 데이터 파싱\\').item.json.concentration + \\'\\n- 유레카 모먼트: \\' + $(\\'📊 데이터 파싱\\').item.json.eureka + \\'\\n- 취약점: \\' + $(\\'📊 데이터 파싱\\').item.json.weakness + \\'\\n- 강사 코멘트: \\' + $(\\'📊 데이터 파싱\\').item.json.presetMessage + \\'\\n\\n[리포트 작성 규칙]\\n1. 카카오알림톡 1,000자 이내로 작성\\n2. 절제되고 전문적인 톤 (에르메스급 품격)\\n3. \\'기본 개념의 일반화\\'\\ub97c 통한 사고력 성장에 포커스\\n4. 학부모가 자녀의 지적 성장을 체감할 수 있도록 구체적으로\\n5. 다음 구조를 반드시 지킬 것:\\n   📌 이번 수업의 핵심 원리 (1문장)\\n   🧠 사고의 흐름 (2-3문장)\\n   ✨ 오늘의 성장 포인트\\n   📖 다음 단계 안내 (1문장)\\n\\nJSON으로만 반환(백틱 없이): {\"reportBody\":\"...\"}\\' }] }], generationConfig: { temperature: 0.7, maxOutputTokens: 800 } }) }}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "parse-ai-response",
      "name": "🔧 AI 응답 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "parameters": {
        "jsCode": "const geminiResponse = $input.item.json;\n\n// Gemini 응답 구조: candidates[0].content.parts[0].text\nlet rawText = '';\ntry {\n  rawText = geminiResponse.candidates[0].content.parts[0].text;\n} catch(e) {\n  rawText = '{\"reportBody\": \"리포트 생성 중 오류가 발생했습니다.\"}';\n}\n\n// JSON 파싱 (마크다운 코드블록 제거 후)\nlet reportBody = '';\ntry {\n  const cleaned = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const parsed = JSON.parse(cleaned);\n  reportBody = parsed.reportBody;\n} catch(e) {\n  reportBody = rawText;\n}\n\nconst studentData = $('📊 데이터 파싱').item.json;\nconst notionData = $('🔍 Notion 학생 조회').item.json;\n\n// 학부모 연락처 추출\nlet parentPhone = '';\ntry {\n  parentPhone = notionData.properties?.['상담연락처']?.phone_number ??\n                notionData.properties?.['학부모연락처']?.phone_number ??\n                notionData.properties?.['연락처']?.phone_number ?? '';\n} catch(e) {\n  parentPhone = '';\n}\n\nreturn [{\n  json: {\n    studentName: studentData.studentName,\n    lessonDate: studentData.lessonDate,\n    parentPhone: parentPhone,\n    reportBody: reportBody,\n    notionPageId: notionData.id ?? ''\n  }\n}];"
      }
    },
    {
      "id": "alimtalk-send",
      "name": "📨 알림톡 발송 (학부모)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api-alimtalk.cloud.toast.com/alimtalk/v2.0/appkeys/YuIB1lEDj8vuqME2/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "X-Secret-Key",
              "value": "BqbvtCkwuidB28H7cuoYGheQ8SyEWOWw"
            },
            {
              "name": "X-App-Key",
              "value": "YuIB1lEDj8vuqME2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"senderKey\": \"7780249050d98477b04a1b589e4794c8ac1f7a78\",\n  \"templateCode\": \"Math4U-report-001\",\n  \"recipientList\": [\n    {\n      \"recipientNo\": \"{{ $json.parentPhone }}\",\n      \"templateParameter\": {\n        \"student_name\": \"{{ $json.studentName }}\",\n        \"lesson_date\": \"{{ $json.lessonDate }}\",\n        \"report_body\": \"{{ $json.reportBody }}\"\n      }\n    }\n  ]\n}",
        "options": {}
      }
    },
    {
      "id": "notion-log",
      "name": "📝 Notion 발송 이력 저장",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1040,
        0
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "LESSON_REPORT_DB_ID",
          "mode": "id"
        },
        "title": "={{ $('🔧 AI 응답 파싱').item.json.studentName + ' - ' + $('🔧 AI 응답 파싱').item.json.lessonDate + ' 수업 리포트' }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "학생이름|title",
              "titleValue": "={{ $('🔧 AI 응답 파싱').item.json.studentName + ' - ' + $('🔧 AI 응답 파싱').item.json.lessonDate }}"
            },
            {
              "key": "수업일|date",
              "dateValue": "={{ $('🔧 AI 응답 파싱').item.json.lessonDate }}"
            },
            {
              "key": "단원|rich_text",
              "textContent": "={{ $('📊 데이터 파싱').item.json.subjectUnit }}"
            },
            {
              "key": "원리발견|select",
              "selectValue": "={{ $('📊 데이터 파싱').item.json.discovery }}"
            },
            {
              "key": "일반화확장|select",
              "selectValue": "={{ $('📊 데이터 파싱').item.json.generalization }}"
            },
            {
              "key": "논리지속성|select",
              "selectValue": "={{ $('📊 데이터 파싱').item.json.concentration }}"
            },
            {
              "key": "유레카모먼트|rich_text",
              "textContent": "={{ $('📊 데이터 파싱').item.json.eureka }}"
            },
            {
              "key": "리포트내용|rich_text",
              "textContent": "={{ $('🔧 AI 응답 파싱').item.json.reportBody }}"
            },
            {
              "key": "발송완료|checkbox",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "slack-notify",
      "name": "🔔 Slack 발송 완료 알림",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1280,
        0
      ],
      "parameters": {
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "=#수업리포트",
          "mode": "id"
        },
        "text": "=✅ 수업 리포트 발송 완료!\n\n👤 학생: {{ $('🔧 AI 응답 파싱').item.json.studentName }}\n📅 수업일: {{ $('🔧 AI 응답 파싱').item.json.lessonDate }}\n📱 발송 번호: {{ $('🔧 AI 응답 파싱').item.json.parentPhone }}\n\n📄 리포트 미리보기:\n{{ $('🔧 AI 응답 파싱').item.json.reportBody.substring(0, 200) }}...",
        "otherOptions": {}
      }
    },
    {
      "id": "error-trigger",
      "name": "❌ 에러 감지",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        320,
        240
      ],
      "parameters": {}
    },
    {
      "id": "status-error",
      "name": "❌ 상태 업데이트 (에러)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        560,
        240
      ],
      "parameters": {
        "workflowId": "eOopB5bbEEO9rjrg",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "workflowId": "NEW_WF_ID",
            "workflowName": "Math4U - 수업 리포트 자동화",
            "status": "❌ 에러",
            "errorMessage": "={{ $json.error.message }}"
          }
        }
      }
    },
    {
      "id": "note-webhook",
      "name": "📌 Webhook 설명",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -460,
        -180
      ],
      "parameters": {
        "content": "## 📱 모바일 폼 연동\n구글폼 또는 Tally에서\n이 Webhook URL로 POST 전송\n\n**필수 필드:**\n- studentName (학생이름)\n- lessonDate (수업날짜)\n- subjectUnit (단원)\n- discovery (상/중/하)\n- generalization (성공/진행/미흡)\n- concentration (높음/보통/낮음)\n- eureka (유레카 모먼트)\n- weakness (취약점)\n- presetMessage (프리셋 메시지)",
        "height": 280,
        "width": 260,
        "color": 5
      }
    },
    {
      "id": "note-ai",
      "name": "📌 AI 리포트 설명",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        260,
        -180
      ],
      "parameters": {
        "content": "## 🤖 AI 리포트 생성\nGemini 3.1 Flash Lite가\n'The Thinking Flow' 리포트 자동 생성\n\n⚠️ API 키 설정 필요:\nQuery Parameter의 key에\nGoogle Gemini API Key 입력",
        "height": 200,
        "width": 260,
        "color": 3
      }
    },
    {
      "id": "note-alimtalk",
      "name": "📌 알림톡 설명",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        740,
        -180
      ],
      "parameters": {
        "content": "## 📨 알림톡 발송\n⚠️ NHN Cloud에서\n템플릿 코드 등록 필요:\n**Math4U-report-001**\n\n템플릿 변수:\n- #{student_name}\n- #{lesson_date}\n- #{report_body}",
        "height": 200,
        "width": 260,
        "color": 6
      }
    },
    {
      "id": "note-notion-log",
      "name": "📌 Notion DB 설명",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        980,
        -180
      ],
      "parameters": {
        "content": "## 📝 Notion 저장\n⚠️ 수업 리포트 전용\nNotion DB 생성 후\nDB ID 입력 필요\n\n**필요 컬럼:**\n학생이름, 수업일, 단원,\n원리발견, 일반화확장,\n논리지속성, 유레카모먼트,\n리포트내용, 발송완료",
        "height": 220,
        "width": 260,
        "color": 7
      }
    }
  ],
  "connections": {
    "📱 폼 데이터 수신 (Webhook)": {
      "main": [
        [
          {
            "node": "📊 데이터 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 데이터 파싱": {
      "main": [
        [
          {
            "node": "🔍 Notion 학생 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Notion 학생 조회": {
      "main": [
        [
          {
            "node": "🤖 AI 리포트 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 AI 리포트 생성": {
      "main": [
        [
          {
            "node": "🔧 AI 응답 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 AI 응답 파싱": {
      "main": [
        [
          {
            "node": "📨 알림톡 발송 (학부모)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📨 알림톡 발송 (학부모)": {
      "main": [
        [
          {
            "node": "📝 Notion 발송 이력 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Notion 발송 이력 저장": {
      "main": [
        [
          {
            "node": "🔔 Slack 발송 완료 알림",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ 에러 감지": {
      "main": [
        [
          {
            "node": "❌ 상태 업데이트 (에러)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "3323b9b4-3438-4d34-9e9b-e18c669761bd",
  "activeVersionId": null,
  "versionCounter": 4,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-17T12:27:15.793Z",
      "createdAt": "2026-03-17T12:27:15.793Z",
      "role": "workflow:owner",
      "workflowId": "fLXAn8mq5xsr5GNE",
      "projectId": "8znYa8Ca7GWeBy0m",
      "project": {
        "updatedAt": "2025-11-29T23:05:56.637Z",
        "createdAt": "2025-11-29T23:04:07.777Z",
        "id": "8znYa8Ca7GWeBy0m",
        "name": "Seung Hyeon Kim <khai01@naver.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}