Daily Report 260118/workflow.json
{
  "updatedAt": "2026-01-21T00:36:14.000Z",
  "createdAt": "2026-01-17T21:16:56.768Z",
  "id": "lSJAFznRUBSnovP8",
  "name": "Daily Report 260118",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "037ed99a-21d5-40c0-b285-a8362db2ffcc",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1040,
        32
      ],
      "id": "621b5ae9-1912-42cd-86a9-44028e591f82",
      "name": "Webhook",
      "webhookId": "037ed99a-21d5-40c0-b285-a8362db2ffcc"
    },
    {
      "parameters": {
        "jsCode": "const data = $json.body.data.properties;\n\n// 📌 숫자 추출 함수\nfunction extractNumber(str) {\n  const match = (str || \"\").match(/\\d+/);\n  return match ? parseInt(match[0], 10) : null;\n}\n\n// 📌 공통 파라미터 (수업 리포트용)\nconst reportParams = {\n  url_day: $json.body.data.id,\n  학생이름: data[\"학생이름(S)\"].formula.string,\n  수업날짜: data[\"수업일시(S)\"].formula.string,\n  요일: data[\"요일\"].formula.string,\n  수업회차: data[\"수업회차(S)\"].formula.string,\n  과정: data[\"과정(S)\"].formula.string,\n  수업내용: data[\"진도/수업 내용\"].rollup.array[0]?.rich_text[0]?.plain_text || \"\"\n};\n\n// 📌 수신자 배열 구성 (수업 리포트)\nconst reportRecipientList = [];\n\nif (data[\"학부모연락처 1(S)\"].formula.string) {\n  reportRecipientList.push({\n    recipientNo: data[\"학부모연락처 1(S)\"].formula.string,\n    templateParameter: reportParams\n  });\n}\n\nif (data[\"학부모연락처 2(S)\"].formula.string) {\n  reportRecipientList.push({\n    recipientNo: data[\"학부모연락처 2(S)\"].formula.string,\n    templateParameter: reportParams\n  });\n}\n\n// 📌 수업료 납부 알림 판단\nconst numFromSession = extractNumber(data[\"수업회차(S)\"].formula.string);\nconst numFromCourse = extractNumber(data[\"과정(S)\"].formula.string);\nconst sendPaymentNotice = (numFromSession !== null && numFromCourse !== null && numFromSession === numFromCourse);\n\n// 📌 수업료 납부 알림용 파라미터\nconst paymentParams = {\n  학생이름: data[\"학생이름(S)\"].formula.string,\n  과정: data[\"과정(S)\"].formula.string,\n  수업료: data[\"수업료(S)\"]?.formula?.string || \"\",\n  납부기한: data[\"납부기한(S)\"]?.formula?.string || \"\"\n};\n\n// 📌 수신자 배열 구성 (수업료 납부 알림)\nconst paymentRecipientList = [];\n\nif (data[\"학부모연락처 1(S)\"].formula.string) {\n  paymentRecipientList.push({\n    recipientNo: data[\"학부모연락처 1(S)\"].formula.string,\n    templateParameter: paymentParams\n  });\n}\n\nif (data[\"학부모연락처 2(S)\"].formula.string) {\n  paymentRecipientList.push({\n    recipientNo: data[\"학부모연락처 2(S)\"].formula.string,\n    templateParameter: paymentParams\n  });\n}\n\nreturn [{\n  json: {\n    // 수업 리포트 발송 데이터\n    reportData: {\n      senderKey: \"7780249050d98477b04a1b589e4794c8ac1f7a78\",\n      templateCode: \"Math4U-edu-2025002\",\n      recipientList: reportRecipientList\n    },\n    // 수업료 납부 알림 발송 데이터\n    paymentData: {\n      senderKey: \"7780249050d98477b04a1b589e4794c8ac1f7a78\",\n      templateCode: \"Math4U-edu-2025004\",\n      recipientList: paymentRecipientList\n    },\n    // 조건 판단 플래그\n    sendPaymentNotice: sendPaymentNotice,\n    // Notion 업데이트용 ID\n    notionPageId: $json.body.data.id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        32
      ],
      "id": "34349a77-a068-4def-87e9-e42256575c0e",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-alimtalk.cloud.toast.com/alimtalk/v2.0/appkeys/YuIB1lEDj8vuqME2/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "X-Secret-Key",
              "value": "BqbvtCkwuidB28H7cuoYGheQ8SyEWOWw"
            },
            {
              "name": "X-App-Key",
              "value": "YuIB1lEDj8vuqME2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.reportData }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -528,
        32
      ],
      "id": "0ab14b49-e5be-4951-9aa4-6a0569b567ff",
      "name": "HTTP Request - 수업 리포트",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4vyqQ4BPURG0ufgO",
          "name": "Header Auth account"
        },
        "httpCustomAuth": {
          "id": "7IkET7kvzmFP3Vr7",
          "name": "Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "payment-notice-condition",
              "leftValue": "={{ $json.sendPaymentNotice }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        32
      ],
      "id": "bc0b2c18-66d2-44db-b197-c698541d60ce",
      "name": "If - 납부 알림 발송 조건"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-alimtalk.cloud.toast.com/alimtalk/v2.0/appkeys/YuIB1lEDj8vuqME2/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "X-Secret-Key",
              "value": "BqbvtCkwuidB28H7cuoYGheQ8SyEWOWw"
            },
            {
              "name": "X-App-Key",
              "value": "YuIB1lEDj8vuqME2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.paymentData }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -80
      ],
      "id": "363bbd24-d3aa-4488-b7cf-9f6ea6ade08f",
      "name": "HTTP Request - 수업료 납부 알림",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4vyqQ4BPURG0ufgO",
          "name": "Header Auth account"
        },
        "httpCustomAuth": {
          "id": "7IkET7kvzmFP3Vr7",
          "name": "Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.data.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "보고서 발송",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        272,
        48
      ],
      "id": "19b053ea-2c3c-458d-839f-dd0528d29f3e",
      "name": "Notion - 발송 완료 체크",
      "credentials": {
        "notionApi": {
          "id": "pzHB4HuYpZevxyT5",
          "name": "Notion account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request - 수업 리포트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - 수업 리포트": {
      "main": [
        [
          {
            "node": "If - 납부 알림 발송 조건",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - 납부 알림 발송 조건": {
      "main": [
        [
          {
            "node": "HTTP Request - 수업료 납부 알림",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notion - 발송 완료 체크",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - 수업료 납부 알림": {
      "main": [
        [
          {
            "node": "Notion - 발송 완료 체크",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "08ebfadd-2cd5-4cd3-b358-008eb46be5a9",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-17T21:16:56.787Z",
      "createdAt": "2026-01-17T21:16:56.787Z",
      "role": "workflow:owner",
      "workflowId": "lSJAFznRUBSnovP8",
      "projectId": "8znYa8Ca7GWeBy0m"
    }
  ],
  "activeVersion": null,
  "tags": []
}