등록일원부 자동생성 260305/workflow.json
{
  "updatedAt": "2026-03-05T11:42:54.670Z",
  "createdAt": "2026-03-05T11:42:54.670Z",
  "id": "BrZ88oo3KRKccX0g",
  "name": "등록일원부 자동생성 260305",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "wh-01",
      "name": "Webhook - 수업회차 종료 감지",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -600,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "enrollment-auto-create",
        "options": {}
      }
    },
    {
      "id": "code-01",
      "name": "Code - 수업회차 종료 체크",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        300
      ],
      "parameters": {
        "jsCode": "const data = $json.body.data.properties;\n\n// 수업회차 종료 formula 값 확인\nconst 수업회차종료 = data['수업회차 종료']?.formula?.boolean || false;\n\nif (!수업회차종료) {\n  // 종료가 아니면 이후 노드 실행 안 함\n  return [];\n}\n\nconst studentName = data['학생이름(S)']?.formula?.string || '';\nconst studentPageId = data['Students']?.relation?.[0]?.id || '';\nconst 다음수업일Raw = data['다음수업일M']?.formula?.string || '';\n\n// 다음수업일 ISO 형식 확인\nlet 다음수업일ISO = '';\nif (다음수업일Raw.match(/^\\d{4}-\\d{2}-\\d{2}/)) {\n  다음수업일ISO = 다음수업일Raw.split('T')[0];\n} else if (다음수업일Raw.match(/^\\d{4}\\/\\d{2}\\/\\d{2}/)) {\n  다음수업일ISO = 다음수업일Raw.replace(/\\//g, '-').split('T')[0];\n} else if (다음수업일Raw.match(/^\\d{2}\\.\\d{2}\\(.*\\)$/)) {\n  // MM.DD(요일) 형식인 경우 연도 보정\n  const now = new Date();\n  const year = now.getFullYear();\n  const match = 다음수업일Raw.match(/^(\\d{2})\\.(\\d{2})/);\n  if (match) {\n    다음수업일ISO = `${year}-${match[1]}-${match[2]}`;\n  }\n}\n\nconst now = new Date();\nconst year = String(now.getFullYear()).slice(2); // '25', '26'\n\nreturn [{\n  json: {\n    studentName,\n    studentPageId,\n    다음수업일ISO,\n    year\n  }\n}];"
      }
    },
    {
      "id": "notion-01",
      "name": "Notion - Students 수업료 조회",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -80,
        300
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.studentPageId }}",
          "mode": "id"
        },
        "simple": true,
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "MAYBu1lbKiMiquHV",
          "name": "n8n-Math4U"
        }
      }
    },
    {
      "id": "code-02",
      "name": "Code - 수업료 추출",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        300
      ],
      "parameters": {
        "jsCode": "const studentData = $json;\nconst prevData = $('Code - 수업회차 종료 체크').item.json;\n\n// Students DB에서 수업료 가져오기\nconst 수업료 = studentData.properties?.['수업료']?.number || 0;\n\nreturn [{\n  json: {\n    studentName: prevData.studentName,\n    studentPageId: prevData.studentPageId,\n    다음수업일ISO: prevData.다음수업일ISO,\n    year: prevData.year,\n    수업료\n  }\n}];"
      }
    },
    {
      "id": "notion-02",
      "name": "Notion - 올해 납부회차 조회",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        440,
        300
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "55aac51e-739c-4f8e-8709-03cb1eb252b6",
          "mode": "id"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Students|relation",
              "condition": "relation",
              "returnValue": "={{ $('Code - 수업료 추출').item.json.studentPageId }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "MAYBu1lbKiMiquHV",
          "name": "n8n-Math4U"
        }
      }
    },
    {
      "id": "code-03",
      "name": "Code - 납부회차 계산",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "jsCode": "const prev = $('Code - 수업료 추출').item.json;\nconst { studentName, studentPageId, 다음수업일ISO, year, 수업료 } = prev;\n\nconst allItems = $input.all();\n\n// 해당 학생의 올해 납부회차 레코드 필터링\nconst studentRecords = allItems.filter(item => {\n  const 회차 = item.json.properties?.['납부회차']?.select?.name || '';\n  return 회차.startsWith(year);\n});\n\n// 최대 회차 번호 계산\nconst existingNumbers = studentRecords.map(item => {\n  const val = item.json.properties?.['납부회차']?.select?.name || '';\n  return parseInt(val.slice(2), 10) || 0;\n});\n\nconst maxSeq = existingNumbers.length > 0 ? Math.max(...existingNumbers) : 0;\nconst nextSeq = maxSeq + 1;\nconst seqStr = String(nextSeq).padStart(2, '0');\nconst 납부회차 = year + seqStr; // 예: '2504'\nconst 레코드이름 = `${studentName} ${납부회차}`;\n\nreturn [{\n  json: {\n    studentPageId,\n    수업료,\n    다음수업일ISO,\n    납부회차,\n    레코드이름\n  }\n}];"
      }
    },
    {
      "id": "notion-03",
      "name": "Notion - 등록일원부 레코드 생성",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        960,
        300
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "55aac51e-739c-4f8e-8709-03cb1eb252b6",
          "mode": "id"
        },
        "simple": true,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "이름|title",
              "titleValue": "={{ $json.레코드이름 }}"
            },
            {
              "key": "Students|relation",
              "relationValue": "={{ $json.studentPageId }}"
            },
            {
              "key": "납부회차|select",
              "selectValue": "={{ $json.납부회차 }}"
            },
            {
              "key": "수업료|number",
              "numberValue": "={{ $json.수업료 }}"
            },
            {
              "key": "등록일|date",
              "dateValue": "={{ $json.다음수업일ISO }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "notionApi": {
          "id": "MAYBu1lbKiMiquHV",
          "name": "n8n-Math4U"
        }
      }
    }
  ],
  "connections": {
    "Webhook - 수업회차 종료 감지": {
      "main": [
        [
          {
            "node": "Code - 수업회차 종료 체크",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - 수업회차 종료 체크": {
      "main": [
        [
          {
            "node": "Notion - Students 수업료 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - Students 수업료 조회": {
      "main": [
        [
          {
            "node": "Code - 수업료 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - 수업료 추출": {
      "main": [
        [
          {
            "node": "Notion - 올해 납부회차 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - 올해 납부회차 조회": {
      "main": [
        [
          {
            "node": "Code - 납부회차 계산",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - 납부회차 계산": {
      "main": [
        [
          {
            "node": "Notion - 등록일원부 레코드 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "ec58c11d-b401-4a4d-b9cd-44023b86c7a4",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-05T11:42:54.675Z",
      "createdAt": "2026-03-05T11:42:54.675Z",
      "role": "workflow:owner",
      "workflowId": "BrZ88oo3KRKccX0g",
      "projectId": "8znYa8Ca7GWeBy0m"
    }
  ],
  "activeVersion": null,
  "tags": []
}