대치Math4U - AI팀 회의실/workflow.json
{
  "updatedAt": "2026-03-17T21:13:58.578Z",
  "createdAt": "2026-03-16T10:37:24.306Z",
  "id": "MZK5Sv9zp1D0OMmx",
  "name": "대치Math4U - AI팀 회의실",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "대치Math4U AI팀 회의 시작",
        "formDescription": "회의 주제를 입력하면 닐·존·빌·팀이 각자의 관점으로 의견을 제시합니다.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "agenda",
              "fieldType": "textarea",
              "placeholder": "예: 3월 신규 수강생 모집 전략",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "form-trigger",
      "name": "회의 시작 폼",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        208,
        304
      ],
      "webhookId": "b874e356-4031-4e1c-8070-af6ead3a3579"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "agenda",
              "name": "agenda",
              "value": "={{ $json.agenda ?? $json['회의 주제 (아젠다)'] ?? '이번 주 주요 업무 논의' }}",
              "type": "string"
            },
            {
              "id": "date",
              "name": "meetingDate",
              "value": "={{ new Date().toLocaleDateString('ko-KR') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "parse-input",
      "name": "입력 파싱",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        304
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=당신은 대치Math4U 수학학원의 콘텐츠 마케터 닐(Neil Patel)입니다.\n[역할] SEO·SNS 콘텐츠 전문가. '이게 검색에 걸릴까?', '학부모가 클릭할까?' 기준으로 발언.\n[말투] 데이터와 트렌드 중심, 활발하고 자신감 있음.\n\n아젠다: {{ $('입력 파싱').item.json.agenda }}\n\n마케팅·콘텐츠 관점에서 3~5문장으로 의견을 말해주세요. 반드시 '닐:' 로 시작하세요."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxOutputTokens": 500
        }
      },
      "id": "neil-gemini",
      "name": "닐 (Neil Patel) - 마케터",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        640,
        304
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=당신은 대치Math4U 수학학원의 디자이너 존(Jony Ive)입니다.\n[역할] 비주얼 기획·브랜드 이미지. Less is more 철학.\n[말투] 간결하고 미학적. 브랜드 일관성, 모바일 가독성 기준.\n\n아젠다: {{ $('입력 파싱').item.json.agenda }}\n\n디자인·비주얼 관점에서 3~5문장으로 의견을 말해주세요. 반드시 '존:' 으로 시작하세요."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxOutputTokens": 500
        }
      },
      "id": "john-gemini",
      "name": "존 (Jony Ive) - 디자이너",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        864,
        304
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=당신은 대치Math4U 수학학원의 운영자동화 담당 빌(Bill Gates)입니다.\n[역할] n8n 자동화·운영 시스템 구축 전문. 서버: n8n.math4u.co.kr\n[말투] 논리적·시스템 지향적. '자동화 가능 여부', '시간 절약' 기준.\n\n아젠다: {{ $('입력 파싱').item.json.agenda }}\n\n운영·자동화 관점에서 3~5문장으로 의견을 말해주세요. 반드시 '빌:' 로 시작하세요."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxOutputTokens": 500
        }
      },
      "id": "bill-gemini",
      "name": "빌 (Bill Gates) - 운영자동화",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1088,
        304
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=당신은 대치Math4U 수학학원의 학생관리·상담보조 팀(Tim Cook)입니다.\n[역할] 학생·학부모 관리 전문. Notion 학생DB, 카카오알림톡.\n[말투] 따뜻하고 세심함. 학생 만족도, 학부모 신뢰 기준.\n\n아젠다: {{ $('입력 파싱').item.json.agenda }}\n\n학생관리·상담 관점에서 3~5문장으로 의견을 말해주세요. 반드시 '팀:' 으로 시작하세요."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxOutputTokens": 500
        }
      },
      "id": "tim-gemini",
      "name": "팀 (Tim Cook) - 학생관리",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1312,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "minutes",
              "name": "minutes",
              "value": "=# 회의록 - {{ $('입력 파싱').item.json.meetingDate }}\n\n## 아젠다\n{{ $('입력 파싱').item.json.agenda }}\n\n## 참석자\n닐 (Neil Patel), 존 (Jony Ive), 빌 (Bill Gates), 팀 (Tim Cook)\n\n---\n\n## 팀원별 발언\n\n{{ $('닐 (Neil Patel) - 마케터').item.json.content.parts[0].text }}\n\n{{ $('존 (Jony Ive) - 디자이너').item.json.content.parts[0].text }}\n\n{{ $('빌 (Bill Gates) - 운영자동화').item.json.content.parts[0].text }}\n\n{{ $json.content.parts[0].text }}\n\n---\n\n## 지니 검토 필요\n> 위 내용을 claude.ai(지니)에게 붙여넣어 종합 및 액션 아이템 확정\n\n## 액션 아이템\n| 담당 | 할 일 | 마감 |\n|------|-------|------|\n| - | 지니 검토 후 작성 | - |",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "build-minutes",
      "name": "회의록 작성",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        576
      ]
    }
  ],
  "connections": {
    "회의 시작 폼": {
      "main": [
        [
          {
            "node": "입력 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "입력 파싱": {
      "main": [
        [
          {
            "node": "닐 (Neil Patel) - 마케터",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "닐 (Neil Patel) - 마케터": {
      "main": [
        [
          {
            "node": "존 (Jony Ive) - 디자이너",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "존 (Jony Ive) - 디자이너": {
      "main": [
        [
          {
            "node": "빌 (Bill Gates) - 운영자동화",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "빌 (Bill Gates) - 운영자동화": {
      "main": [
        [
          {
            "node": "팀 (Tim Cook) - 학생관리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "팀 (Tim Cook) - 학생관리": {
      "main": [
        [
          {
            "node": "회의록 작성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "5d1a0cf1-c340-4714-803a-762ce48353ca",
  "activeVersionId": "f68c7dae-d9c2-47cb-ba4d-231e255b2a4a",
  "versionCounter": 88,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-16T10:37:24.311Z",
      "createdAt": "2026-03-16T10:37:24.311Z",
      "role": "workflow:owner",
      "workflowId": "MZK5Sv9zp1D0OMmx",
      "projectId": "8znYa8Ca7GWeBy0m",
      "project": {
        "updatedAt": "2025-11-29T23:05:56.637Z",
        "createdAt": "2025-11-29T23:04:07.777Z",
        "id": "8znYa8Ca7GWeBy0m",
        "name": "Seung Hyeon Kim <khai01@naver.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-16T21:35:58.543Z",
    "createdAt": "2026-03-16T21:35:58.543Z",
    "versionId": "f68c7dae-d9c2-47cb-ba4d-231e255b2a4a",
    "workflowId": "MZK5Sv9zp1D0OMmx",
    "nodes": [
      {
        "id": "form-trigger",
        "name": "회의 시작 폼",
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.5,
        "position": [
          200,
          300
        ],
        "parameters": {
          "formTitle": "대치Math4U AI팀 회의 시작",
          "formDescription": "회의 주제를 입력하면 닐·존·빌·팀이 각자의 관점으로 의견을 제시합니다.",
          "formFields": {
            "values": [
              {
                "fieldLabel": "agenda",
                "fieldType": "textarea",
                "requiredField": true,
                "placeholder": "예: 3월 신규 수강생 모집 전략"
              }
            ]
          },
          "responseMode": "lastNode",
          "path": "ai-meeting"
        }
      },
      {
        "id": "parse-input",
        "name": "입력 파싱",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          420,
          300
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "agenda",
                "name": "agenda",
                "value": "={{ $json.agenda ?? $json['회의 주제 (아젠다)'] ?? '이번 주 주요 업무 논의' }}",
                "type": "string"
              },
              {
                "id": "date",
                "name": "meetingDate",
                "value": "={{ new Date().toLocaleDateString('ko-KR') }}",
                "type": "string"
              }
            ]
          }
        }
      },
      {
        "id": "neil-gemini",
        "name": "닐 (Neil Patel) - 마케터",
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          640,
          300
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "62k1fQmgnqHiijmw",
            "name": "Google Gemini(PaLM) Api account"
          }
        },
        "parameters": {
          "resource": "text",
          "operation": "message",
          "modelId": {
            "__rl": true,
            "mode": "id",
            "value": "models/gemini-3.1-flash-lite"
          },
          "messages": {
            "values": [
              {
                "role": "user",
                "content": "=당신은 대치Math4U 수학학원의 콘텐츠 마케터 닐(Neil Patel)입니다.\n[역할] SEO·SNS 콘텐츠 전문가. '이게 검색에 걸릴까?', '학부모가 클릭할까?' 기준으로 발언.\n[말투] 데이터와 트렌드 중심, 활발하고 자신감 있음.\n\n아젠다: {{ $('입력 파싱').item.json.agenda }}\n\n마케팅·콘텐츠 관점에서 3~5문장으로 의견을 말해주세요. 반드시 '닐:' 로 시작하세요."
              }
            ]
          },
          "simplify": true,
          "options": {
            "maxOutputTokens": 500
          }
        }
      },
      {
        "id": "john-gemini",
        "name": "존 (Jony Ive) - 디자이너",
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          860,
          300
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "62k1fQmgnqHiijmw",
            "name": "Google Gemini(PaLM) Api account"
          }
        },
        "parameters": {
          "resource": "text",
          "operation": "message",
          "modelId": {
            "__rl": true,
            "mode": "id",
            "value": "models/gemini-3.1-flash-lite"
          },
          "messages": {
            "values": [
              {
                "role": "user",
                "content": "=당신은 대치Math4U 수학학원의 디자이너 존(Jony Ive)입니다.\n[역할] 비주얼 기획·브랜드 이미지. Less is more 철학.\n[말투] 간결하고 미학적. 브랜드 일관성, 모바일 가독성 기준.\n\n아젠다: {{ $('입력 파싱').item.json.agenda }}\n\n디자인·비주얼 관점에서 3~5문장으로 의견을 말해주세요. 반드시 '존:' 으로 시작하세요."
              }
            ]
          },
          "simplify": true,
          "options": {
            "maxOutputTokens": 500
          }
        }
      },
      {
        "id": "bill-gemini",
        "name": "빌 (Bill Gates) - 운영자동화",
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          1080,
          300
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "62k1fQmgnqHiijmw",
            "name": "Google Gemini(PaLM) Api account"
          }
        },
        "parameters": {
          "resource": "text",
          "operation": "message",
          "modelId": {
            "__rl": true,
            "mode": "id",
            "value": "models/gemini-3.1-flash-lite"
          },
          "messages": {
            "values": [
              {
                "role": "user",
                "content": "=당신은 대치Math4U 수학학원의 운영자동화 담당 빌(Bill Gates)입니다.\n[역할] n8n 자동화·운영 시스템 구축 전문. 서버: n8n.math4u.co.kr\n[말투] 논리적·시스템 지향적. '자동화 가능 여부', '시간 절약' 기준.\n\n아젠다: {{ $('입력 파싱').item.json.agenda }}\n\n운영·자동화 관점에서 3~5문장으로 의견을 말해주세요. 반드시 '빌:' 로 시작하세요."
              }
            ]
          },
          "simplify": true,
          "options": {
            "maxOutputTokens": 500
          }
        }
      },
      {
        "id": "tim-gemini",
        "name": "팀 (Tim Cook) - 학생관리",
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          1300,
          300
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "62k1fQmgnqHiijmw",
            "name": "Google Gemini(PaLM) Api account"
          }
        },
        "parameters": {
          "resource": "text",
          "operation": "message",
          "modelId": {
            "__rl": true,
            "mode": "id",
            "value": "models/gemini-3.1-flash-lite"
          },
          "messages": {
            "values": [
              {
                "role": "user",
                "content": "=당신은 대치Math4U 수학학원의 학생관리·상담보조 팀(Tim Cook)입니다.\n[역할] 학생·학부모 관리 전문. Notion 학생DB, 카카오알림톡.\n[말투] 따뜻하고 세심함. 학생 만족도, 학부모 신뢰 기준.\n\n아젠다: {{ $('입력 파싱').item.json.agenda }}\n\n학생관리·상담 관점에서 3~5문장으로 의견을 말해주세요. 반드시 '팀:' 으로 시작하세요."
              }
            ]
          },
          "simplify": true,
          "options": {
            "maxOutputTokens": 500
          }
        }
      },
      {
        "id": "build-minutes",
        "name": "회의록 작성",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1520,
          300
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "minutes",
                "name": "minutes",
                "value": "=# 회의록 - {{ $('입력 파싱').item.json.meetingDate }}\n\n## 아젠다\n{{ $('입력 파싱').item.json.agenda }}\n\n## 참석자\n닐 (Neil Patel), 존 (Jony Ive), 빌 (Bill Gates), 팀 (Tim Cook)\n\n---\n\n## 팀원별 발언\n\n{{ $('닐 (Neil Patel) - 마케터').item.json.content.parts[0].text }}\n\n{{ $('존 (Jony Ive) - 디자이너').item.json.content.parts[0].text }}\n\n{{ $('빌 (Bill Gates) - 운영자동화').item.json.content.parts[0].text }}\n\n{{ $json.content.parts[0].text }}\n\n---\n\n## 지니 검토 필요\n> 위 내용을 claude.ai(지니)에게 붙여넣어 종합 및 액션 아이템 확정\n\n## 액션 아이템\n| 담당 | 할 일 | 마감 |\n|------|-------|------|\n| - | 지니 검토 후 작성 | - |",
                "type": "string"
              }
            ]
          }
        }
      }
    ],
    "connections": {
      "회의 시작 폼": {
        "main": [
          [
            {
              "node": "입력 파싱",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "입력 파싱": {
        "main": [
          [
            {
              "node": "닐 (Neil Patel) - 마케터",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "닐 (Neil Patel) - 마케터": {
        "main": [
          [
            {
              "node": "존 (Jony Ive) - 디자이너",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "존 (Jony Ive) - 디자이너": {
        "main": [
          [
            {
              "node": "빌 (Bill Gates) - 운영자동화",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "빌 (Bill Gates) - 운영자동화": {
        "main": [
          [
            {
              "node": "팀 (Tim Cook) - 학생관리",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "팀 (Tim Cook) - 학생관리": {
        "main": [
          [
            {
              "node": "회의록 작성",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Seung Hyeon Kim",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-16T21:35:58.709Z",
        "id": 348,
        "workflowId": "MZK5Sv9zp1D0OMmx",
        "versionId": "f68c7dae-d9c2-47cb-ba4d-231e255b2a4a",
        "event": "activated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      },
      {
        "createdAt": "2026-03-17T21:13:58.738Z",
        "id": 350,
        "workflowId": "MZK5Sv9zp1D0OMmx",
        "versionId": "f68c7dae-d9c2-47cb-ba4d-231e255b2a4a",
        "event": "activated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      },
      {
        "createdAt": "2026-03-16T21:35:58.621Z",
        "id": 347,
        "workflowId": "MZK5Sv9zp1D0OMmx",
        "versionId": "f68c7dae-d9c2-47cb-ba4d-231e255b2a4a",
        "event": "deactivated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      },
      {
        "createdAt": "2026-03-17T21:13:58.654Z",
        "id": 349,
        "workflowId": "MZK5Sv9zp1D0OMmx",
        "versionId": "f68c7dae-d9c2-47cb-ba4d-231e255b2a4a",
        "event": "deactivated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      }
    ]
  }
}