Class_Study → Student_Study 수업일정 동기화/workflow.json
{
  "updatedAt": "2026-03-07T11:23:03.000Z",
  "createdAt": "2026-03-02T09:18:28.694Z",
  "id": "G5k8fgeviVCR8ixe",
  "name": "Class_Study → Student_Study 수업일정 동기화",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "node-trigger",
      "name": "Class_Study 변경 감지",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "2d0c6a06e17e819c9347e50501c59069",
          "mode": "id"
        },
        "simple": false
      }
    },
    {
      "id": "node-extract",
      "name": "수업일정 및 학생ID 추출",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "parameters": {
        "jsCode": "const page = $input.first().json;\n\nconst scheduleProp = page.properties?.['수업일정'];\nlet startDate = null;\nlet endDate = null;\n\nif (scheduleProp?.type === 'date' && scheduleProp?.date) {\n  startDate = scheduleProp.date.start;\n  endDate = scheduleProp.date.end || null;\n}\n\nif (!startDate) {\n  return [{ json: { skip: true, reason: '수업일정 날짜 없음', studentIds: [] } }];\n}\n\nlet studentIds = [];\nfor (const [key, value] of Object.entries(page.properties || {})) {\n  if (value.type === 'relation' && value.relation && value.relation.length > 0) {\n    studentIds = value.relation.map(r => r.id);\n    break;\n  }\n}\n\nif (studentIds.length === 0) {\n  return [{ json: { skip: true, reason: '연결된 학생 레코드 없음', studentIds: [] } }];\n}\n\nreturn studentIds.map(id => ({\n  json: { skip: false, studentPageId: id, startDate, endDate }\n}));"
      }
    },
    {
      "id": "node-if",
      "name": "업데이트 필요 여부",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-update",
      "name": "Student_Study 수업일시 업데이트",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        920,
        180
      ],
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.studentPageId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "수업일시|date",
              "date": "={{ $json.startDate }}",
              "includeTime": true,
              "dateEnd": "={{ $json.endDate !== null ? $json.endDate : '' }}"
            }
          ]
        }
      }
    },
    {
      "id": "node-skip-log",
      "name": "스킵 로그",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        920,
        420
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Class_Study 변경 감지": {
      "main": [
        [
          {
            "node": "수업일정 및 학생ID 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "수업일정 및 학생ID 추출": {
      "main": [
        [
          {
            "node": "업데이트 필요 여부",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "업데이트 필요 여부": {
      "main": [
        [
          {
            "node": "Student_Study 수업일시 업데이트",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "스킵 로그",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Class_Study 변경 감지": {
      "lastTimeChecked": "2026-04-02T09:01:00.000Z",
      "possibleDuplicates": [
        "333c6a06-e17e-8102-972e-d169273fae62",
        "333c6a06-e17e-81d3-a2b6-db12734441b5",
        "333c6a06-e17e-81de-bc3c-d5778d5f0857",
        "333c6a06-e17e-81c7-8197-e42fdb812343",
        "333c6a06-e17e-8156-9ab1-f476a7cd029c",
        "333c6a06-e17e-81a6-9c6a-e021b7de480f",
        "333c6a06-e17e-81ef-a738-eec0ab4ef3fa",
        "333c6a06-e17e-8195-bd83-d64b8a2f9032",
        "333c6a06-e17e-8168-8870-fcf050830d3b",
        "333c6a06-e17e-81f4-877a-f992c963e888",
        "333c6a06-e17e-8136-a96f-d9cc0e284718",
        "333c6a06-e17e-81e1-9660-ec3aa10dc864",
        "333c6a06-e17e-8193-9ddd-c72482da6627",
        "333c6a06-e17e-81b1-adae-f4d93082dd57",
        "333c6a06-e17e-81ee-a33c-e663c1b68ede",
        "333c6a06-e17e-8129-a8ae-e0b4cfd5026d",
        "333c6a06-e17e-8173-881b-d98f0660ec17",
        "333c6a06-e17e-8163-b381-de37fbedd416",
        "333c6a06-e17e-8148-867d-df167474e62d",
        "333c6a06-e17e-8110-a752-da9a28aabfe6",
        "333c6a06-e17e-811f-9e42-c3b165e13318"
      ]
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "a97e5d82-0e32-4f13-8565-bf933878fb4c",
  "activeVersionId": "a97e5d82-0e32-4f13-8565-bf933878fb4c",
  "versionCounter": 87,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-07T11:23:03.669Z",
      "createdAt": "2026-03-07T11:23:03.669Z",
      "role": "workflow:owner",
      "workflowId": "G5k8fgeviVCR8ixe",
      "projectId": "8znYa8Ca7GWeBy0m",
      "project": {
        "updatedAt": "2025-11-29T23:05:56.637Z",
        "createdAt": "2025-11-29T23:04:07.777Z",
        "id": "8znYa8Ca7GWeBy0m",
        "name": "Seung Hyeon Kim <khai01@naver.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-16T00:18:25.000Z",
    "createdAt": "2026-03-02T09:49:00.335Z",
    "versionId": "a97e5d82-0e32-4f13-8565-bf933878fb4c",
    "workflowId": "G5k8fgeviVCR8ixe",
    "nodes": [
      {
        "id": "node-trigger",
        "name": "Class_Study 변경 감지",
        "type": "n8n-nodes-base.notionTrigger",
        "typeVersion": 1,
        "position": [
          200,
          300
        ],
        "parameters": {
          "event": "pagedUpdatedInDatabase",
          "databaseId": {
            "__rl": true,
            "value": "2d0c6a06e17e819c9347e50501c59069",
            "mode": "id"
          },
          "simple": false
        },
        "credentials": {
          "notionApi": {
            "id": "MAYBu1lbKiMiquHV",
            "name": "n8n-Math4U"
          }
        }
      },
      {
        "id": "node-extract",
        "name": "수업일정 및 학생ID 추출",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          440,
          300
        ],
        "parameters": {
          "jsCode": "const page = $input.first().json;\n\nconst scheduleProp = page.properties?.['수업일정'];\nlet startDate = null;\nlet endDate = null;\n\nif (scheduleProp?.type === 'date' && scheduleProp?.date) {\n  startDate = scheduleProp.date.start;\n  endDate = scheduleProp.date.end || null;\n}\n\nif (!startDate) {\n  return [{ json: { skip: true, reason: '수업일정 날짜 없음', studentIds: [] } }];\n}\n\nlet studentIds = [];\nfor (const [key, value] of Object.entries(page.properties || {})) {\n  if (value.type === 'relation' && value.relation && value.relation.length > 0) {\n    studentIds = value.relation.map(r => r.id);\n    break;\n  }\n}\n\nif (studentIds.length === 0) {\n  return [{ json: { skip: true, reason: '연결된 학생 레코드 없음', studentIds: [] } }];\n}\n\nreturn studentIds.map(id => ({\n  json: { skip: false, studentPageId: id, startDate, endDate }\n}));"
        }
      },
      {
        "id": "node-if",
        "name": "업데이트 필요 여부",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          680,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "cond-skip",
                "leftValue": "={{ $json.skip }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "node-update",
        "name": "Student_Study 수업일시 업데이트",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.2,
        "position": [
          920,
          180
        ],
        "parameters": {
          "resource": "databasePage",
          "operation": "update",
          "pageId": {
            "__rl": true,
            "value": "={{ $json.studentPageId }}",
            "mode": "id"
          },
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "수업일시|date",
                "date": "={{ $json.startDate }}",
                "includeTime": true,
                "dateEnd": "={{ $json.endDate !== null ? $json.endDate : '' }}"
              }
            ]
          }
        },
        "credentials": {
          "notionApi": {
            "id": "MAYBu1lbKiMiquHV",
            "name": "n8n-Math4U"
          }
        }
      },
      {
        "id": "node-skip-log",
        "name": "스킵 로그",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          920,
          420
        ],
        "parameters": {}
      }
    ],
    "connections": {
      "Class_Study 변경 감지": {
        "main": [
          [
            {
              "node": "수업일정 및 학생ID 추출",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "수업일정 및 학생ID 추출": {
        "main": [
          [
            {
              "node": "업데이트 필요 여부",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "업데이트 필요 여부": {
        "main": [
          [
            {
              "node": "Student_Study 수업일시 업데이트",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "스킵 로그",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Seung Hyeon Kim",
    "name": "Version a97e5d82",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-02T09:49:00.940Z",
        "id": 33,
        "workflowId": "G5k8fgeviVCR8ixe",
        "versionId": "a97e5d82-0e32-4f13-8565-bf933878fb4c",
        "event": "activated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      },
      {
        "createdAt": "2026-03-16T00:18:25.240Z",
        "id": 315,
        "workflowId": "G5k8fgeviVCR8ixe",
        "versionId": "a97e5d82-0e32-4f13-8565-bf933878fb4c",
        "event": "activated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      },
      {
        "createdAt": "2026-03-02T09:49:00.471Z",
        "id": 32,
        "workflowId": "G5k8fgeviVCR8ixe",
        "versionId": "a97e5d82-0e32-4f13-8565-bf933878fb4c",
        "event": "deactivated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      },
      {
        "createdAt": "2026-03-05T09:07:03.393Z",
        "id": 46,
        "workflowId": "G5k8fgeviVCR8ixe",
        "versionId": "a97e5d82-0e32-4f13-8565-bf933878fb4c",
        "event": "deactivated",
        "userId": "908d862a-8cbe-4bae-b84d-739dcab4c3cb"
      }
    ]
  }
}